<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>rss订阅中心 {$SEO['site_title']}</title>
<meta name="Keywords" content="rss订阅,rss阅读器,rss新闻订阅,怎样订阅rss" />
<meta name="Description" content="RSS聚合新闻服务的优势体现在只需在RSS新闻阅读器内订阅自己感兴趣的栏目链接，就可以通过RSS新闻阅读器自动获取这些栏目最新的报道消息。" />
<link rel="shortcut icon" href="{APP_PATH}favicon.ico" />
<link href="{APP_PATH}statics/default/css/reset.css" rel="stylesheet" type="text/css" />
<link href="{APP_PATH}statics/default/css/default_blue.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}dialog.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="{JS_PATH}dialog.js"></script>
<style type="text/css">
.header,.main,.footer{width:940px;margin:0 auto; overflow:auto}
.kr-nav .nav-link a {padding: 0 3px;}
</style>
</head>
<body class="rss-channel">
    <div class="body-top special-body-top">
        <div class="content">
       {template "ssi","ssi_8"}
        </div>
    </div>
    <div class="header">
</div>