<!DOCTYPE html>
<html>
<head>
	<meta charset="gbk"/>
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
	<link href="{APP_PATH}favicon.ico" rel="shortcut icon" type="image/x-icon"/>
	<link href="{APP_PATH}statics/default/css/esf/reset.css"  rel="stylesheet" type="text/css"/>
	<link href="{APP_PATH}statics/default/css/esf/esf.css"  rel="stylesheet" type="text/css"/>
	<script src="{APP_PATH}statics/default/js/esf/sea.js"  type="text/javascript"></script>
</head>
<body>
	<div id="main">
		<div id="header">
	{template "ssi","ssi_8"}
<script type="text/javascript">
seajs.use("topbarlogin")
</script>	<h1>
		<a href="{APP_PATH}"  title="{$site_title}" class="logo fl">
			<img src="{APP_PATH}statics/default/img/logo.png" alt="{$SEO['site_title']}" width="150" height="50"/></a>
		</h1>
	<div id="Search">
		<ul class="searchURL">
			<li><a href="{HOUSE_PATH}"  target="_blank">新房</a></li>
			<li><a href="{ESF_PATH}list.html"  target="_blank">二手房</a></li>
			<li class="on"><a href="{ESF_PATH}rent-list.html"  target="_blank">出租房</a></li>
			<li class="more"><a href="javascript:void(0)">更多<em></em></a>
				<div>
					<a href="{catlink(6)}"  target="_blank">资讯</a>
					<a href="{BBS_PATH}"  target="_blank">论坛</a>
				</div>
			</li>
		</ul>
		<a href="{ESF_PATH}rent-map.html"  class="mapS" target="_blank">地图找房</a>
<?php
$param = $_GET['param'];
	if(!empty($param)&&stristr($param,'-')!=false)
	{
		$param_arr = explode('-', $param);
		foreach($param_arr as $_v) {
				if($_v) 
				{
					if(preg_match ( '/([a-z])([0-9_]+)/', $_v, $matchs))
					{
						$$matchs[1] = trim($matchs[2]);
					}
				}
			}
		$parentid = $r;
		$bid = $b;
		$eprice = $e;
		$marea = $m;
		$range = $p;
		$type = $t;
		$fix = $f;
		$source = $u;
		$rent_type = $l;
		$opentime = $o;
		$hot = $h;
		$ord = $n;
		$area = $c;
		$page = $g;
	}
	else
	{
 	$parentid = intval($_GET['r']);
	$bid = intval($_GET['b']);
	$eprice = trim($_GET['e']);
	$marea = trim($_GET['m']);
	$range = intval($_GET['p']);
	$type = intval($_GET['t']);
	$fix = intval($_GET['f']);
	$rent_type = intval($_GET['l']);
	$source = intval($_GET['u']);
	$opentime = intval($_GET['o']);
	$hot = intval($_GET['h']);
	$ord = intval($_GET['n']);
	$area = intval($_GET['c']);
	$page = intval($_GET['g']);
	$keyword = trim($_GET['keyword']);
	$k = trim($_GET['k']);
	}
	$where = "status=99 and house_status=1";
	if(!empty($keyword))
	{
		$keyword1 = iconv('gbk', 'utf-8', $keyword);//rewrite 只支持UTF-8编码的中文
		$lst1.= "-k".htmlentities(urlencode($keyword1));
		$where.=" and (`title` like '%$keyword%' or `address` like '%$keyword%' )";
	}
	if(!empty($k))
	{
		$keyword = iconv('utf-8','gbk' , $k);
		$lst1.= "-k".htmlentities(urlencode($k));
		$where.=" and (`communityname` like '%$keyword%')";
		$lstaddr.= "<em>".$keyword."<a href=\"rent-list.html\"></a></em>";
	}
 	if(!empty($parentid))
	{
		$lst = "-r".$parentid;
	}
	if(!empty($bid))
	{
		$lst.= "-b".$bid;
	}
	if(!empty($parentid) && !empty($bid))
	{
		$where.=" and `region`=$bid";
	}
	elseif(!empty($parentid) && empty($bid))//区域顶级
	{
		$arrchildid = get_arrchildid('3360',$parentid);
		$where.=" and `region` in ($arrchildid)";
	}
	if(!empty($eprice))
	{
		if(stripos($eprice,'_')!==false)
		{
			$pricearr = explode('_',$eprice);
			$minprice = intval($pricearr[0]);
			$maxprice = intval($pricearr[1]);
			if($maxprice>0)
			{
				$lst.= "-e".$eprice;
				$where.=" and `price`>$minprice and `price`<=$maxprice";
				if($minprice==0)
				{
					$range_name = $maxprice."元以下";
				}
				else
				{
					$range_name = $minprice."-".$maxprice."元";
				}
			}
		}
		else
		{
			$minprice = $eprice;
			$lst.= "-e".$eprice;
			$where.=" and `price`>$eprice";
			$range_name = $eprice."元以上";
		}
		
	}
	if(!empty($range))
	{
		$lst.= "-p".$range;
		$where.=" and `range`=$range";
		if($range==1)
		{
			$range_name="600以下";
		}
		elseif($range==2)
		{
			$range_name="600-1000元";
		}
		elseif($range==3)
		{
			$range_name="1000-1500元";
		}
		elseif($range==4)
		{
			$range_name="1500-2000元";
		}
		elseif($range==5)
		{
			$range_name="2000-2500元";
		}
		elseif($range==6)
		{
			$range_name="2500-3000元";
		}
		elseif($range==7)
		{
			$range_name="3000-4000元";
		}
		elseif($range==8)
		{
			$range_name="4000-5000元";
		}
		elseif($range==9)
		{
			$range_name="5000以上";
		}
	}
	if(!empty($type))
	{
		$lst.= "-t".$type;
		$where.=" and `huxingshi`=$type";
		if($type==1)
		{
			$type_name="一室";
		}
		elseif($type==2)
		{
			$type_name="二室";
		}
		elseif($type==3)
		{
			$type_name="三室";
		}
		elseif($type==4)
		{
			$type_name="四室";
		}
		else
		{
			$type_name="其他";
		}
	}
	if(!empty($fix))
	{
		$lst.= "-f".$fix;
		$where.=" and `fix`=$fix";
		if($fix==1)
		{
			$fix_name = "毛坯";
		}
		elseif($fix==2)
		{
			$fix_name = "精装";
		}
		elseif($fix==3)
		{
			$fix_name = "中等装修";
		}
		elseif($fix==4)
		{
			$fix_name = "简装";
		}
		elseif($fix==5)
		{
			$fix_name = "豪华装修";
		}
		elseif($fix==6)
		{
			$fix_name = "原房";
		}
	}
	if(!empty($rent_type))
	{
		$lst.= "-l".$rent_type;
		$where.=" and `rent_type`='$rent_type'";
		if($rent_type==1)
		{
			$rent_type_name = "整租";
		}
		elseif($rent_type==2)
		{
			$rent_type_name = "合租";
		}
		elseif($rent_type==3)
		{
			$rent_type_name = "日租";
		}
	}
	if(!empty($source))
	{
		$lst.= "-u".$source;
		if($source==1)
		{
			$source_name = "个人";
			$where.=" and isbroker=0";
		}
		elseif($source==2)
		{
			$source_name = "中介";
			$where.=" and isbroker=1";
		}
	}
	if(!empty($marea))
	{
		if(stripos($marea,'_')!==false)
		{
			$areaarr = explode('_',$marea);
			$minarea = intval($areaarr[0]);
			$maxarea = intval($areaarr[1]);
			if($maxarea>0)
			{
				$lst.= "-m".$marea;
				$where.=" and `total_area`>$minarea and `total_area`<=$maxarea";
				if($minarea==0)
				{
					$area_name = $maxarea."平米以下";
				}
				else
				{
					$area_name = $minarea."-".$maxarea."平米";
				}
			}
		}
		else
		{
			$minarea = $marea;
			$lst.= "-m".$marea;
			$where.=" and `total_area`>$marea";
			$area_name = $marea."平米以上";
		}
	}
	if(!empty($area))
	{
		$lst.= "-c".$area;
		$where.=" and `area_range`=$area";
		if($area==1)
		{
			$area_name="70平米以下";
		}
		elseif($area==3)
		{
			$area_name="70-90平米";
		}
		elseif($area==4)
		{
			$area_name="90-120平米";
		}
		elseif($area==5)
		{
			$area_name="120-150平米";
		}
		elseif($area==6)
		{
			$area_name="150-200平米";
		}
		elseif($area==7)
		{
			$area_name="200-300平米";
		}
		elseif($area==8)
		{
			$area_name="300平米以上";
		}
	}
	if(!empty($opentime))
	{
		$lst.= "-o".$opentime;
		if($opentime=='2')
		{
			$where.=" and DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 3 DAY),'%Y%m%d')<= FROM_UNIXTIME(inputtime,'%Y%m%d')";//3天内
			$opentime_name= "3天内";
		}
		elseif($opentime=='3')
		{
			$where.=" and DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 7 DAY),'%Y%m%d')<= FROM_UNIXTIME(inputtime,'%Y%m%d')";//7天内
			$opentime_name= "7天内";
		}
		elseif($opentime=='4')
		{
			$where.=" and DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 15 DAY),'%Y%m%d')<= FROM_UNIXTIME(inputtime,'%Y%m%d')";//15天内
			$opentime_name= "15天内";
		}
		elseif($opentime=='5')
		{
			$where.=" and DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 30 DAY),'%Y%m%d')<= FROM_UNIXTIME(inputtime,'%Y%m%d')";//30天内
			$opentime_name= "30天内";
		}
	}
	if(!empty($hot))
	{
			$where.=" and `flag` like '%$hot%'";
			$lst.= "-h".$hot;
	}
	if(!empty($ord))
	{
		if($ord=='2')
		{
			$order="  CAST(`total_area` AS SIGNED) DESC";
			$order_name = "面积从大到小";
		}
		elseif($ord=='3')
		{
			$order=" CAST(`total_area` AS SIGNED) ASC";
			$order_name = "面积从小到大";
		}
		elseif($ord=='6')
		{
			$order=" CAST(price AS SIGNED) DESC";
			$order_name = "租金从高到低";
		}
		elseif($ord=='7')
		{
			$order=" CAST(price AS SIGNED) ASC";
			$order_name = "租金从低到高";
		}
		else
		{
			$order="  `listorder` desc,`updatetime` DESC";
			$order_name = "默认排序";
		}
		$lst.= "-n".$ord;
	}
	else
	{
		$order = " `listorder` desc,`updatetime` DESC";
		$order_name = "默认排序";
	}
	?>
		<div id="qy">
			{if !empty($parentid)}
			{php $menu_info = menu_info('3360',$parentid)}
			<span>{$menu_info[0]}</span>
			{else}
			<span>区域/地铁</span>
			{/if}
			<div>
				<a data-val="" href="javascript:void(0)">全部区县</a>
				{h5:content action="getlinkage" keyid="3360" parentid="0" order="listorder ASC" cache="86400"}
{loop $data $r}
<?php
 	$reg = explode('$$', $r);//add by L 2012/3/22
	?>
	<a {if !empty($parentid) && $parentid==$reg[0]} class="on"{/if} href="javascript:void(0)" data-val="-r{$reg[0]}">{$reg[1]}</a>											
	{/loop}
{/h5}
												</div>
		</div>
		<div data-k = "平" id="wy" data-val="{if !empty($marea)}-m{$marea}{/if}">
			<span>{if !empty($area_name)}{$area_name}{else}面积{/if}</span>
			<div>
				<a data-val="" href="javascript:void(0)">全部</a>
											<a {if $area=="1"} class="on"{/if} href="javascript:void(0)" data-val="-c1">70平米以下</a>
											<a {if $area=="3"} class="on"{/if} href="javascript:void(0)" data-val="-c3">70-90平米</a>
											<a {if $area=="4"} class="on"{/if} href="javascript:void(0)" data-val="-c4">90-120平米</a>
											<a {if $area=="5"} class="on"{/if} href="javascript:void(0)" data-val="-c5">120-150平米</a>
											<a {if $area=="6"} class="on"{/if} href="javascript:void(0)" data-val="-c6">150-200平米</a>
											<a {if $area=="7"} class="on"{/if} href="javascript:void(0)" data-val="-c7">200-300平米</a>
											<a {if $area=="8"} class="on"{/if} href="javascript:void(0)" data-val="-c8">300平米以上</a>
												</div>
		</div>
		<div data-k = "万" id="jg" data-val="{if !empty($eprice)}-e{$eprice}{/if}">
			<span>{if !empty($range_name)}{$range_name}{else}价格范围{/if}</span>
			<div>
				<a data-val="" href="javascript:void(0)">全部</a>
											<a {if $range=="1"} class="on"{/if} href="javascript:void(0)" data-val="-p1">600元以下</a>
											<a {if $range=="3"} class="on"{/if} href="javascript:void(0)" data-val="-p3">600-1000元</a>
											<a {if $range=="4"} class="on"{/if} href="javascript:void(0)" data-val="-p4">1000-1500元</a>
											<a {if $range=="5"} class="on"{/if} href="javascript:void(0)" data-val="-p5">1500-2000元</a>
											<a {if $range=="6"} class="on"{/if} href="javascript:void(0)" data-val="-p6">2000-2500元</a>
											<a {if $range=="7"} class="on"{/if} href="javascript:void(0)" data-val="-p7">2500-3000元</a>
											<a {if $range=="8"} class="on"{/if} href="javascript:void(0)" data-val="-p8">3000-4000元</a>
											<a {if $range=="9"} class="on"{/if} href="javascript:void(0)" data-val="-p9">4000元以上</a>
												</div>
		</div>
		<div id="shx">
			<span>{if !empty($type_name)}{$type_name}{else}户型{/if}</span>
			<div>
				<a data-val="" href="javascript:void(0)">全部</a>
											<a {if $type=="1"}  class="on"{/if} href="javascript:void(0)" data-val="-t1">一室</a>
											<a {if $type=="2"}  class="on"{/if} href="javascript:void(0)" data-val="-t2">二室</a>
											<a {if $type=="3"}  class="on"{/if} href="javascript:void(0)" data-val="-t3">三室</a>
											<a {if $type=="4"}  class="on"{/if} href="javascript:void(0)" data-val="-t4">四室</a>
											<a {if $type=="5"}  class="on"{/if} href="javascript:void(0)" data-val="-t5">其它</a>
												</div>
		</div>
		<input type="text" data-val="{if empty($k)}请输入关键字（楼盘名或地名）{else}{$keyword}{/if}" value="{if empty($k)}请输入关键字（楼盘名或地名）{else}{$keyword}{/if}">
		<button> </button>
	</div>
	<div id="indexMenu"> 
		<em class="r2"></em>
		<div id="newMenu">
	<a href="javascript:void(0)" class="fir">网站导航</a>
	{template "ssi","ssi_12"}
</div>
<script type="text/javascript">
seajs.use("jquery",function($){
	var $newMenu=$("#newMenu")
	$newMenu.hover(function(){
		$newMenu.addClass("on")
	},function(){
		$newMenu.removeClass("on")
	}).find("li").hover(function(){
		$(this).addClass("on")
	},function(){
		$(this).removeClass("on")
	})
})
</script>		<ul class="menuL">
			<li >
				<a href="{ESF_PATH}" >首页<em></em></a>
			</li>
			<li>
				<a href="{ESF_PATH}list.html" >出售房源<em></em></a>
			<li class="s">
				<a href="{ESF_PATH}rent-list.html" >出租房源<em></em></a>
			</li>
			<li>
				<a href="{ESF_PATH}map.html"  target="_blank">地图找房<em></em></a>
			</li>
			<li >
				<a href="{ESF_PATH}xiaoqu-list.html" >小区找房<em></em></a>
			</li>
			<li >
				<a href="{ESF_PATH}jingjiren" >经纪人<em></em></a>
			</li>
			<li>
				<a href="{catlink(6)}"  target="_blank">资讯<em></em></a>
			</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	seajs.use(["jquery","hsearch"],function($){
		$("#Search").hSearch("rent-list","{APP_PATH}api.php?op=esfsuggest");
		$("#jg,#wy").each(function(){
			var $t=$(this);
			var t=$t.attr("data-val");
			if(t){
				$t.data("val",$t.attr("data-val"));
				var k=$t.attr("data-k");
				t=t.substring(2).split("_");
				if(t[0]==0)
					$t.find("span").html(t[1]+k+"以下");
				else if(t.length==1)
					$t.find("span").html(t[0]+k+"以上");
				else
					$t.find("span").html(t.join("-")+k);
			}
		});
	})
</script>		<div class="bread">
			您当前的位置：<a href="{APP_PATH}" >{$site_title}</a> &gt;
			<a href="{ESF_PATH}" >{$default_city}二手房网</a> &gt;
			房源列表
		</div>
		<div class="modB">
	<a href="{ESF_PATH}chuzu.html"  target="_blank" class="fbfr">个人免费发布房源</a>
	<ul class="modTab">
	<li class="on"><a href="{ESF_PATH}rent-list.html" >全部房源</a></li>
	<li><a href="{ESF_PATH}map.html"  target="_blank">地图找房</a></li>
	<li><a href="{ESF_PATH}xiaoqu-list.html"  target="_blank">小区找房</a></li>
	<li></li>
</ul>
<div class="conl1" id="conl1">
	<div class="cf" style="padding-top:9px;">
			<span class="a_name">区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域：</span>
			<span>
				<a href="rent-list{deal_str($lst,'r')}.html" {if empty($parentid)}  class="c" {/if}>不限</a>
{h5:content action="getlinkage" keyid="3360" parentid="0" order="listorder ASC" cache="86400"}
{loop $data $r}
<?php
 	$reg = explode('$$', $r);//add by L 2012/3/22
	if(!empty($parentid) && $parentid==$reg[0] && empty($bid))
	{
		$lstaddr.= "<em>".$reg[1]."<a href=\"rent-list".deal_str($lst,'r').".html\"></a></em>";
	}
	?>
	<a href="rent-list-r{$reg[0]}{deal_str($lst,'r')}.html" {if !empty($parentid) && $parentid==$reg[0]} class="c"{/if}>{$reg[1]}</a>
	{/loop}
{/h5}
	                			  				</span>
{if $parentid}
{h5:content action="getlinkage" keyid="3360" parentid="$parentid" order="listorder ASC" cache="86400"}
{if $data}
												<!--以下是板块信息，点击区域后才出现的-->
												<span class="i">
				<a href="rent-list{deal_str($lst,'b')}.html" {if empty($bid)} class="c"{/if}>不限</a>
				{loop $data $r}
			<?php
				$reg2 = explode('$$', $r);//add by L 2012/3/22
				if(!empty($bid) && $bid==$reg2[0])
				{
					$lstaddr.= "<em>".$reg2[1]."<a href=\"rent-list".deal_str($lst,'r').".html\"></a></em>";
				}
				?>
				               		<a href="rent-list{deal_str($lst,'b')}-b{$reg2[0]}.html" {if !empty($bid) && $bid==$reg2[0]} class="c"{/if}>{$reg2[1]}</a>
									{/loop}
               				</span>
{/if}
{/h5}
{/if}
					</div>
		<div class="cf">
			<span class="a_name">租&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;金：</span>
			<span>
				<a {if empty($range)} class="c"{/if} href="rent-list{deal_str($lst,'p')}.html" >不限</a>
				<a href="rent-list{deal_str($lst,'p')}-p1.html" {if $range=="1"} class="c"{/if}>600以下</a>     
				<a href="rent-list{deal_str($lst,'p')}-p3.html" {if $range=="3"} class="c"{/if}>600-1000元</a>  
				<a href="rent-list{deal_str($lst,'p')}-p4.html" {if $range=="4"} class="c"{/if}>1000-1500元</a>  
				<a href="rent-list{deal_str($lst,'p')}-p5.html" {if $range=="5"} class="c"{/if}>1500-2000元</a> 
				<a href="rent-list{deal_str($lst,'p')}-p6.html" {if $range=="6"} class="c"{/if}>2000-2500元</a>
				<a href="rent-list{deal_str($lst,'p')}-p7.html" {if $range=="7"} class="c"{/if}>2500-3000元</a>
				<a href="rent-list{deal_str($lst,'p')}-p8.html" {if $range=="8"} class="c"{/if}>3000-4000元</a>
				<a href="rent-list{deal_str($lst,'p')}-p9.html" {if $range=="9"} class="c"{/if}>4000以上</a>    
				<?php
			if(!empty($range_name))
				{
					$lstaddr.= "<em>".$range_name."<a href=\"rent-list".deal_str($lst,'p').".html\"></a></em>";
				}
			?>
              										<div class="autoF">
					<form action="rent-list{deal_str($lst,'p')}-e" method="get">
						<input type="text" value="{$minprice}"> - 
						<input type="text" value="{$maxprice}"> 元
						<button type="button"></button>
					</form>
				</div>
			</span>
		</div>
		<div class="cf">
			<span class="a_name">面&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;积：</span>
			<span>
				<a href="rent-list{deal_str($lst,'c')}.html" {if empty($area)} class="c"{/if}  >不限</a>
							   	               	<a href="rent-list{deal_str($lst,'c')}-c1.html" {if $area=="1"} class="c"{/if}>70平米以下</a> 
               	               	<a href="rent-list{deal_str($lst,'c')}-c3.html" {if $area=="3"} class="c"{/if}>70-90平米</a> 
               	               	<a href="rent-list{deal_str($lst,'c')}-c4.html" {if $area=="4"} class="c"{/if}>90-120平米</a> 
               	               	<a href="rent-list{deal_str($lst,'c')}-c5.html" {if $area=="5"} class="c"{/if}>120-150平米</a> 
               	               	<a href="rent-list{deal_str($lst,'c')}-c6.html" {if $area=="6"} class="c"{/if}>150-200平米</a> 
               	               	<a href="rent-list{deal_str($lst,'c')}-c7.html" {if $area=="7"} class="c"{/if}>200-300平米</a> 
               	               	<a href="rent-list{deal_str($lst,'c')}-c8.html" {if $area=="8"} class="c"{/if}>300平米以上</a> 
					<?php
			if(!empty($area_name))
				{
					$lstaddr.= "<em>".$area_name."<a href=\"rent-list".deal_str($lst,'c').".html\"></a></em>";
				}
			?>
               				   				   	<div class="autoF">
					<form action="rent-list{deal_str($lst,'c')}-m" method="get">
						<input type="text" value="{$minarea}"> - 
						<input type="text" value="{$maxarea}"> 平
						<button type="button"></button>
					</form>
				</div>
			</span>
		</div>
		<div class="cf">
			<span class="a_name">户&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型：</span>
			<span>
				<a href="rent-list{deal_str($lst,'t')}.html"  {if empty($type)} class="c" {/if}>不限</a>
							   	    <a href="rent-list{deal_str($lst,'t')}-t1.html" {if $type=="1"} class="c" {/if}>一室</a> 
               	               		<a href="rent-list{deal_str($lst,'t')}-t2.html" {if $type=="2"} class="c" {/if}>二室</a> 
               	               		<a href="rent-list{deal_str($lst,'t')}-t3.html" {if $type=="3"} class="c" {/if}>三室</a> 
               	               		<a href="rent-list{deal_str($lst,'t')}-t4.html" {if $type=="4"} class="c" {/if}>四室</a> 
               	               		<a href="rent-list{deal_str($lst,'t')}-t5.html" {if $type=="5"} class="c" {/if}>其它</a> 
               				   				</span>
					<?php
			if(!empty($type))
				{
					$lstaddr.= "<em>".$type_name."<a href=\"rent-list".deal_str($lst,'t').".html\"></a></em>";
				}
			?>
		</div>
		<div class="cf">
			<span class="a_name">来&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;源：</span>
			<span>
				<a href="rent-list{deal_str($lst,'u')}.html" {if empty($source)} class="c" {/if}>不限</a> 
				<a href="rent-list{deal_str($lst,'u')}-u2.html" {if $source=="2"} class="c" {/if}>中介</a> 
				<a href="rent-list{deal_str($lst,'u')}-u1.html" {if $source=="1"} class="c" {/if}>个人</a> 
			</span>
				<?php
			if(!empty($source))
				{
					$lstaddr.= "<em>".$source_name."<a href=\"rent-list".deal_str($lst,'u').".html\"></a></em>";
				}
			?>
		</div>		
		<div class="cf">
			<span class="a_name">方&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;式：</span>
			<span>
				<a href="rent-list{deal_str($lst,'l')}.html" {if empty($rent_type)} class="c" {/if}>不限</a>
				                    <a href="rent-list{deal_str($lst,'l')}-l1.html" {if $rent_type=="1"} class="c" {/if}>整租</a>
                                	<a href="rent-list{deal_str($lst,'l')}-l2.html" {if $rent_type=="2"} class="c" {/if}>合租</a>
                                	<a href="rent-list{deal_str($lst,'l')}-l3.html" {if $rent_type=="3"} class="c" {/if}>日租</a>
                                			</span>
			<?php
			if(!empty($rent_type))
				{
					$lstaddr.= "<em>".$rent_type_name."<a href=\"rent-list".deal_str($lst,'l').".html\"></a></em>";
				}
			?>
		</div>
		<div class="cf">
			<span class="a_name">装&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;修：</span>
			<span>
				<a href="rent-list{deal_str($lst,'f')}.html" {if empty($fix)} class="c" {/if}>不限</a>
							   		<a href="rent-list{deal_str($lst,'f')}-f1.html" {if $fix=="1"} class="c" {/if}>毛坯</a> 
               	               		<a href="rent-list{deal_str($lst,'f')}-f2.html" {if $fix=="2"} class="c" {/if}>精装</a> 
               	               		<a href="rent-list{deal_str($lst,'f')}-f3.html" {if $fix=="3"} class="c" {/if}>中等装修</a> 
               	               		<a href="rent-list{deal_str($lst,'f')}-f4.html" {if $fix=="4"} class="c" {/if}>简装</a> 
               	               		<a href="rent-list{deal_str($lst,'f')}-f5.html" {if $fix=="5"} class="c" {/if}>豪华装修</a> 
               	               		<a href="rent-list{deal_str($lst,'f')}-f6.html" {if $fix=="6"} class="c" {/if}>原房</a> 
               				   				</span>
			<?php
			if(!empty($fix))
				{
					$lstaddr.= "<em>".$fix_name."<a href=\"rent-list".deal_str($lst,'f').".html\"></a></em>";
				}
			?>
		</div>
		<div class="cf">
			<span class="a_name">发布时间：</span>
			<span>
					<a href="rent-list{deal_str($lst,'o')}.html"  {if empty($opentime)} class="c" {/if}>不限</a> 
					<a href="rent-list{deal_str($lst,'o')}-o2.html" {if $opentime=="2"} class="c" {/if} >3天内发布</a>
					<a href="rent-list{deal_str($lst,'o')}-o3.html" {if $opentime=="3"}  class="c" {/if}>7天内发布</a>
					<a href="rent-list{deal_str($lst,'o')}-o4.html" {if $opentime=="4"}  class="c" {/if}>15天内发布</a>
					<a href="rent-list{deal_str($lst,'o')}-o5.html" {if $opentime=="5"}  class="c" {/if}>30天内发布</a>
					</span>
			<?php
			if(!empty($opentime))
				{
					$lstaddr.= "<em>".$opentime_name."<a href=\"rent-list".deal_str($lst,'o').".html\"></a></em>";
				}
			?>
		</div>
		<div class="cf b">
			<span class="a_name">您已选择：</span>
			<span> {if empty($lstaddr)}
								<em>无<a href="javascript:void(0)"></a></em>
					{else}{$lstaddr}
				<a href="rent-list.html"  class="cle">清空搜索条件</a>
				{/if}
			</span>
		</div>
	</div>
</div>		<div class="cf">
			<div class="w720 fl">
				<div class="Tle cf">
					<div class="fl">
						<a {if empty($hot)} class="A"{else} class="B"{/if} href="rent-list.html" >全部房源</a>
	                	<a {if $hot=="1"} class="A"{else} class="B"{/if} href="rent-list{deal_str($lst,'u')}-h1.html" >新推房源</a>
	                	<a {if $hot=="3"} class="A"{else} class="B"{/if} href="rent-list{deal_str($lst,'u')}-h3.html" >急售房源</a>
	                	<a {if $hot=="2"} class="A"{else} class="B"{/if} href="rent-list{deal_str($lst,'u')}-h2.html" >推荐房源</a>
						<a {if $hot=="4"} class="A"{else} class="B"{/if} href="rent-list{deal_str($lst,'u')}-h4.html" >多图房源</a>
	                	<a {if $source=="1"} class="D"{else} class="C"{/if} href="rent-list{deal_str($lst,'u')}-u1.html" >个人</a>
					</div>
					<div class="tel_page fr">
						<span>
							共找到 <strong class="red" id="num"></strong>条房源
						</span>
						<a class="pre" href="rent-list{deal_str($lst,'g')}-g1.html" ></a>
						<span class="num">1</span>
						<a class="next" href="rent-list{deal_str($lst,'g')}-g2.html" >下一页</a>
					</div>
				</div>
				<div class="Tle2">
					<form action="{ESF_PATH}rent-list-search" method="post">
						<input id="hname" type="text" name="keyword" data-val="{if empty($k)}小区/地址/标题{else}{$keyword}{/if}" value="{if empty($k)}小区/地址/标题{else}{$keyword}{/if}" class="txt" autocomplete="off">
						<input id="kwsearch" type="submit" name="" class="btn" value="">
					</form>
					<div class="TelIcon fr">
						<a href="{if $ord==2}rent-list{deal_str($lst,'n')}-n3.html{else}rent-list{deal_str($lst,'n')}-n2.html{/if}"  class="A1 {if $ord==2}down{/if}{if $ord==3}up{/if}">面积</a>
						<a href="{if $ord==6}rent-list{deal_str($lst,'n')}-n7.html{else}rent-list{deal_str($lst,'n')}-n6.html{/if}"  class="A1 {if $ord==6}down{/if}{if $ord==7}up{/if}">租金</a>
						<a id="B1" class="B1" href="javascript:void(0)"></a>
						<a id="B2" class="B2h" href="javascript:void(0)"></a>
						<a id="B3" class="B3" href="javascript:void(0)"></a>
					</div>
					<div class="s_list fr" id="s_list1">
						<span>{$order_name}</span>
						<ul>
							<li>
								<a href="rent-list{deal_str($lst,'n')}-n2.html" >面积从大到小</a>
							</li>
							<li>
								<a href="rent-list{deal_str($lst,'n')}-n3.html" >面积从小到大</a>
							</li>
							<li>
								<a href="rent-list{deal_str($lst,'n')}-n6.html" >租金从高到低</a>
							</li>
							<li>
								<a href="rent-list{deal_str($lst,'n')}-n7.html" >租金从低到高</a>
							</li>
						</ul>
					</div>
				</div>
								<!--list-->
{h5:content action="lists" catid="$catid" where="$where" num="10" lst="$lst" order="$order" page="$page" moreinfo="1" cache="10800"}<!-- 楼盘列表 -->
	<table id="FyList" class="FyList">
	{loop $data $r}
	{php $relationxq = get_relationxq($r[id],$catid,110)}
	{php $menu_info = menu_info('3360',$r[region])}
	{php $pic_num = count(string2array($r[house_pic]))+count(string2array($r[house_room]))+count(string2array($r[house_outdoor]))}
			<tr>
			<td class="pic">
				<a href="{ESF_PATH}rent-show-{$r[id]}.html"  title="{$r[title]}" target="_blank">
					<img data-src="{if !empty($r[thumb])}{thumb($r[thumb],130,90)}{else}{APP_PATH}statics/default/img/esf/nopic_100x75.gif{/if}"  alt="{$r[title]}">
				{if $pic_num}<span class="picnumber">{$pic_num}图</span>{/if}
									</a>
			</td>
			<td class="info">
				<h5>
					<a href="{ESF_PATH}rent-show-{$r[id]}.html"  title="{$r[title]}" target="_blank">{$r[title]}</a>
					{if $r[listorder]>0}
					<img src="{APP_PATH}statics/default/img/esf/icon-ding.gif" alt="置顶楼盘" title="置顶楼盘" style="vertical-align:middle" />
					{/if}
					<?php $flag = explode(',', $r[flag]);
						foreach ($flag as $t => $c) {
					if(intval($c))
					{
						if($c=='5')
						{
					echo '<img src="'.APP_PATH.'statics/default/img/esf/icon-more-28x16.gif" alt="多图楼盘" title="多图楼盘" style="vertical-align:middle" />';		
						}
						if($c=='3')
						{
					echo '<img src="'.APP_PATH.'statics/default/img/esf/tag_urgent2.gif" alt="推荐楼盘" title="推荐楼盘" style="vertical-align:middle" />';		
						}
						if($c=='2')
						{
					echo '<img src="'.APP_PATH.'statics/default/img/esf/tag_urgent3.gif" alt="急售楼盘" title="急售楼盘" style="vertical-align:middle" />';		
						}
						if($c=='1')
						{
					echo '<img src="'.APP_PATH.'statics/default/img/esf/tag_urgent1.gif" alt="新推楼盘" title="新推楼盘" style="vertical-align:middle" />';		
						}
					}
				}?>									</h5>
				<p>
					<a href="{ESF_PATH}xiaoqu-show-{$relationxq[id]}.html"  target="_blank" title="{$relationxq['title']}">{$relationxq['title']}</a> {$menu_info[0]} {$relationxq['address']}<br>
					{$r[huxingshi]}室{$r[huxingting]}厅					{$r[total_area]}平米
					{getbox_val('41','fix',$r['fix'])}					{if $r[rent_type]==1}整租{elseif $r[rent_type]==2}合租{else}日租{/if}					楼层：{$r[floor]}/{$r[zonglouceng]}					<br>
										{if $r[isbroker]}<A href="{ESF_PATH}jingjiren-{$r[uid]}" target="_blank">{$r[username]}</A>{else}{$r[username]}{if !$r[isbroker]}(个人){/if}{/if}			  
					{format::sgmdate('Y-m-d H:i:s',$r[updatetime],1)} 更新
				</p>
			</td>
			<td class="area">{$r[total_area]}平米</td>
			<td class="price">
				<strong>{$r[price]}元/月</strong>
			</td>
			<td class=""> </td>	
		</tr>
	{/loop}
		</table>
	{/h5}
	<div class="pagination" >
		{$housepages}</div>
							</div>
			<div class="w230 fr">
				<div class="modC">
	<h4 class="modBT"><sub></sub>
		我的浏览记录
	</h4>
	<?php
 if(isset($recentlyEsfrent))
 {
	$prowhere = implode(',',$recentlyEsfrent);
}
 ?>
{if $prowhere}
    {php $sql = "id in($prowhere) ORDER BY listorder DESC,inputtime DESC";}
    {h5:content action="lists" catid="$catid" where="$sql" num="10" cache="3600"}
	<ul class="t3List">
	{loop $data $r}
		{php $relationxq = get_relationxq($r[id],$catid,110)}
				<li>
			<span class="lettsub7"><a href="{ESF_PATH}rent-show-{$r[id]}.html" title="{$r[title]}" target="_blank">{$relationxq[title]}</a></span>
			<span class="w2">{$r[total_area]}㎡</span>
			<span class="w3">{$r[price]}元/月</span>
		</li>
		{/loop}
		{/h5}
			</ul>
	{/if}
	</div>				<div class="modC">
	<h4 class="modBT"><sub></sub>
		经纪人排行
	</h4>
	 
	<ul class="jjrl">
		{h5:member action="memberlist" type="1" order="point DESC"  num="5"}
	{loop $data['result'] $k $v} 
				<li>
			<a href="{ESF_PATH}jingjiren-{$v['userid']}"  class="jAvatar" target="_blank">
				<img src="{$v[avatar]}" >
			</a>
			<p>
				<a href="{ESF_PATH}jingjiren-{$v['userid']}" >{$v[truename]}</a>
				<img src="{APP_PATH}statics/default/img/esf/{$v['groupicon']}"  border="0" align="absmiddle" title="等级：{$v['groupname']} 积分：{$v['point']}" /><br>{php $district_info = menu_info('4000',$v[district])}
					区域：{$district_info[0]}<br>电话：{$v[tel]}			</p>
		</li>
		{/loop}
	{/h5}
			</ul>
	</div>                <div class="mt10"></div>
<!--r二手房广告 二手房列表页-画中画1-->
			</div>	
		</div>
        
		<!--热点搜索-->
<div class="hota">
	<!--热门小区-->
	<div class="hot cf">
	<!--相关信息-->
	<div class="hot cf">
		<span class="hot_fenlei">{$default_city}二手房相关信息:</span>
		<p class="hot_link">
			<a target="_blank" href="map.html" >{$default_city}地图找房</a>   
			<a target="_blank" href="xiaoqu-list.html" >{$default_city}二手房房价</a>   
			<a target="_blank" href="rent-list.html" >{$default_city}出租房</a>   
		</p>
	</div>
	<!--热门区域-->
	<div class="hot cf">
		<span class="hot_fenlei">{$default_city}热门区域二手房:</span>
				<p class="hot_link">
				{h5:content action="getlinkage" keyid="3360" parentid="0" order="listorder ASC" cache="86400"}
{loop $data $r}
<?php
 	$reg = explode('$$', $r);//add by L 2012/3/22
	?>			
						<a href="rent-list-r{$reg[0]}.html"  target="_blank">{$reg[1]}</a>						
	{/loop}
{/h5}
					</p>
			</div>
	<!--abc-->	
</div>		<div class="links mt10">
	<b>友情链接：</b>
		<a target="_blank" href="{HOUSE_PATH}" >{$default_city}新房</a>
		<a target="_blank" href="{HOUSE_PATH}list.html" >{$default_city}房产</a>
	</div>
</div>
</div>
{template "content","footer"}
<script type="text/javascript">
seajs.use(["jquery","alert","autoc","cookie","autofh"],function($,alertM){
	$("#conl1 div.autoF").autofh()
	$("#s_list1").add("tr").hover(function(){
		$(this).addClass("h")
	},function(){
		$(this).removeClass("h")
	})
	var num = $('#nums').val();
	$('#num').html(num);
	var $hname=$("#hname").autoC("{APP_PATH}api.php?op=esfsuggest");
	var ht=$hname.attr("data-val");
	$hname.on("focus",function(){
		if($hname.val()==ht)
			$hname.val("");
	}).on("blur",function(){
		if($hname.val()=="")
			$hname.val(ht);
	}).closest("form").submit(function(){
		if($hname.val()==ht){
			$hname.focus()
			return false;
		}
	})
	var $hotarea=$("#hotarea")
	$hotarea.on("mouseover","dt",function(){
		$hotarea.find("dd").hide().end().find("dt").removeClass("s");
		$(this).addClass("s").next().show();
	})
	$("#B1").click(function(){
		$.cookie("esf_list","3");
		window.location.reload();
	})
	$("#B2").click(function(){
		$.cookie("esf_list","1");
		window.location.reload();
	})
	$("#B3").click(function(){
		$.cookie("esf_list","2");
		window.location.reload();
	})
})
</script>
</body>
</html>