<div class="cArea">
<DIV class="subNavcc">
        <UL class="clearfixcc">
            <li{if $t=="zhuye"} class="this1"{/if}><a href="{HOUSE_PATH}{$id}">楼盘主页</a></li><li{if $t=="xinxi"} class="this1"{/if}><a href="{HOUSE_PATH}{$id}/xinxi.html">详细信息</a></li><li{if $t=="huxing"||$t=="showpic"} class="this1"{/if}><a href="{HOUSE_PATH}{$id}/huxing.html">户型</a></li><li{if $t=="dongtai"} class="this1"{/if}><a href="{HOUSE_PATH}{$id}/dongtai.html">销售动态</a></li><li{if $t=="jiage"} class="this1"{/if}><a href="{HOUSE_PATH}{$id}/jiage.html">价格明细</a></li>
			{if $shapan}
			<li{if $t=="shapan"} class="this1"{/if}><a href="{HOUSE_PATH}{$id}/shapan.html" title="{$title} 网络沙盘 在售房源一览">沙盘图</a></li>
			{else}
			<li{if $t=="peitao"} class="this1"{/if}><a href="{HOUSE_PATH}{$id}/peitao.html" title="{$title}楼盘配套地图">地图配套</a></li>
			{/if}
			<li{if $t=="xiangce"||$t=="showphoto"} class="this1"{/if}><a href="{HOUSE_PATH}{$id}/xiangce.html">图片相册</a></li><li{if $t=="dianping"} class="this1"{/if}><a href="{HOUSE_PATH}{$id}/dianping.html">楼盘点评</a></li><li{if $t=="zixun"} class="this1"{/if}><a href="{HOUSE_PATH}{$id}/zixun.html">相关资讯</a></li><li{if $t=="wenfang"} class="this1"{/if}><a href="{HOUSE_PATH}{$id}/wenfang-p1.html">问房</a></li><li><a href="{if !empty($bbs)}{$bbs}{else}{BBS_PATH}{/if}" target="_blank">业主论坛</a></li>        </UL>
 </DIV>
</div>