@charset "utf-8";
/****************************** 全局样式 ******************************/
/********** 全局 **********/
html{overflow-y:scroll;}
body, div, dl, dt, dd, ul, li, form, input, select, textarea, img, h1, h2, h3, p{padding:0;margin:0;border:0;list-style:none;}
body{background:url(bg.png) repeat 0 0 #eee;color:#333;font:12px/18px Arial, Verdana, Sans-Serif;}
a{color:#333;text-decoration:none;}
a:hover{color:#c00;text-decoration:none;}


/********** 字体 **********/
.u{text-decoration:underline;}
.u:hover{text-decoration:underline;}

.hui{color:#999;font-size:12px;}
/********** 其它 **********/
.clearfix:after{height:0;display:block;visibility:hidden;content:".";clear:both;}
.clearfix{display:inline-block;}
*html .clearfix{height:1%;}
.clearfix{display:block;}
.clear{height:0;overflow:hidden;font:0/0 arial;visibility:hidden;clear:both;}
.hidden{display:none;}
.l{float:left;}
.r{float:right;}
.middle{margin:0 auto;float:none;clear:both;}
.cl:after{content:"."; display:block; height:0; clear:both; visibility:hidden; }
.cl{zoom:1;}
.vm{ vertical-align:middle}
.tc{ text-align:center}
/****************************** 全局样式 结束 ******************************/


/****************************** 公共样式 ******************************/
.btn{width:86px;height:33px;display:inline-block;background:url(list_btn.png) no-repeat 0 0;}
.btns{width:86px;height:33px;display:inline-block;background:url(list_btn.png) no-repeat 0 -33px;}

.txt{width:210px;height:30px;padding:0 5px;margin:0 12px 0 0;display:inline;border:1px solid #ccc;border-radius:3px;background:#fff;-moz-box-shadow:0px 1px 1px #ccc inset;-webkit-box-shadow:0px 1px 1px #ccc inset;box-shadow:0px 1px 1px #ccc inset;color:#666;font:12px/30px arial;}
.txts{width:210px;height:80px;padding:3px 5px;display:block;border:1px solid #ccc;border-radius:3px;background:#fff;-moz-box-shadow:0px 1px 1px #ccc inset;-webkit-box-shadow:0px 1px 1px #ccc inset;box-shadow:0px 1px 1px #ccc inset;color:#666;font:12px/20px arial;}

.files{width:150px;height:30px;padding:0;margin:6px 0 0;overflow:hidden;display:block;border:1px solid #ccc;border-radius:3px;background:#eee;position:relative;-moz-box-shadow:0px 1px 1px #ccc inset;-webkit-box-shadow:0px 1px 1px #ccc inset;box-shadow:0px 1px 1px #ccc inset;font:14px/30px microsoft yahei, arial;text-align:center;}
.files input{height:42px;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;position:absolute;top:0;right:0;font-size:70px;cursor:pointer;}
/****************************** 公共样式 结束 ******************************/


/****************************** 主体样式 ******************************/
.index{width:860px;margin:20px auto 0;float:none;clear:both;}

.index .nav{width:200px;float:left;border-radius:6px;background:#F6F5F3;-moz-box-shadow:1px 1px 3px #666;-webkit-box-shadow:1px 1px 3px #666;box-shadow:1px 1px 3px #666;}
.index .nav dt{border-radius:6px 6px 0 0;background:url(list_pic.png) no-repeat 25px 10px #476584;_background:url(list_pic.gif);color:#fff;font:14px/45px microsoft yahei, arial;text-indent:65px;}
.index .nav dd{position:relative;}
.index .nav dd i{width:19px;height:20px;display:block;background:url(list_pic.png) no-repeat 0 -200px;_background:url(list_pic.gif);position:absolute;top:10px;right:-29px;}

.index .list{font:14px/32px microsoft yahei, arial;text-indent:65px;}
.index .list li{border-top:1px solid #fff;border-bottom:1px solid #E3E2E0;}
.index .list li.first{background:url(list_pic.png) no-repeat 30px -93px;_background:url(list_pic.gif);}
.index .list li.last{background:url(list_pic.png) no-repeat 30px -144px;_background:url(list_pic.gif);}
.index .list li.my_account{ text-indent:32px;}
.index .list li.my_account a,.index .list li.my_account a:hover{ background-color:#F6F5F3}
.index .list li.my_account a em{width:22px; height:17px; display:inline-block; vertical-align:middle; background:url(list_pic.gif) no-repeat 0 -674px; margin-right:10px}
.index .list li a{display:block;background:#fff;}
.index .list li a:hover{background:#F9F9F9;color:#333;}

.index .more{padding:0 10px;border-top:1px solid #fff;font:12px/40px microsoft yahei, arial;text-align:right;}

.index .main{width:620px;float:right;border-radius:6px;background:#F6F5F3;-moz-box-shadow:1px 1px 3px #666;-webkit-box-shadow:1px 1px 3px #666;box-shadow:1px 1px 3px #666;}
.index .main dt{border-radius:6px 6px 0 0;background:url(list_pic.png) no-repeat 25px -38px #476584;_background:url(list_pic.gif);color:#fff;font:14px/45px microsoft yahei, arial;text-indent:60px;}
.index .main dt.send{ background-position:25px -287px}
.index .main dt.write{ background-position:25px -338px}
.index .main dt.management{ background-position:25px -440px}
.index .main dt.looktext{ background-position:25px -391px}
.index .main dt.weixin{ background-position:25px -540px}
.index .main dt span.right{ float:right; font-size:12px; margin-right:30px}
.index .main dd{padding:20px 0;}
.index .main table{font:14px/40px microsoft yahei, arial;}
.index .main table td{ padding-left:15px}
.index .main .pic{margin:8px 0 0;}
.index .main .pic img{padding:4px;display:block;border:1px solid #ccc;background:#fff;}
.index .main .hui{font:12px/20px microsoft yahei, arial;}

.index .user{width:580px;border-top:1px solid #E3E2E0;border-left:1px solid #E3E2E0;font:12px/28px microsoft yahei, arial;}
.index .user li{background:#fff;}
.index .user li.hover{background:#F1F1F1;}
.index .user div{height:28px;padding:0 15px;overflow:hidden;float:left;border-bottom:1px solid #E3E2E0;border-right:1px solid #E3E2E0;}
.index .user li.last div{height:36px;font:14px/36px microsoft yahei, arial;}

.index .uname{width:120px;}
.index .uid{width:120px;}
.index .unames{width:120px;}
.index .uaction{width:96px;}
.index .uaction a{padding:0 8px;display:inline-block;border-radius:8px;color:#fff;font:12px/20px microsoft yahei, arial;}
.index .uaction a.edit{background:#476584;}
.index .uaction a.del{background:#D10202;}

.send_weixin{ font-size:14px; padding-left:25px; font-family:microsoft yahei}
.send_weixin a,.send_weixin a:hover{ color:#536E8B; font-size:12px;}
.send_weixin p{ padding-bottom:15px}
.send_weixin p .text{width:318px; height:30px; border-radius:3px; border:1px solid #E4E3E1; box-shadow:0px 1px 1px #CCC inset; vertical-align:middle; line-height:30px; font-family: microsoft yahei; margin:0 15px 0 10px}
.send_weixin p textarea{width:308px; height:90px; border-radius:3px; border:1px solid #E4E3E1; box-shadow:0px 1px 1px #CCC inset; vertical-align:top; margin:0 10px; resize:none; font:14px/20px microsoft yahei; padding:5px; overflow:hidden}
.send_weixin p span.gray{ color:#9B9A98; vertical-align:bottom}
.send_weixin p span.gray em{ font-family:Georgia,Tahoma,Arial; font-size:18px; vertical-align:bottom}
.send_weixin p span.red{ color:#F00; font-size:12px}
.send_weixin p .text_02{background:#EBEBE3; display:inline-block}
.send_weixin p .up_pic{width:80px; height:33px; border:1px solid #E4E3E1; background:#FBFBF9; display:inline-block; text-align:center; line-height:33px; cursor:pointer; margin-left:10px; position:relative; overflow:hidden; vertical-align:middle}
.send_weixin p .up_pic input{height:42px;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;position:absolute;top:0;right:0;font-size:70px;cursor:pointer;}
.send_weixin p.pic img{ margin-left:52px}
.chzn-container{width:400px;  border-radius:3px; box-shadow:0px 1px 1px #CCC inset; background-color:#fff; cursor:text; border:1px solid #ddd;}
.chzn-container li{ float:left}
.chzn-container li .InputText{color:#666; border:none; font-family:microsoft yahei; height:28px; line-height:28px; margin:1px 0 0 3px; outline:none;}
.chzn-container li.search-choice{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;-moz-background-clip: padding;-webkit-background-clip: padding-box;background-clip: padding-box;background-color: #E4E4E4;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4',endColorstr='#eeeeee',GradientType=0);background-image: -webkit-gradient(linear,0% 0,0% 100%,color-stop(20%,#F4F4F4),color-stop(50%,#F0F0F0),color-stop(52%,#E8E8E8),color-stop(100%,#EEE));background-image: -webkit-linear-gradient(top,#F4F4F4 20%,#F0F0F0 50%,#E8E8E8 52%,#EEE 100%);background-image: -moz-linear-gradient(top,#F4F4F4 20%,#F0F0F0 50%,#E8E8E8 52%,#EEE 100%);background-image: -o-linear-gradient(top,#F4F4F4 20%,#F0F0F0 50%,#E8E8E8 52%,#EEE 100%);
background-image: -ms-linear-gradient(top,#F4F4F4 20%,#F0F0F0 50%,#E8E8E8 52%,#EEE 100%);background-image: linear-gradient(top,#F4F4F4 20%,#F0F0F0 50%,#E8E8E8 52%,#EEE 100%);-webkit-box-shadow: 0 0 2px white inset,0 1px 0 rgba(0, 0, 0, 0.05);-moz-box-shadow: 0 0 2px #fff inset,0 1px 0 rgba(0,0,0,0.05);box-shadow: 0 0 2px white inset,0 1px 0 rgba(0, 0, 0, 0.05);color: #333;border: 1px solid #AAA;line-height: 13px;padding: 3px 20px 3px 5px;margin:5px 0 3px 5px;position: relative; cursor: default;}
a.search-choice-close{display: block; position: absolute; right: 3px; top: 2px;width: 12px;height: 13px; overflow:hidden; font-size:16px;  color:#333}
a.search-choice-close:hover{font-size:16px;  color:#333}
.selcet_list{width:200px; border:1px solid #ddd; border-top:none; position:absolute; bottom:-26px; left:0; background-color:#fff}
.selcet_list li{ height:25px; line-height:25px; padding:0 10px; cursor:pointer}
.selcet_list li:hover{ background-color:#306BC5; color:#fff}
.pic_box{width:465px; margin:0 auto; border:1px solid #E4E3E1; font-family:microsoft yahei}
.pic_box .til{ height:38px; border-bottom:1px solid #E4E3E1; background-color:#F3F3F3; position:relative}
.pic_box .til span{ padding:7px 15px; display:inline-block; border:1px solid #E4E3E1; border-radius:4px 4px 0 0; border-bottom:none; background-color:#fff; position:absolute; bottom:-1px; left:20px}
.pic_box ul{ padding:10px 0 0; background-color:#fff}
.pic_box ul li{width:135px; height:118px; border-radius:3px; border:1px solid #E4E4E4; float:left; text-align:center; margin:0 0 9px 9px; padding:3px; _overflow:hidden}
.pic_box ul li img{ max-width:100%; cursor:pointer; max-height:100%;}
.pic_box ul li.selected{border:1px solid #4E6B89;}

.select_send{ font-family: microsoft yahei; padding:15px 0 0 80px}
.select_send p{padding-bottom:8px; font-size:14px}
.select_send p input.text{ height:30px; width:80px; font-family: microsoft yahei; border:1px solid #E4E4E4;}
.select_send p span.yanzheng{width:80px; height:32px; display:inline-block; padding:0 10px; background-color:#ccc; vertical-align:top; margin:0 10px}
.select_send p span.yanzheng img{width:80px; height:32px;}
.select_send p a{color:#4E6B89}






.send_bot{ padding:20px 0 0 77px}
.send_bot .btn{ vertical-align:middle; background-position:0 -70px; text-align:center; font:14px/1.75 microsoft yahei; color:#fff; cursor:pointer; outline:none}
.send_bot input.chex{ vertical-align:middle; margin:0 8px 0 20px}
.send_weixin p .text_03{ margin:0; width:550px; height:41px}
.send_weixin p.padding_5{ padding-bottom:8px}
.write_bot{ padding:0 45px 0 25px}
.write_bot div.l{ margin-top:7px; vertical-align:middle}
.write_bot div.l .chex{ margin-left:0}
.write_bot div.l a{ color:#FF0000; margin-left:10px}
.selects{ padding:10px 0 10px 20px; background-color:#fff}
.selects select{width:130px; border-radius:4px; height:25px; border:1px solid #ccc; padding:2px; outline:none; cursor:pointer}
.selects input.sav{padding:3px 8px; border-radius:4px; border:1px solid #ccc; background:#EAEAEA; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#EAEAEA));background: -moz-linear-gradient(top, #fff, #EAEAEA 100%); cursor:pointer; color:#666}
.manage_list{ margin-bottom:25px; font-family:microsoft yahei; padding:0 25px; font-size:14px}
.manage_list li{ padding:17px 30px 5px 17px; zoom:1; border-bottom:1px solid #ddd}
.manage_list li:after{content:"."; display:block; height:0; clear:both; visibility:hidden; }
.manage_list li.tilte{ padding:0 60px 0 17px; height:34px; line-height:34px;}
.manage_list li.tilte div.lef input{ height:15px; vertical-align:middle; margin-right:20px;}
.manage_list li.tilte div.lef span{ vertical-align:middle;}
.manage_list li div.lef{ display:inline; float:left}
.manage_list li div.lef div.details{ display:inline; float:left; margin:-4px 0 0 20px; font-size:14px; color:#A7A7A7}
.manage_list li div.lef div.details p.tils{width:380px}
.manage_list li div.lef div.details span.y_line{ margin:0 5px}
.manage_list li div.lef div.details p.gray a,.manage_list li div.lef div.details p.gray a:hover{ color:#878684; font-size:12px}
.manage_list li div.rig{ float:right; color:#A7A7A7; text-align:center; width:90px; padding-top:10px}
.manage_list li div.lef div.details p,.manage_list li div.rig p{ padding-bottom:5px}

.writing_body{ background:#EFEFEF; font-family:Helvetica, STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Tohoma, Arial; padding:19px 15px 0; color:#222}
h1.writing_til{font-size:20px;color:#000;font-weight:bold;word-break:normal;word-wrap:break-word; line-height:25px;}
.writer{ margin:3px 0 10px; color:#8C8B89}
.writer a,.writer a:hover{ color:#496688; margin-left:5px}
em.weixin{width:32px; height:25px; display:inline-block; background:url(list_pic.gif) no-repeat 0 -521px; vertical-align:middle; margin:0 5px 0 10px}
.writer span{ display:inline-block; border-bottom:1px solid #ccc; color:#A7A7A7; line-height:22px; font-size:14px; }
.writer span a{ margin-left:20px}
.users{height:42px; display:block; background: url(2000.png) no-repeat center center; padding:12px; background-size: 100% 100%; margin:0 auto 15px; position:relative}
.users .lef{ position:absolute; left:10px; top:2px}
.users span.photos{width:42px; height:42px; padding:5px; margin-top:5px; display:block; border-radius:25px; background-color:#fff; border:1px solid #ddd; box-shadow:0 0 1px #ccc; float:left}
.users span.photos img{width:42px; height:42px; border-radius:25px}
.users div.userd{ float:left; font-size:15px; color:#454545; text-shadow:0 1px 1px #fff; font-weight:bold; padding:13px 0 0 8px}
.users div.userd p.gray{ color:#A3A3A3; font-size:12px}
.users .arrow{width:7px; height:16px; overflow: hidden; background: url(list_pic.gif) no-repeat -41px -497px; position:absolute; right:10px; top:28px}
.text{ line-height:25px; word-wrap:break-word; overflow:hidden}
.text img{max-width:100%;float:none;}

.share{width:165px; height:37px; border:1px solid #D9D9D9; margin:18px auto 10px; border-radius:20px; text-align:center; line-height:37px; font-size:16px; background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#F9F9F9)); cursor:pointer}

.share em{width:18px; height:20px; display:inline-block; background:url(list_pic.gif) no-repeat 0 -496px; vertical-align:middle; margin-right:5px}
.recommend_til{ border-bottom:1px solid #C5C5C5; box-shadow:0 1px 0 #fff; line-height:25px; font-size:12px; padding-left:5px; margin-top:13px; color:#999}
.recommend{border-bottom:none;}
.recommend li{ border-bottom:1px solid #C5C5C5; box-shadow:0 1px 0 #fff; padding:12px 10px; zoom:1;}
.recommend li:after{content:"."; display:block; height:0; clear:both; visibility:hidden; }
.recommend li .a_box{ display:block; width:auto; float:none;color:#444;font-size:14px;}
.recommend li .a_box:hover{ color:#444}
.recommend li img{float:left; width:50px; height:50px; border-radius:55px}
.recommend li div {padding:2px 0 0 12px;  word-wrap:break-word; overflow:hidden; zoom:1;}
.recommend li div p.summary{ line-height:20px; color:#999; font-size:12px; padding-top:3px}
.recommend_photos{ padding-top:12px}
.recommend_photos li{width:70px; height:90px; float:left; text-align:center}
.recommend_photos li a{color:#808080;}
.recommend_photos li img{width:50px; height:50px; border-radius:25px;}
.recommend_photos li p.name{ font-size:12px; width:100%; height:18px; padding-top:5px; overflow:hidden}
.erweima{ font-family:microsoft yahei; font-size:14px}
.erweima p{ padding-top:15px; text-align:center}
.erweima p a,.erweima p a:hover{ color:#496688}
.text_foot{ text-align:center; margin:10px 0 15px}
.text_foot a{ font-size:11px; color:#ccc; text-decoration:underline}

.writing_list{ padding:0 58px 35px; font-family:microsoft yahei}
.writing_list li{ padding:15px 20px;}
.writing_list li div.box{ border:1px solid #ccc; background-color:#fff; padding:10px; border-radius:4px; position:relative}
.writing_list li div.til{ font-size:18px; margin-bottom:15px}
.writing_list li div.til span{ color:#A1A1A1; font-size:13px; margin-top:5px}
.writing_list li div.text{ line-height:25px; font-size:14px; overflow:hidden; word-wrap:break-word; color:#6D6D6D;}
.writing_list li div.bot{ text-align:right; font-size:14px; padding:10px 0}
.writing_list li div.bot a,.writing_list li div.bot a:hover{ color:#496688}
.writing_list li div.no_text{ padding:30px 0; text-align:center; text-align:center; font-size:18px}

/**选择下拉框**/
.select{font:14px/32px microsoft yahei; padding-bottom:15px}
.select div.SelectBox{width:200px; padding-left:8px; height:32px; line-height:32px; cursor:pointer; position:relative; background-color:#fff; border-radius:3px; border:1px solid #E4E3E1; box-shadow:0px 1px 1px #CCC inset;}
.select b{ font-weight:normal ; display:block;}
.right{ margin-left:10px}
.select span{width:23px; height:23px; background:url(member.gif) no-repeat 0 -178px; position:absolute; right:2px; top:4px; display:inline-block; float:right; background-color:; border:1px solid #ddd; text-align:center;}
.select span.up{ background-position:-32px -178px}
.select ul.select_list{padding:0; font-size:14px; border:1px solid #ddd; border-top:none; width:208px; position:absolute; top:33px; left:-1px; z-index:99; background-color:#fff; display:none}
.select ul.select_list li{ padding:0}
.select ul.select_list li a{ line-height:25px; padding:3px 5px; display:block; color:#737373}
.select ul.select_list li a:hover{ background-color:#E5E5E5; color:#737373; text-decoration:none}

/**我的账号tabel**/
.AccountTabel{ border-collapse:collapse; margin:0 auto}
.AccountTabel th,.AccountTabel td{border: 1px solid #CCC; padding:7px 0; line-height:normal;}
.AccountTabel th{ font-weight:normal; font-size:15px; text-align:left; padding-left:20px;}
.index .main .AccountTabel td{ font-size:12px; padding-left:20px; overflow:hidden; word-wrap:break-word}
.AccountTabel td a:hover{ color:#333; text-decoration:underline}
.AccountTabel td .photos{width:45px; height:45px; display:inline-block; background-color:#fff; border-radius:30px; padding:5px}
.AccountTabel td .photos img{width:45px; height:45px; border-radius:30px;}
a.add_account{width:114px; height:33px; display:block; margin:35px auto; background: url(list_btn.png) no-repeat 0 -111px; color:#506D8B; padding-left:30px; font:14px/33px microsoft yahei}
a.add_account:hover{ background-position:0 -149px}

/****************************** 主体样式 结束 ******************************/
/****************************** 箭头 ******************************/
.caret_Up{position:absolute; top:-9px; left:14px;}
.caret_Up em,.caret_Up span{ height:9px; width:17px; color:gainsboro; position:absolute; font:16px/21px simsun; overflow:hidden; }
.caret_Up em{ z-index:99; font-style:normal; }
.caret_Up span{ color:#fff;top:2px; left:0; z-index:999; }

/****************************** 头部样式 ******************************/
.headout{background:url(bgline.png) repeat-x 0 0;}
.head{width:850px;height:50px;padding:0 5px;margin:0 auto;float:none;font:14px/50px microsoft yahei, arial;clear:both;}
.head a{color:#fff;}
.head a:hover{color:#E1E1E1;}
/****************************** 头部样式 结束 ******************************/

/****************************** 分页 *****************************/

.fl{ float:left;}
.mb10{margin-bottom:10px;}
.cc{*zoom:1;}
.cc:after{content:'\20';display:block;height:0;clear:both;}
.p10{padding:10px;}
.pages,.pages .pagesone{line-height:23px;height:23px;font-family:Tahoma; text-align:center;}
.pages a,.pages b,.pages .pagesone,.pages button{display:inline-block; height:27px; text-align:center; border-radius:4px; border:1px solid #ddd; line-height:27px; padding:0 10px; float:left; margin-left:10px; color:#666; background-color:#fff}
.pages a,.pages b,.pages .pagesone{display:block;float:left;margin-right:5px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.pages a{border:1px solid #ddd;background-color:#f9f9f9;padding:0 8px;color:#666; background-position:0 0;}
.pages b,.pages a:hover{background-color:#486786; background-position:0 -23px; color:#ffffff;  border:1px solid #ddd; text-decoration:none;padding:0 8px;}
.pages .fl{color:#666;}
.pages .pagesone{border:1px solid #ddd;background-color:#ffffff;background-position:0 -46px;}
.pages input{padding:0;float:left;;background:none;border:0;margin:4px 3px 0 3px;width:35px;}
.pages button{height:23px;background-color:#f4f8fb;padding:0 5px;border:0;border-left:1px solid #8dc1d7;color:#1b83b8;cursor:pointer;float:left; background-position:0 -68px;}
.pages .c{width:1px;}

.point{max-width:622px; margin:50px auto 0; font-family:microsoft yahei}
.point div.til{ height:40px; border:1px solid #ddd; background:#F9F9F9; border-radius:3px 3px 0 0; background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#F2F2F2));background: -moz-linear-gradient(top, #fff, #F2F2F2 100%); line-height:40px}
.point div.til em{width:23px; height:26px; display:inline-block; background:url(list_pic.gif) no-repeat 0 -584px; margin:0 10px 0 20px; vertical-align:middle}
.point_main{ padding:40px 0; text-align:center; background-color:#fff; border-left:1px solid #ddd; border-right:1px solid #ddd;}
.point_main p.text{ font-size:18px; color:#F09D23; padding-bottom:30px}
.point_main p.text em{width:48px; height:53px; display:inline-block; background:url(list_pic.gif) 0 -617px; vertical-align:middle; margin-right:10px}
.point_main a,.point_main a:hover{color:#496688}
.point_bottom{width:622px; height:17px; background:url(spoint_bg.png) no-repeat}