html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: inherit;
    font-style: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
}


.f14:link {
    color: #333333;
    font-size: 14px;
    text-decoration: none;
}
.f14:visited {
    color: #333333;
    font-size: 14px;
    text-decoration: none;
}
.f14:hover {
    color: #333333;
    font-size: 14px;
    text-decoration: underline;
}
.f14:active {
    color: #333333;
    font-size: 14px;
    text-decoration: none;
}
#area2_m14 ul {
    list-style: none outside none;
    margin: 0;
}
#area2_m14 ul li.area21_ a:link {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
}
#area2_m14 ul li.area21_ a:visited {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
}
#area2_m14 ul li.area21_ a:hover {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: underline;
}
#area2_m14 ul li.area21_ a:active {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
}
#area2_1 {
    clear: both;
    height: 52px;
    padding-top:10px;
    overflow: hidden;
}
#area2_m1 {
    background-image: url("../../img/esf/menu_b_t.gif");
    background-position: center bottom;
    background-repeat: repeat-x;
    float: left;
    height: 52px;
    width:100%;
}
#area2_m11 {
    float: left;
    margin-left: 4px;
    margin-top: 1px;
}
#area2_m12 {
    float: left;
    margin-left: 16px;
}
#area2_m13 {
    background: url("../../img/esf/x.gif") no-repeat scroll 6px 0 transparent;
    float: left;
    margin-top: 8px;
    padding-bottom: 2px;
    padding-left: 13px;
    padding-top: 2px;
}
#area2_m14 {
    float: right;
    height: 28px;
    margin-top: 24px;
}
#area2_m14 ul li.area21_ {
    background-image: url("../../img/esf/dt_a3.gif");
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    margin-right: 3px;
    text-align: center;
    width: 101px;
}
#area2_m14 ul li.area22_ {
    background-color: #000000;
    float: right;
    height: 28px;
    width: 0;
}
#area2_m14 ul li.area22 {
    background-image: url("../../img/esf/home2.gif");
    color: #000000;
    float: right;
    font-size: 14px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    margin-right: 3px;
    text-align: center;
    width: 101px;
}
#qhcs1 {
    background-image: url("../../img/esf/qhcs_bg.gif");
    height: 30px;
    width: 71px;
}
#qhcs3 {
    color: #236A00;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 71px;
}
#apDiv3 {
    background-color: #FFF8B4;
    border: 1px solid #FFBA00;
    position: absolute;
    visibility: hidden;
    width: 100px;
    z-index: 6;
}
#apDiv4 {
    background-color: #CCCCCC;
    height: 0;
    margin-top: 28px;
    position: absolute;
    visibility: visible;
    width: 100px;
    z-index: 5;
}
#area2_3 {
    background: url("../../img/esf/dt_m1.gif") repeat-x scroll center top transparent;
    clear: both;
    height: 54px;
    overflow: hidden;
}
#area2_31 {
    background: url("../../img/esf/dt_f.gif") no-repeat scroll right bottom transparent;
    float: left;
    height: 52px;
    width: 55px;
}
#area2_32 {
    background: url("../../img/esf/dt_x1.gif") no-repeat scroll right center transparent;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 39px !important;
    line-height: 39px !important;
    margin-left: 10px;
    padding-top:0 !important;
    *padding-top:8px;
    margin-top: 10px !important;
    padding-right: 10px;
    position: relative;
}
#area2_33 {
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 39px !important;
    line-height: 39px !important;
    margin-left: 10px;
    padding-top:0 !important;
    *padding-top:8px;
    margin-top: 10px !important;
}
#area2_34 {
    float: left;
    margin-left: 4px;
    margin-top: 17px;
}
.area2_5 {
    border-bottom: 1px solid #E6DE96;
    color: #236A00;
    font-size: 12px;
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    margin: 0 auto;
    padding-left: 5px;
    width: 85px;
}
.area2_6 {
    color: #236A00;
    font-size: 12px;
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    margin: 0 auto;
    padding-left: 5px;
    width: 85px;
}

/*--------------???label--------------*/
.marker_0 .marker_word, .marker_0 .marker_r, .marker_1 .marker_word, .marker_1 .marker_r, .marker_2 .marker_word, .marker_2 .marker_r, .marker_3 .marker_word, .marker_3 .marker_r, .marker_4 .marker_word, .marker_4 .marker_r, .marker_5 .marker_word, .marker_5 .marker_r, .marker_6 .marker_word, .marker_6 .marker_r, .marker_7 .marker_word, .marker_7 .marker_r, .marker_8 .marker_word, .marker_8 .marker_r, .marker_9 .marker_word, .marker_9 .marker_r, .marker_10 .marker_word, .marker_10 .marker_r {
	background: url("../../img/esf/po.png") repeat scroll 0 0 transparent;
}


.marker_0, .marker_1, .marker_2, .marker_3, .marker_4, .marker_5, .marker_6, .marker_7, .marker_8, .marker_9, .marker_10 {
    height: 40px;
    white-space: nowrap;
}


.marker_0 .marker_word, .marker_1 .marker_word, .marker_2 .marker_word, .marker_3 .marker_word, .marker_4 .marker_word, .marker_5 .marker_word, .marker_6 .marker_word, .marker_7 .marker_word, .marker_8 .marker_word, .marker_9 .marker_word, .marker_10 .marker_word {
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
}

.marker_0 .marker_b, .marker_1 .marker_b, .marker_2 .marker_b, .marker_3 .marker_b, .marker_4 .marker_b, .marker_5 .marker_b, .marker_6 .marker_b, .marker_7 .marker_b, .marker_8 .marker_b, .marker_9 .marker_b, .marker_10 .marker_b {
    background: url("../../img/esf/po_titie6.gif") repeat scroll 0 0 transparent;
    bottom: 7px;
    height: 11px;
    left: 13px;
    overflow: hidden;
    position: absolute;
    width: 10px;
}

em {
    color: #CC0000;
    font-style: normal;
}

.marker_0 .marker_r, .marker_1 .marker_r, .marker_2 .marker_r, .marker_3 .marker_r, .marker_4 .marker_r, .marker_5 .marker_r, .marker_6 .marker_r, .marker_7 .marker_r, .marker_8 .marker_r, .marker_9 .marker_r, .marker_10 .marker_r {
    height: 24px;
    position: absolute;
    right: -1px;
    top: 1px;
    width: 3px;
    z-index: 110;
}

* html .marker_0 .marker_b, .marker_1 .marker_b, .marker_2 .marker_b, .marker_3 .marker_b, .marker_4 .marker_b, .marker_5 .marker_b, .marker_6 .marker_b, .marker_7 .marker_b, .marker_8 .marker_b, .marker_9 .marker_b, .marker_10 .marker_b {
	background:url("../../img/esf/po_titie6.gif");
	width:10px;
	position:absolute;
	overflow:hidden;
	left:13px;
	bottom:7px;
	height:11px;
}

.marker_6 .marker_word {
    background-position: 0 -288px;
    color: #FFFFFF;
}

.marker_6 .marker_b {
    background-position: 0 -85px;
}

.marker_6 .marker_r {
    background-position: 0 -312px;
}

.marker_0 .marker_word {
	background-position:0 0;
	color:#FFF;
}
.marker_1 .marker_word {
	background-position:0 -288px;
	color:#FFF;
}
.marker_1 .marker_word .marker_name{
	margin-left:10px;
	display:inline-block;
}
.marker_2 .marker_word {
	background-position: 0 -96px;
	color:#FFF;
}
.marker_2 .marker_word .marker_name{
	margin-left:10px;
	display:inline-block;
}
.marker_3 .marker_word {
	background-position:0 -240px;
	color:#FFF;
}
.marker_4 .marker_word {
	background-position:0 0;
	color:#FFF;
}
.marker_5 .marker_word {
	background-position:0 -240px;
	color:#FFF;
}
.marker_6 .marker_word {
	background-position:0 -48px;
	color:#FFF;
}
.marker_7 .marker_word {
	background-position:0 -336px;
	color:#FFF;
}
.marker_8 .marker_word {
	background-position:0 -384px;
	color:#FFF;
}
.marker_9 .marker_word {
	background-position:0 -432px;
	color:#FFF;
}
.marker_10 .marker_word {
	background-position:0 -480px;
	color:#FFF;
}

.marker_0 .marker_r {
	background-position: 0 -24px;
}
.marker_1 .marker_r {
	background-position: 0 -312px;
}
.marker_2 .marker_r {
	background-position: 0 -120px;
}
.marker_3 .marker_r {
	background-position: 0 -264px;
}
.marker_4 .marker_r {
	background-position: 0 -24px;
}
.marker_5 .marker_r {
	background-position: 0 -264px;
}
.marker_6 .marker_r {
	background-position: 0 -72px;
}
.marker_7 .marker_r {
	background-position: 0 -360px;
}
.marker_8 .marker_r {
	background-position: 0 -408px;
}
.marker_9 .marker_r {
	background-position: 0 -456px;
}
.marker_10 .marker_r {
	background-position: 0 -504px;
}

.marker_0 .marker_b {
	background-position: 0 0;
}
.marker_1 .marker_b {
	background-position: 0 -85px;
}
.marker_2 .marker_b {
	background-position: 0 -31px;
}
.marker_3 .marker_b {
	background-position: 0 -72px;
}
.marker_4 .marker_b {
	background-position: 0 0;
}
.marker_5 .marker_b {
	background-position: 0 -71px;
}
.marker_6 .marker_b {
	background-position: 0 -15px;
}
.marker_7 .marker_b {
	background-position: 0 -99px;
}
.marker_8 .marker_b {
	background-position: 0 -113px;
}
.marker_9 .marker_b {
	background-position: 0 -126px;
}
.marker_10 .marker_b {
	background-position: 0 -142px;
}


/*--------------------?????????????-----------------------*/
.saleDiv{
	width:109px; 
	height: 115px; 
	display: block; 
	float: left; 
	margin: 4px; 
	margin-left: 3px;
	margin-right: 0px;
	margin-bottom: 0px;
	border:1px solid gray;
	cursor:pointer;
}
.mid{background-image:url(../../img/esf/mid.gif);}
.mid2{background-image:url(../../img/esf/mid1.gif);}
.left{background-image:url(../../img/esf/left.gif);}
.left2{background-image:url(../../img/esf/left2.gif);}
.right{background-image:url(../../img/esf/right.gif);}
.right2{background-image:url(../../img/esf/right2.gif);}
#dxq a{color: white; font-weight: bold; font-size: 14px; text-decoration:none;}
#dxq a:hover{color: #F05508; text-decoration:underline;}

.closeButton{
	background-image: url("../../img/esf/mapbg04.gif"); 
	background-position: 0 -200px; 
	background-repeat: no-repeat;
	cursor: pointer;
}
.closeButton:hover{
	background-position: 0 -240px;
}

#panel_left h5{
	margin:5px 0 0;
	padding-left: 15px;
	font-size: 12px;
}
#panel_left ul{
	margin:5px 0 0;
	padding-left: 15px;
	border-bottom:1px dashed #dadccb ;
}
.panel_left_1 li, .panel_left_2 li{
	padding-bottom:5px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding-left:15px;
}
#short{
	width:30px;
	float: left;
}
#long{
	width:52px;
	float: left;
}
.comLi_p a,.comLi_r a{
	color:#226b02;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	text-decoration:none;
}
.comLi_p a:hover,.comLi_r a:hover {
	color:#ff6600;
}

.selLi_p a, .selLi_r a{
	color:#ee6100;
	font-weight: bold;
}
.selLi_p a:VISITED, .selLi_r a:VISITED{
	color:#ee6100;
	font-weight: bold;
}
.emClass{
	color:#EE6100;
	font-style:normal;
	font-weight:bold;
}

#panel_right ul, #panel_right li{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}
#dmsg li{
	border-bottom:1px solid #dadccb ;
	height:52px;
}
#dmsg li div {
	display:inline-block;
	margin-left:-3px;
	vertical-align:middle;
	float:left;
}
#dmsg li .proname {
	height:42px;
	padding-left:20px;
	padding-top:10px;
	width:320px;
}
.proname p.ptitle {
	margin-bottom:3px;
	color: #226b02;
}
.proname p {
	margin:0;
	padding:0;
	vertical-align:baseline;
}
#dmsg li .area{
	height:52px;
	line-height:52px;
	text-align:right;
	width:74px;
}
#dmsg li .price {
	color:#EB6100;
	font-size:14px;
	font-weight:bold;
	height:52px;
	line-height:52px;
	text-align:right;
	width:80px;
}
.sort_button{
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:transparent url(../../img/esf/mapbg04.gif) no-repeat scroll 0 -291px;
	letter-spacing:5px;
	margin-right:10px;
	padding-left:11px;
	width:47px;
}
#dtip a, #dtip span{
	display:block;
	float:left;
	height:20px;
	line-height:20px;
	margin-top:6px;
	text-decoration:none;
}
a.onfocus{color: #EB5F00;font-weight: bold;}
#dxq{position:relative;bottom:5px;}
#content{height: 87%;}
.marker_hover .marker_word {
	z-index:200;
	background-position:0 -480px;
}
.marker_hover .marker_b{
	z-index:200;
	background-position:0 -142px;
}
.marker_hover .marker_r{
	z-index:200;
	background-position:0 -504px;
}