<ul>
<li><a href="/1"  target="_self" >新房网</a>
<div>
<a href="{HOUSE_PATH}"  target="_blank" >首页</a>
<a href="{HOUSE_PATH}list.html"  target="_blank" >楼盘搜索</a>
<a href="{APP_PATH}map"  target="_blank" >地图找房</a>
<a href="{APP_PATH}baojia.html"  target="_blank" >{$default_city}房价</a>
 <a href="{catlink(26)}" target="_blank">{catname(26)}</a>
 <a href="{catlink(37)}" target="_blank">{catname(37)}</a>
 <a href="{catlink(31)}" target="_blank">{catname(31)}</a>
 <a href="{catlink(54)}" target="_blank">{catname(54)}</a>             
</div>
</li>
<li>
<a href="{ESF_PATH}"  target="_blank" >二手房网</a>
<div>
<a href="{ESF_PATH}"  target="_blank" >首页</a>
<a href="{ESF_PATH}list.html"  target="_blank" >出售房源 </a>
<a href="{ESF_PATH}list-u1.html"  target="_blank" > 个人出售 </a>
<a href="{ESF_PATH}map.html"  target="_blank" > 地图找房 </a>
<a href="{ESF_PATH}xiaoqu/index.htm"  target="_blank"> 小区找房 </a>
<a href="{ESF_PATH}jingjiren/index.htm"  target="_blank"> 经纪人 </a>
<a href="{ESF_PATH}qiugou/sell/list.html"  target="_blank"> 求购 </a>
<a href="/1"  target="_blank" > 二手房资讯 </a>
<a href="{ESF_PATH}fabu/chushou/ershoufang.htm"  target="_blank" > 免费发布 </a>
</div>
</li>
<li>
<a href="rent/index.htm"  target="_self" > 租房网 </a>
<div>
<a href="rent/index.htm"  target="_blank" > 首页 </a>
<a href="rent/list.html"  target="_blank" > 出租房源 </a>
<a href="rent/list-r1.html"  target="_blank" > 个人出租 </a>
<a href="rent/list-s2.html"  target="_blank" > 合租房源 </a>
<a href="rent/map.html"  target="_blank"> 地图找房 </a>
<a href="xiaoqu/index.htm"  target="_blank"> 小区找房 </a>
<a href="jingjiren/index.htm"  target="_blank"> 经纪人 </a>
<a href="qiuzu/sell/list.html"  target="_blank" > 求租 </a>
<a href="fabu/chuzu/ershoufang.htm"  target="_blank" > 免费发布 </a>
</div>
</li>

<li>
<a href="/1"  target="_self" > 地产资讯 </a>
<div>
<a href="/1"  target="_blank" > 首页 </a>
<a href="/1"  target="_blank" > 全国头条 </a>
<a href="/1"  target="_blank" > 银河视点 </a>
<a href="/1"  target="_blank" > 本地资讯 </a>
<a href="/1"  target="_blank"> 业界观点 </a>
<a href="/1"  target="_blank"> 土地市场 </a>
<a href="/1"  target="_blank"> 每日成交 </a>
<a href="/1"  target="_blank"> 高端访谈 </a>
<a href="/1"  target="_blank" > 水煮楼市 </a>
<a href="/1"  target="_blank" > 业界招聘 </a>
<a href="/1"  target="_blank" > 专题汇总 </a>
</div>
</li>
</ul>