<div class="subNav subNavNews">
        	<h4><a href="/news/">资<br />讯</a></h4>
            <ul>
            	<li><a href="/news/bendi/">本地关注</a></li>
            	<li><a href="/news/loushi/" class="colFF0000">本地</a></li>
            	<li><a href="/news/quanguo/">全国</a></li>
            	<li><a href="/news/special/">专题</a></li>
            	<li><a href="/news/loushi/data/">数据</a></li>
            	<li><a href="/news/renwu/">地产人物</a></li>
            	<li><a href="/news/piclist.html">图片</a></li>
            	<li><a href="/news/loushi/tudi/">土地</a></li>
            	<li><a href="/news/loushi/diaocha/">市场</a></li>
            	<li><a href="/news/loushi/bobao/">行情</a></li>
            </ul>
        </div>
     	 <div class="subNav subNavHouse">
        	<h4><a href="{HOUSE_PATH}">买<br />房</a></h4>
            <ul>
            	<li><a href="{HOUSE_PATH}list.html" class="colFF0000">新房</a></li>
            	<li><a href="{ESF_PATH}">二手房</a></li>
            	<li><a href="{ESF_PATH}rent/">租房</a></li>
            	<li><a href="{HOUSE_PATH}map/">地图</a></li>
            	<li><a href="/news/loushi/kuaibao/">楼市快报</a></li>
            	<li><a href="/shop">商业地产</a></li>
            	<li><a href="/trip">旅游地产</a></li>
            	<li><a href="{HOUSE_PATH}list-t6.html">别墅</a></li>
            	<li><a href="{TUAN_PATH}" class="colFF0000">看房团</a></li>
            </ul>
        </div>
     	<div class="subNav subNavDecoration">
        	<h4><a href="/home">装修<br />家居</a></h4>
            <ul>
            	<li><a href="/news/jiaju/">资讯</a></li>
            	<li><a href="/news/jiaju/redian/">建材</a></li>
            	<li><a href="/news/jiaju/zhuangxiu/">装修日记</a></li>
            	<li><a href="/news/jiaju/baike/">设计</a></li>
            	<li><a href="/news/piclist.html">图库</a></li>
            	<li><a href="/bbs">装修论坛</a></li>
            </ul>
        </div>
     	<div class="subNav subNavBBs">
        	<h4><a href="/bbs">业主<br />社区</a></h4>
            <ul>
            	<li><a href="bbs/forum.php?gid=10" class="colFF0000">业主论坛</a></li>
            	<li><a href="bbs/forum.php?gid=1">生活</a></li>
            	<li><a href="bbs/forum.php?gid=3">房产楼市</a></li>
            	<li><a href="/t">微博</a></li>
            </ul>
        </div>