<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>编辑二手房-经纪人管理中心-{$site_title}</title>
<link href="/statics/default/member/css/main.css" rel="stylesheet" type="text/css" />
<link href="/statics/default/member/css/pages.css" rel="stylesheet" type="text/css" />
<link href="/statics/default/member/css/center.css" rel="stylesheet" type="text/css" />
<script>var cookiepre = 'menu_';var cookiepath = '/';var cookiedomain = '';var SiteUrl='{APP_PATH}';var JS_URL='/statics/default/member/js/';var imgUrl='/statics/default/member/img/';
var pubhousetype = 1;
window.UEDITOR_HOME_URL = "{APP_PATH}statics/js/ueditor/";
<!--
	var charset = '<?php echo CHARSET;?>';
	var uploadurl = '<?php echo h5_base::load_config('system','upload_url')?>';
//-->
</script>
<link href="{CSS_PATH}table_form.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}dialog.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="{JS_PATH}dialog.js"></script>
<script src="/statics/default/member/js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="/statics/default/member/js/manage.js" type="text/javascript"></script>
<script src="/statics/default/member/js/menu.js" type="text/javascript"></script>
<script src="/statics/default/member/js/cookie.js" type="text/javascript"></script>
<script src="/statics/default/member/js/thickbox.js" type="text/javascript"></script>
<link href="/statics/default/member/css/thickbox.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="{APP_PATH}favicon.ico" />
<script type="text/javascript" src="{APP_PATH}statics/js/ueditor/editor_config.js"></script>
<script type="text/javascript" src="{APP_PATH}statics/js/ueditor/editor_all.js"></script>
<link rel="stylesheet" href="{APP_PATH}statics/js/ueditor/themes/default/css/ueditor.css"/>
<script type="text/javascript" src="{APP_PATH}statics/js/ueditor/editor_util.js"></script>
<script type="text/javascript" src="/statics/default/member/js/jquery.autocomplete.js"></script>
<link rel="stylesheet" href="/statics/default/member/css/styles.css" type="text/css" />
<script src="{APP_PATH}statics/default/js/esf/swfupload-swfupload.js"  type="text/javascript"></script>
<script type="text/javascript" src="{APP_PATH}statics/default/member/js/community.js" ></script>
<script type="text/javascript" src="/statics/default/member/js/validor_base_zhijia.js"></script>
<script type="text/javascript" src="/statics/default/member/js/validor_esf_zhijia.js"></script>
<script language="javascript" type="text/javascript" src="{JS_PATH}content_addtop.js"></script>
<link rel="stylesheet" href="/statics/default/member/css/validor_zhijia.css" type="text/css" media="all" />
</head>
<body>
<script language="javascript">
(function() {
    var $backToTopTxt = "返回顶部", $backToTopEle = $('<div class="backToTop"></div>').appendTo($("body"))
        .text($backToTopTxt).attr("title", $backToTopTxt).click(function() {
            $("html, body").animate({ scrollTop: 0 }, 120);
    }), $backToTopFun = function() {
        var st = $(document).scrollTop(), winh = $(window).height();
        (st > 0)? $backToTopEle.show(): $backToTopEle.hide();
        //IE6下的定位
        if (!window.XMLHttpRequest) {
            $backToTopEle.css("top", st + winh - 166);
        }
    };
    $(window).bind("scroll", $backToTopFun);
    $(function() { $backToTopFun(); });
})();
</script>
<div class="head">
  <div id="wrap"><span class="fl"><img src="/statics/default/member/img/logo_myagent.gif" width="281" height="50" /></span><span class="fr">
	<p>欢迎您：<a href="index.php?s=member">{get_nickname()}</a> <a href="index.php?s=message/index/inbox" class="message">短消息(0)</a> <a href="{APP_PATH}index.php?s=member/index/logout">退出</a></p>
    <ul>
	    <li style="text-align:right;"><a href="{HOUSE_PATH}" target="_blank">首页</a> | <a href="{HOUSE_PATH}list.html" target="_blank">新房</a> | <a href="{ESF_PATH}" target="_blank">二手房</a> | <a href="{ESF_PATH}rent-list.html" target="_blank">出租房</a> | <a href="{catlink(6)}" target="_blank">资讯</a>{if BBS_PATH!=''} | <a href="{BBS_PATH}" target="_blank">论坛</a>{/if}</li>
    </ul>
    </span></div>
</div>
<div id="wrap">
  <!--左边菜单-->
  <div class="left" id="left_menu">
    <div class="menu">
      <div class="home">
        <h1><a href="index.php?s=member">管理中心首页</a></h1>
      </div>
    </div>
    <div class="menu">
      <div class="tittle" id="titlebg_1" onclick="menu('1')" style="cursor:pointer"><img src="/statics/default/member/img/shouqi.jpg" id="menua_1" width="11" height="11" /><img src="/statics/default/member/img/zhankai.jpg" id="menub_1" width="11" height="11" style="display:none;" />
        <h1><a href="javascript:;">二手房管理</a></h1>
      </div>
      <ul id="menu_1">
        <li class="selecte"><a href="index.php?s=member/index/esf">发布出售</a></li>
        <li ><a href="index.php?s=member/index/manage_sell">管理出售</a></li>
      </ul>
    </div>
    <div class="menu">
      <div class="tittle" id="titlebg_2" onclick="menu('2')" style="cursor:pointer"><img src="/statics/default/member/img/shouqi.jpg" id="menua_2" width="11" height="11" /><img src="/statics/default/member/img/zhankai.jpg" id="menub_2" width="11" height="11" style="display:none;" />
        <h1 class="rent"><a href="javascript:;">出租房管理</a></h1>
      </div>
      <ul id="menu_2">
        <li ><a href="index.php?s=member/index/rent">发布出租</a></li>
        <li ><a href="index.php?s=member/index/manage_rent">管理出租</a></li>
      </ul>
    </div>
	{if $memberinfo[modelid]=='42'}
    <div class="menu">
      <div class="tittle" id="titlebg_6" onclick="menu('6')" style="cursor:pointer"><img src="/statics/default/member/img/shouqi.jpg" id="menua_6" width="11" height="11" /><img src="/statics/default/member/img/zhankai.jpg" id="menub_6" width="11" height="11" style="display:none;" />
        <h1 class="dianpu"><a href="javascript:;">店铺管理</a></h1>
      </div>
       <ul id="menu_6">
        <li ><a href="/index.php?s=member/index/notice">店铺公告</a></li>
      </ul>
    </div>
	{/if}
    <div class="menu">
      <div class="tittle" id="titlebg_7" onclick="menu('7')" style="cursor:pointer"><img src="/statics/default/member/img/shouqi.jpg" id="menua_7" width="11" height="11" /><img src="/statics/default/member/img/zhankai.jpg" id="menub_7" width="11" height="11" style="display:none;" />
        <h1 class="ziliao"><a href="javascript:;">资料管理</a></h1>
      </div> <ul id="menu_7">
	  <li ><a href="/index.php?s=member/index/account_manage_info">修改资料</a></li>
	  <li ><a href="/index.php?s=member/index/account_manage_avatar">头像认证</a></li>
	  {if $memberinfo[modelid]=='42'}
	  <li ><a href="/index.php?s=member/index/identity">身份证认证</a></li>
	  <li ><a href="/index.php?s=member/index/certificate">执业资格证认证</a></li>
	   {/if}
      <li><a href="/index.php?s=member/index/account_manage_password">修改密码</a></li>
      </ul>
    </div>
  </div>
<script language="javascript">get_menu(8);</script>  <script language="javascript">
function trim(str) {
	return (str + '').replace(/(\s+)$/g, '').replace(/^\s+/g, '');
}
</script>
  <div class="text">
    <div class="fold"></div>
    <div class="bread"><a href="/index.php?s=member/index/">管理中心</a><a href="/index.php?s=member/index/editsell/id/{$data[id]}">编辑出售房源</a>基本信息</div>
    <div class="sale_step"><img src="/statics/default/member/img/edit_step_1.jpg" width="780" height="35" /></div>
	<form action="{APP_PATH}index.php?s=member/index/editsell" method="post" name="myform" id="myform">
    <div class="box">
      <div class="tit">
        <h1>基本信息</h1>
      </div>
	  <input type="hidden" name="id" value="{$data[id]}" />
	        <table class="sell1" width="755" border="1" >
          <tr>
            <td class="a_gray"><font class="red">*</font>小区名称：</td>
            <td>
	            <input type="hidden" id="vid" name="cid"  value="{$data[relation]}"/>
				<input id="villagename" name="communityname" type="text" value="{$data[communityname]}" readonly="readonly" class="txt txtCommunityDisabled">
		            <div id="divSearchResult" style="display: none;" class="community_pop_box">
			            <div id="divShow" class="divshow"></div>
					</div>
	           </td>
          </tr>
          <tr>
            <td class="a_gray"><font class="red">*</font>房屋类型：</td>
            <td>			<input datatype="radio" errormsg="请选择房屋类型！" id="property_1" name="property" type="radio" value="1" {if $data[type]=='1'}checked{/if}/> <label for="property_1">普通住宅</label>
						<input datatype="radio" errormsg="请选择房屋类型！" id="property_3" name="property" type="radio" value="3" {if $data[type]=='3'}checked{/if}/> <label for="property_3">别墅</label>
						<input datatype="radio" errormsg="请选择房屋类型！" id="property_2" name="property" type="radio" value="2" {if $data[type]=='2'}checked{/if}/> <label for="property_2">公寓</label>
						<input datatype="radio" errormsg="请选择房屋类型！" id="property_4" name="property" type="radio" value="4" {if $data[type]=='4'}checked{/if}/> <label for="property_4">平房</label>
						<input datatype="radio" errormsg="请选择房屋类型！" id="property_5" name="property" type="radio" value="5" {if $data[type]=='5'}checked{/if}/> <label for="property_5">其它</label>
			<span id="property" style="display:none;"></span><span id="div_property" class="other"></span></td>
          </tr>
		  
		  <tr>
            <td class="a_gray"><font class="red">*</font>楼&nbsp;&nbsp;&nbsp;&nbsp;层：</td>
            <td>第<input name="floor" type="text" class="txt_w47" size="6" value="{$data[floor]}"/>层/共
			<input name="totalfloor" type="text" class="txt_w47" size="6" value="{$data[zonglouceng]}"/> 层
			<span id="floor" style="display:none;"></span><span id="div_floor" class="other"></span></td>
          </tr>
		  <tr>
            <td class="a_gray"><font class="red">*</font>建筑面积：</td>
            <td><input id="buildarea" name="area" type="text" class="txt_w47" size="6" value="{$data[total_area]}"/>平米 <span class="spRemind">请输入房产证的建筑面积，否则视为违规。</span>
            <span id="div_buildarea" class="other"></span></td>
          </tr>
		  <tr>
            <td class="a_gray"><font class="red">*</font>户&nbsp;&nbsp;&nbsp;&nbsp;型：</td>
            <td><input name="room" type="text" class="txt_w47" size="6" value="{$data[huxingshi]}"/>室
			<input name="hall" type="text" class="txt_w47" size="6" value="{$data[huxingting]}"/>厅
			<input name="toilet" type="text" class="txt_w47" size="6" value="{$data[huxingwei]}"/>卫
			<span id="room" style="display:none;"></span><span id="div_room" class="other"></span></td>
          </tr>
		  <tr>
            <td class="a_gray"><font class="red">*</font>价&nbsp;&nbsp;&nbsp;&nbsp;格：</td>
            <td><input id="price" name="price" type="text" class="txt_w47" size="6" value="{$data[price]}"/>万<span class="spRemind">输入0表示面议</span>
            <span id="div_price" class="other"></span></td>
          </tr>
		  <tr>
            <td class="a_gray"><font class="red">*</font>装&nbsp;&nbsp;&nbsp;&nbsp;修：</td>
            <td>			<input id="decorate1" name="decorate" type="radio" value="1" {if $data[fix]=='1'}checked{/if}/><label for="decorate1">毛坯</label>
						<input id="decorate2" name="decorate" type="radio" value="2" {if $data[fix]=='2'}checked{/if}/><label for="decorate2">精装</label>
						<input id="decorate3" name="decorate" type="radio" value="3" {if $data[fix]=='3'}checked{/if}/><label for="decorate3">中等装修</label>
						<input id="decorate4" name="decorate" type="radio" value="4" {if $data[fix]=='4'}checked{/if}/><label for="decorate4">简装</label>
						<input id="decorate5" name="decorate" type="radio" value="5" {if $data[fix]=='5'}checked{/if}/><label for="decorate5">豪华装修</label>
						<input id="decorate6" name="decorate" type="radio" value="6" {if $data[fix]=='6'}checked{/if}/><label for="decorate6">原房</label>
			<span id="decorate" style="display:none;"></span><span id="div_decorate" class="other"></span></td>
          </tr>
		  <tr>
            <td class="a_gray"><font class="red">*</font>朝&nbsp;&nbsp;&nbsp;&nbsp;向：</td>
            <td>			<input id="aspect1" name="aspect" type="radio" value="1" {if $data[house_toward]=='1'}checked{/if}/> <label for="aspect1">东</label>
						<input id="aspect2" name="aspect" type="radio" value="2" {if $data[house_toward]=='2'}checked{/if}/> <label for="aspect2">南</label>
						<input id="aspect3" name="aspect" type="radio" value="3" {if $data[house_toward]=='3'}checked{/if}/> <label for="aspect3">西</label>
						<input id="aspect4" name="aspect" type="radio" value="4" {if $data[house_toward]=='4'}checked{/if}/> <label for="aspect4">北</label>
						<input id="aspect9" name="aspect" type="radio" value="9" {if $data[house_toward]=='9'}checked{/if}/> <label for="aspect9">南北</label>
						<input id="aspect5" name="aspect" type="radio" value="5" {if $data[house_toward]=='5'}checked{/if}/> <label for="aspect5">东南</label>
						<input id="aspect6" name="aspect" type="radio" value="6" {if $data[house_toward]=='6'}checked{/if}/> <label for="aspect6">东北</label>
						<input id="aspect7" name="aspect" type="radio" value="7" {if $data[house_toward]=='7'}checked{/if}/> <label for="aspect7">西南</label>
						<input id="aspect8" name="aspect" type="radio" value="8" {if $data[house_toward]=='8'}checked{/if}/> <label for="aspect8">西北</label>
						<input id="aspect10" name="aspect" type="radio" value="10" {if $data[house_toward]=='10'}checked{/if}/> <label for="aspect10">东西</label>
			<span id="aspect" style="display:none;"></span><span id="div_aspect" class="other"></span></td>
          </tr>
		  <tr>
            <td class="a_gray">建造年代：</td>
            <td><input id="houseage" name="houseage" type="text" class="txt_w47" size="6" value="{$data[house_age]}"/>年 <span class="spRemind">例:2000年</span>
            <span id="div_houseage" class="other"></span></td>
          </tr>
		  <tr>
            <td class="a_gray">配套设施：</td>
            <td>
			{php $value_arr = explode(',',$data['assort']);}
			{php $assort_arr = getbox_name('39','assort')}
			{loop $assort_arr $key $v}
				{php $checked = ($key && in_array($key, $value_arr)) ? 'checked' : '';}
						<input id="assorts{$key}" name="assort[]" type="checkbox" {$checked} value="{$key}" /> <label for="assorts{$key}">{$v}</label>
			{/loop}
						</td>
          </tr>
		  <tr>
            <td width="112" class="a_gray">自定义编号：</td>
            <td><input name="internalnumber" type="text" class="txt" style="width:80px;" value="{$data[houseno]}"/></td>
          </tr>
          <tr>
            <td width="112" class="a_gray">备注信息：</td>
            <td><input name="remarks" type="text" class="txt" value="{$data[remarks]}"/><span class="spRemind">只有自己可以看到，限20字</span></td>
          </tr>
        </table>
      <div class="clear"></div>
    </div>
	<style type="text/css">
	.spWrong{display:none;color:#F00;}
	</style>
	<div class="box">
		<div class="tit">
			<h1>详细信息</h1>
		</div>
		<table class="sell1" width="755" border="1" >
          <tr>
            <td width="112" class="a_gray"><font class="red">*</font>房源标题：</td>
            <td><span class="red">增加点击量，吸引眼球第一步，应重点突出房源亮点！</span>限4-30个中文字。<br /><input id="title" name="title" type="text" class="txt" value="{$data[title]}"/>
            	<span id="div_title" class="other"></span>
            </td>
          </tr>
		  <tr>
            <td width="112" class="a_gray"><font class="red">*</font>房源描述：</td>
            <td class="editor"><span class="red">深入描述房源优势，助您电话不断！</span>200-500字效果为最佳。<br><span style="color:#0000FF">请不要从word,wps,网页上直接复制内容,可能会出现排版混乱现象。</span><br /><span class="spRemind">请勿留联系电话，请勿添加其他房源广告，请勿添加其它网站网址，违者将按[违规房源]处理。</span>
<br />
		<script type="text/plain" id="content" name="content">{$data[content]}</script>
		<span id="div_content" class="other"></span>
			<script type="text/javascript">
var editor_content = new baidu.editor.ui.Editor({toolbars:[['Source','Bold', 'Italic', '|', 'InsertOrderedList', 'InsertUnorderedList', '|', 'Link', 'Unlink' ]],minFrameHeight:80});
editor_content.render('content');
</script> 
			</td>
          </tr>
		  <tr>
         <td width="112" class="a_gray">房源照片：</td>
         <td>
    <div  style="color:#666666;"><p> 1. 请注意上传图片的类型，例如：室内图中只能上传室内图片。 <br />
      2. 限JPEG、PNG格式，图像分辨率应大于400X300像素，文件小于2MB。 <br />
      3. 严禁上传的图片带有任何水印，包括其他网站logo、水印以及带有任何网站链接的图片。 <br />
      4. 上传1张房型图，3张室内图，就能获得<img src="{APP_PATH}statics/default/img/esf/icon-more-28x16.gif"  />标签。<img src="{APP_PATH}statics/default/img/esf/icon-more-28x16.gif"  />房源能获得比一般房源高出 <font color="red"><b>27.3</b>%</font> 的点击率。</p>
      </div>
         	<div class="upload_album">
                 <div class="file_wrap" >
		<span>
		<fieldset class="blue pad-10">
        <legend>室内图</legend><center><div class='onShow' id='nameTip'>您最多可以同时上传 <font color='red'>5</font> 张</div></center><div id="house_room" class="picList">
		{loop string2array($data['house_room']) $pic_k $v}
		<li id="image{$pic_k}"><input type="text" name="house_room_url[]" value="{$v[url]}" style="width:310px;" ondblclick="image_priview(this.value);" class="input-text"> <input type="text" name="house_room_alt[]" value="{$v[alt]}" style="width:160px;" class="input-text" onfocus="if(this.value == this.defaultValue) this.value = ''" onblur="if(this.value.replace(' ','') == '') this.value = this.defaultValue;"> <a href="javascript:remove_div('image{$pic_k}')">移除</a> <span value="设为标题图" onclick="title_pic('{$v[url]}')" name="title">设为标题图</span></li>
		{/loop}
		</div>
		</fieldset>
		<div class="bk10"></div>
		<script type="text/javascript" src="{JS_PATH}swfupload/swf2ckeditor.js"></script><div class='picBut cu'><a herf='javascript:void(0);' onclick="javascript:flashupload('house_room_images', '附件上传','house_room',change_images,'5,gif|jpg|jpeg|png|bmp,0','content','112','{$authkey}')"/> 选择图片 </a></div>  </span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="upload_album">
                 <div class="file_wrap" >
                     <span>
					<fieldset class="blue pad-10">
					<legend>户型图</legend><center><div class='onShow' id='nameTip'>您最多可以同时上传 <font color='red'>5</font> 张</div></center><div id="house_pic" class="picList">
					{loop string2array($data['house_pic']) $pic_k $v}
					<li id="image{$pic_k}"><input type="text" name="house_pic_url[]" value="{$v[url]}" style="width:310px;" ondblclick="image_priview(this.value);" class="input-text"> <input type="text" name="house_pic_alt[]" value="{$v[alt]}" style="width:160px;" class="input-text" onfocus="if(this.value == this.defaultValue) this.value = ''" onblur="if(this.value.replace(' ','') == '') this.value = this.defaultValue;"> <a href="javascript:remove_div('image{$pic_k}')">移除</a> <span value="设为标题图" onclick="title_pic('{$v[url]}')" name="title">设为标题图</span></li>
					{/loop}
					</div>
					</fieldset>
					<div class="bk10"></div>
					<script type="text/javascript" src="{JS_PATH}swfupload/swf2ckeditor.js"></script><div class='picBut cu'><a herf='javascript:void(0);' onclick="javascript:flashupload('house_pic_images', '附件上传','house_pic',change_images,'5,gif|jpg|jpeg|png|bmp,0','content','112','{$authkey}')"/> 选择图片 </a></div>  </span>
                </div>

                <div class="clear"></div>
            </div>
            <div class="upload_album" id="albumbox3">
                 <div class="file_wrap" >
                     <span>
					<fieldset class="blue pad-10">
					<legend>室外图</legend><center><div class='onShow' id='nameTip'>您最多可以同时上传 <font color='red'>5</font> 张</div></center><div id="house_outdoor" class="picList">
					{loop string2array($data['house_outdoor']) $pic_k $v}
					<li id="image{$pic_k}"><input type="text" name="house_outdoor_url[]" value="{$v[url]}" style="width:310px;" ondblclick="image_priview(this.value);" class="input-text"> <input type="text" name="house_outdoor_alt[]" value="{$v[alt]}" style="width:160px;" class="input-text" onfocus="if(this.value == this.defaultValue) this.value = ''" onblur="if(this.value.replace(' ','') == '') this.value = this.defaultValue;"> <a href="javascript:remove_div('image{$pic_k}')">移除</a> <span value="设为标题图" onclick="title_pic('{$v[url]}')" name="title">设为标题图</span></li>
					{/loop}
					</div>
					</fieldset>
					<div class="bk10"></div>
					<script type="text/javascript" src="{JS_PATH}swfupload/swf2ckeditor.js"></script><div class='picBut cu'><a herf='javascript:void(0);' onclick="javascript:flashupload('house_outdoor_images', '附件上传','house_outdoor',change_images,'5,gif|jpg|jpeg|png|bmp,0','content','112','{$authkey}')"/> 选择图片 </a></div>  </span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="upload_album">
                 <div class="album_title">标题图</div>
                <div class="houseImg">
                <ul class="mt10">
                  <li id="title_pic" >{if $data[thumb]}<img id="titlepic" width="100" height="75" src="{$data[thumb]}">{/if}<input type="hidden" name="titlepic" value="{$data[thumb]}"></li>
                </ul>
                </div>
            </div>
        </td>
      </tr>
	  <tr>
            <td width="112" class="a_gray"><font class="red">*</font>联系人：</td>
            <td><input id="username" name="username" type="text" class="txt" style="width:80px;" value="{$data[username]}"/>
            	<span id="div_username" class="other"></span>
            </td>
          </tr>
	<tr>
            <td width="112" class="a_gray"><font class="red">*</font>手机号码：</td>
            <td><input id="usertel" name="usertel" type="text" class="txt" value="{$data[tel]}"/>
            	<span id="div_usertel" class="other"></span>
            </td>
          </tr>
      </tr>
		  </table>
    </div>
	<div class="box" style="height:150px">
		<div class="tit">
			<h1>发布类型</h1>
		</div>
		<div class="mt10"></div>
		<dl class="sale_1">
			<dd></dd>
			<dt>
				<div class="tips">
					<h1>特别提醒：</h1>
					<font style="color:#f00;font-weight:bold">“待上架”</font>的房源不对外公开，用户无法搜索或查看。
				</div>
			</dt>
			<dd>是否待上架：</dd>
			<dt>
								
				<li><input id="up" name="status" {if $data[house_status]=='1'}checked{/if} type="radio" value="1" /> <label for="up">上架</label></li>
				
				<li><input id="wait" name="status" {if $data[house_status]=='2'}checked{/if} type="radio" value="2" /> <label for="wait">待上架</label></li>
							</dt>
			<div class="clear"></div>
			<div class="mt10"></div>
        </dl>
    </div> 
    <p class="putout_check">
	<input name="inputtime" id="inputtime" type="hidden"  value="{$data[inputtime]}" />
	<input name="updatetime" id="updatetime" type="hidden"  value="{$data[updatetime]}" />
	<input name="dopost" id="dopost" type="hidden"  value="true" />
	<input name="validrules" type="hidden"  value="sell" />
	<input name="action" type="hidden"  value="edit" />
		<input type="hidden" name="dosubmit" value="true">
		<input name="editsubmit" id="dosubmit" type="button" onclick="ue.sync();" class="putout_step_1a" value="保存房源"/>
	</p>
	</form>  </div>   
</div>  <!--底部-->
 <div style="clear:both"></div></div>
{template 'content', 'footer'}
</div>
</body>
</html>