<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<META name=keywords content="天安地产, 东紫园, 海怡公馆, 海怡首座, 金谷园, 万象城, 好天地, 阳光东海岸">
<META name=description content="8盘齐契势动威海 威海媒体天安地产鉴赏之旅圆满成功">
<link href="http://www.veryhome.com/images/zhuanti/whyhlp20120714/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="http://www.venfang.com/statics/css/static/style/css.css">

<title>基业长青 海居中国 十年不断超越 缔造传世经典</title>
<style type="text/css">
	body {	
	}
	img {
		border:0;	
	}
	#weaper {
		width:1422px;
		margin:0 auto;
		_margin:-10px auto ;	
	}
	#footer {
		color:#333;	
		text-align:center;
		font-size:13px;
	}
	#footer a {
		color:#333;	
	}

</style>
</head>

<body>


<div id="weaper">
<script src="http://www.venfang.com/js/2012/veryhome_head.js" type="text/javascript"></script>
	<div class="img">
    	<img src="http://www.venfang.com/images/zhuanti/whvf20120903/web01.jpg" border="0" usemap="#Map" />
        <map name="Map" id="Map">
          <area shape="rect" coords="1103,832,1305,884" href="www.wegoplaza.com.cn" />
        </map>
        <a href="http://news.venfang.com/2012/bendi_0902/17870.html" target="_blank"><img src="http://www.venfang.com/images/zhuanti/whvf20120903/web02.jpg"/></a>
        <a href="http://news.venfang.com/2012/bendi_0902/17870.html" target="_blank"><img src="http://www.venfang.com/images/zhuanti/whvf20120903/web03.jpg" /></a>
		<a href="http://news.venfang.com/2012/bendi_0902/17870.html" target="_blank"><img src="http://www.venfang.com/images/zhuanti/whvf20120903/web04.jpg" /></a>
        <a href="http://news.venfang.com/2012/bendi_0902/17870.html" target="_blank"><img src="http://www.venfang.com/images/zhuanti/whvf20120903/web05.jpg" /></a>
        <a href="http://news.venfang.com/2012/bendi_0902/17870.html" target="_blank"><img src="http://www.venfang.com/images/zhuanti/whvf20120903/web06.jpg" /></a>
        <a href="http://news.venfang.com/2012/bendi_0902/17870.html" target="_blank"><img src="http://www.venfang.com/images/zhuanti/whvf20120903/web07.jpg" /></a>
        <a href="http://news.venfang.com/2012/bendi_0902/17870.html" target="_blank"><img src="http://www.venfang.com/images/zhuanti/whvf20120903/web08.jpg"/></a>
        <a href="http://news.venfang.com/2012/bendi_0902/17870.html" target="_blank"><img src="http://www.venfang.com/images/zhuanti/whvf20120903/web09.jpg" /></a>
		<a href="http://news.venfang.com/2012/bendi_0902/17870.html" target="_blank"><img src="http://www.venfang.com/images/zhuanti/whvf20120903/web10.jpg" /></a>
        <a href="http://news.venfang.com/2012/bendi_0902/17870.html" target="_blank"><img src="http://www.venfang.com/images/zhuanti/whvf20120903/web11.jpg" /></a>
        <a href="http://news.venfang.com/2012/bendi_0902/17870.html" target="_blank"><img src="http://www.venfang.com/images/zhuanti/whvf20120903/web12.jpg" /></a>
        <a href="http://news.venfang.com/2012/bendi_0902/17870.html" target="_blank"><img src="http://www.venfang.com/images/zhuanti/whvf20120903/web13.jpg" /></a>
    </div>
    
<div id="forum">
<hr/>
     
</div>      
<div id="footer">
		<DIV><A href="http://www.veryhome.com/">威海房地产网</A>|<A 
        href="http://www.veryhome.com/about/">公司简介</A>|<A 
        href="http://www.veryhome.com/about/ad.html">广告服务</A>|<A 
        href="http://www.veryhome.com/about/contact.html">客服中心</A>|<A 
        href="http://www.veryhome.com/about/customer.html">合作伙伴</A>|<A 
        href="http://www.veryhome.com/data/rssmap.html">Rss地图</A>|<A 
        href="http://www.veryhome.com/plus/flink.php">友情链接</A></DIV>
        <DIV>网站客服电话：0631-5668277 | 传真：0631-5668077-813 |  Email：<a href="mailto:ad@veryhome.com">ad@veryhome.com</a></DIV>
        <DIV>Copyright 2003-2010 Veryhome.com</DIV>
        <DIV>鲁ICP备05038402号 鲁B2-20100036号</DIV>
</div>		
</div>



</body>
</html>
