<!DOCTYPE HTML>
<!--[if lt IE 7 ]> <html lang="zh-CN" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="zh-CN" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="zh-CN" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="zh-CN"><!--<![endif]-->
<head>
    <meta charset="gbk">
   <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
	<link rel="shortcut icon" href="{APP_PATH}favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{APP_PATH}statics/house5-style1/pic/css/house5-common.css" />
    <link rel="stylesheet" type="text/css" href="{APP_PATH}statics/house5-style1/pic/css/house5-pic-channel.css" />
	<link href="{APP_PATH}statics/house5-style1/pic/css/pic_header.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{APP_PATH}statics/house5-style1/pic/js/jquery.js"></script>
    <script type="text/javascript" src="{APP_PATH}statics/house5-style1/pic/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{APP_PATH}statics/house5-style1/pic/js/house5-common.js"></script>
	<script src="{APP_PATH}statics/house5-style1/sea/js/sea.js"  type="text/javascript"></script>
	<!--[if lt IE 9 ]>
    <script type="text/javascript" src="{APP_PATH}statics/house5-style1/pic/js/modernizr.js"></script>
    <![endif]-->
    <script type="text/javascript">
	var IMG_URL="",UPLOAD_URL="",APP_URL="",WWW_URL="",SPACE_URL="",COOKIE_PRE="",COOKIE_DOMAIN="",COOKIE_PATH="/",SINA_APPKEY="",QQ_SOURCEID="";
        var pageid = 4;
    </script>
</head>
<body>
<!-- 头部 -->
<header class="head-repeat-x">
    
    		<div class="header-topbar">
		{template "ssi","ssi_8"}</div>
		<!-- end顶部背景条 --></header>


<!-- 导航 -->
<div class="nav-wrapper">
  <div id="header">
	<h1><a href="{APP_PATH}"  title="{$site_title}" class="logo fl">
	<img src="{APP_PATH}statics/house5-style1/img/logo.png" alt="{$SEO['site_title']}" width="150" height="50"/></a></h1>
	<div id="Search">
		<ul class="searchURL">
			<li><a target="_blank" href="{catlink(6)}">资讯</a></li>
			<li><a href="{HOUSE_PATH}"  target="_blank">新房</a></li>
			<li><a href="{ESF_PATH}list.html"  target="_blank">二手房</a></li>
			<li><a href="{ESF_PATH}rent-list.html"  target="_blank">出租房</a></li>
			<li class="on"><a href="{catlink(7)}"  target="_blank">图库</a></li>
			<li><a href="{catlink(10)}"  target="_blank">视频</a></li>
			<li class="more"><a href="javascript:void(0)">更多<em></em></a>
				<div>
					<a target="_blank" href="{BBS_PATH}">论坛</a>
				</div>
			</li>
		</ul>
		<a href="{APP_PATH}map/" target="_blank" class="mapS">地图找房</a>
		<input type="text" value="请输入关键字" data-val="请输入关键字">
		<button> </button>
	</div>
	<div id="indexMenu"> 
		<em class="r2"></em>
		<div id="newMenu">
	<a href="javascript:void(0)" class="fir">网站导航</a>
	{template "ssi","ssi_12"}
</div>
<script type="text/javascript">
seajs.use("jquery",function($){
	var $newMenu=$("#newMenu")
	$newMenu.hover(function(){
		$newMenu.addClass("on")
	},function(){
		$newMenu.removeClass("on")
	}).find("li").hover(function(){
		$(this).addClass("on")
	},function(){
		$(this).removeClass("on")
	})
})
</script>		<ul class="menuL">
			<li class="s">
				<a href="{catlink(7)}" target="_self" >首页<em></em></a>
			</li>
			{h5:content action="category" catid="7" num="5" siteid="$siteid" order="listorder ASC"}
				{loop $data $r}
			<li >
				<a href="{catlink($r[catid])}" target="_self" >{catname($r[catid])}<em></em></a>
            </li>
			 {/loop}
		{/h5}   
		</ul>
	</div>
</div>
<script type="text/javascript">
	seajs.use(["jquery","nsearch"],function($){
		$("#Search").hSearch("{APP_PATH}index.php?s=search/index/init/siteid/1/typeid/2/")
	})
</script>   
<!--导航 end -->
</div><!-- @end 导航 -->

<!-- Banner -->
<section class="column banner-wrap">
  {h5:content  action="position" posid="68" num="5" order="listorder desc"}
    <div class="slide" id="PicSlide">
       <ul class="img">
		   {loop $data $v}
        <li {if $n>1}class="hidden"{/if}><a href="{$v[url]}" target="_blank" title="{$v[title]}"><img src="{thumb($v[thumb],640,360)}" width="640"  height="360" alt="{$v[description]}"></a></li>
       {/loop}
    </ul>
<!-- 标题区 -->
<div class="title">
{loop $data $v}
{if $n==1}
    <p class="h3 pos-a"><a title="">{$v[description]}</a></p>
{/if}
	{/loop}
    <div class="shadow"></div>
</div>
<!-- 缩略图 -->
<div class="thumb">
    <ul>
	  {loop $data $v}
                <li><a href="{$v[url]}" target="_blank" title="{$v[title]}"><img src="{thumb($v[thumb],120,60)}" width="120" height="60" alt="{$v[title]}"></a></li>
   {/loop}
            </ul>
    <div class="now-status"></div>
</div>
    </div>
{/h5}
    <aside class="image-rank">
        <div class="hd"><!-- 图片排行榜 --></div>
        <div class="bd">
           <ul id="accordion_elem" class="list">
  {h5:content  action="hits" catid="7" order="weekviews DESC" num="10" }
  {loop $data $v}
<li class="item">
    <div class="ov">
        <em class="ico front">{$n}</em><a class="title" target="_blank" href="{$v[url]}">{$v[title]}</a>
    </div>
    <div class="summary" style="display: none;">
        <a title="{$v[$title]}" target="_blank" href="{$v[url]}"><img width="80" height="60" alt="" class="thumb" src="{thumb($v[thumb],80,60)}"></a>
        <p>{str_cut($v[description],30)}</p>
    </div>
</li>
 {/loop}
{/h5}           
            </ul>
        </div>
    </aside>
</section><!-- @end Banner -->

<!-- 广告 -->
<section class="column column-ad">
<script language="javascript" src="{APP_PATH}index.php?s=poster/index/show_poster&id=46"></script>
</section><!-- @end 广告 -->
{h5:content action="category" catid="7" num="5" siteid="$siteid" order="listorder ASC"}
{loop $data $r}
<section class="ov rec-special">
    <div class="m-head dotted-head">
        <a class="more" href="{catlink($r[catid])}">更多 &gt;&gt;</a>
        <em class="ico"></em>
        <div class="title"><a href="{catlink($r[catid])}" title="{catname($r[catid])}" class="words">{catname($r[catid])}</a></div>
    </div>
    <div class="m-main">
        <div class="pic-list-box ov">
		{h5:content action="lists" catid="$r[catid]" num="12" order="id DESC" page="$page" cache="1800"}
				{loop $data $v}
                        <div class="v-pic">
                <div class="thumb">
                    <a href="{$v[url]}" target="_blank" title="{$v[title]}"><img src="{$v[thumb]}" alt="{$v[title]}" width="120" height="90"></a>
                </div>
                <div class="title"><a href="{$v[url]}" target="_blank" title="{$v[title]}">{$v[title]}</a></div>
            </div>
			{/loop} {/h5}
                    </div>
    </div>
</section>
{/loop} {/h5}
<!-- footer -->
{template "content","footer"}

<script type="text/javascript" src="{APP_PATH}statics/house5-style1/pic/js/house5-slider.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //幻灯片调用
        slider.init({'id': $('#PicSlide'), way:'left', interval: 4000});
        accordion($('#accordion_elem'));
    });

    // 手风琴效果
    function accordion( elem ){
        var lis = elem.find('.item');
        var Tag = lis.eq(0).get(0).nodeName;
        lis.hover(function( ev ){
            $(this).find('.summary').show().parent().siblings().find('.summary').hide();
        },function( ev ){
            if(ev.relatedTarget.nodeName != Tag ){
                $(this).find('.summary').show().parent().siblings().find('.summary').hide();
            } else{
                $(this).find('.summary').hide();
            }
        });
    }
</script>
</body>
</html>