<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link rel="icon" href="{APP_PATH}favicon.ico" type="image/icon" />
<link rel="shortcut icon" href="{APP_PATH}favicon.ico" type="image/x-icon" />
<link href="{APP_PATH}statics/house5-style1/video/css/index.css" rel="stylesheet" type="text/css" />
<script src="{APP_PATH}statics/house5-style1/js/lib/jquery-1.6.2.min.js" type="text/javascript"></script>
<script src="{APP_PATH}statics/house5-style1/video/js/lunbo.js" type="text/javascript"></script>
<script src="{APP_PATH}statics/house5-style1/video/js/imageScroller.js" type="text/javascript"></script>
</head>
<body>
<div class="header w960">
<!--header-->
	<div class="logo"><a href="{catlink(115)}"><img src="{APP_PATH}statics/house5-style1/img/logo.png" alt=""></a></div>
    <div class="search">
    	<div class="text">
			<form id="search" name="search" action="{APP_PATH}index.php" method="GET">
				  <input type="hidden" name="s" value="search/index/init/siteid/1/">
                  <input type="hidden" name="typeid" value="3">
                  <input name="q" id="q" type="text" class="txt" value="请输入搜索关键字" onfocus="if(this.value=='请输入搜索关键字'){this.value='';}" onblur="if(this.value==''){this.value='请输入搜索关键字';}">
					<input type="submit" class="button" id="submit" value="搜&nbsp;索">
                </form>
        </div>
     <p>
	           
        </p>
    </div>
    <div class="phone">
        <div></div><label></label>
        <span>
        <a href="{APP_PATH}" target="_blank">网站首页</a> |
        <a href="{BBS_PATH}" target="_blank">业主社区</a>
        </span>
    </div>
</div>
<!--header end-->
<div class="navBar"><!--navBar-->
<div class="v-nav">
    <div id="overlayBox" class="v-area clearfix">
        <ul class="left v-nav-left">
		{h5:content action="category" catid="10" num="7" siteid="$siteid" order="listorder ASC"}
        	<li class="v-nav-on"><a href="{catlink(10)}" title="首页">首页</a></li>
			{loop $data $r}
            <li{if $r[catid]==$catid} class="v-nav-on"{/if} ><a href="{$r[url]}" title="{$r[catname]}">{$r[catname]}</a></li>
            {/loop}
			{/h5}
            <!--<li><a target="_self" title="最新" href="">最新</a><span class="v-nav-new"></span></li>-->
            </ul>
      </div></div>
</div>
<!--navBar end-->
<div class="hr_10"></div>
<div class="fi_movie w960" id="fi_movie"><!--fi_movie-->
	
<div id="slider">
	<div class="slider_box" id="slider_name">
 	  {h5:content  action="position" posid="7" num="8" order="id desc"}
      <ul class="silder_con">
		{loop $data $v}
        <li class="silder_panel clearfix">
       	  <a href="{$v[url]}" class="f_l"><img src="{$v[thumb]}" /></a>
          <div class="silder_intro f_r">
            <h3> <strong><a href="{$v[url]}">{$v[title]}</a></strong> <span>播放：{get_hits(5,$v[id])}次</span> </h3>
            <p>[<strong>视频介绍</strong>]{str_cut($v[description],108,'')}</p>
            <a class="silder_play" target="_blank" href="{$v[url]}">马上观看</a></div>
        </li>
		{/loop}
     
      </ul>
      <ul class="silder_nav clearfix">
	  {loop $data $v}
        <li><a href="#"><img src="{$v[thumb]}"/></a></li>    
		{/loop}   
      </ul>
	{/h5}
    </div>
    <div class="silderBox"></div>
</div>

<!--fi_movie end-->

<div class="hr_10"></div>
<div class="w960"><!--1楼-->
    <div class="blockyi"><!--blockyi-->
        <div class="title"><a href="{catlink(45)}" target="_blank">更多&gt;&gt;</a><h2 class="ttkfAlt">{catname(45)}</h2></div>
			{h5:content  action="position" catid="45" posid="10" thumb="1" num="1"}
			{loop $data $v}
            <div class="play">
              <a href="{$v[url]}" target="_blank" title="{$v[title]}"><img src="{$v[thumb]}" alt="{$v[title]}" width="244px" height="183px"></a>
            </div>
            <div class="news">
                <h1><a href="{$v[url]}" target="_blank" title="{$v[title]}">{$v[title]}</a></h1>
                <div class="xline"></div>
                <p><b>【简介】</b>{str_cut($v[description],320)}<a href="{$v[url]}" target="_blank">[详情]</a></p>
        	</div>
			{/loop}
			{/h5}
		<div class="hr_10"></div>
        <div class="videoList"><!--videoList-->
            <ul>
				{h5:content  action="lists" catid="45" order="listorder DESC" limit="4"}
					{loop $data $v}
                	<li>
                        <a href="{$v[url]}" target="_blank" title="{$v[title]}" class="img">
                            <img src="{$v[thumb]}" alt="{$v[title]}" />
                            <!-- <i></i>
                            <code>05:32</code> -->
                        </a>
                        <p><a href="{$v[url]}" target="_blank">{str_cut($v[title],24,'')}</a></p>
                    </li>
				{/loop}
				{/h5}
            </ul>
        </div><!--videoList end-->
	</div><!--blockyi end-->
    <div class="tongR"><!--tongR-->
        <div class="hotLabel b"><!--hotLabel-->
            <div class="title"><a href="#" target="_blank">更多&gt;&gt;</a><h3>热门标签</h3></div>
            <div class="content">
                	
            </div>
        </div><!--hotLabel end-->
    </div><!--tongR end-->
</div><!--1楼END-->
<div class="hr_10"></div>
<div class="w960"><!--2楼-->
    <div class="blockL"><!--blockL-->
        <div class="title"><a href="{catlink(47)}" target="_blank">更多&gt;&gt;</a><h2 class="ztcAlt">{catname(47)}</h2></div>
        <div class="videoList"><!--videoList-->
            <ul>
			{h5:content  action="lists" catid="47" order="listorder DESC" limit="0,4"}
				{loop $data $v}
                    <li>
                        <a href="{$v[url]}" target="_blank" title="{$v[title]}" class="img">
                            <img src="{$v[thumb]}" alt="{$v[title]}" />
                            <!-- <i></i>
                            <code>05:16</code> -->
                        </a>
                        <p><a href="{$v[url]}" target="_blank">{str_cut($v[title],24,'')}</a></p>
                    </li>
              {/loop}
			  {/h5}
            </ul>
        </div><!--videoList end-->
        <div class="clear"></div>
        <div class="otherVideo">
            <ul>
			{h5:content  action="lists" catid="47" order="listorder DESC" limit="4,6"}
				{loop $data $v}
                	<li><a href="{$v[url]}" target="_blank">{str_cut($v[title],40,'')}</a></li>
				 {/loop}
			  {/h5}
            </ul>
		</div>
    </div><!--blockL end-->
<div class="popRank b"><!--popRank-->
    <h3>人气排行</h3>
    <ol>
	 {h5:content action="hits" catid="10" num="10" order="views DESC"}
			{loop $data $v}				
					<li class="up">
					<dt><span>{$n}</span><a href="{$v[url]}" target="_blank"  title="{$v[title]}">{str_cut($v[title],28,'')}</a></dt>
					<dd>{get_hits(5,$v[id])}次</dd>
				</li>
				{/loop}
	{/h5}
    </ol>
</div><!--popRank end-->

</div><!--2楼END-->
<div class="hr_10"></div>
<div class="w960"><!--3楼--> 
    <div class="blockL"><!--blockL-->
        <div class="title"><a href="{catlink(50)}" target="_blank">更多&gt;&gt;</a><h2 class="mdmAlt">{catname(50)}</h2></div>
        <div class="videoList"><!--videoList-->
            <ul>
                 {h5:content  action="lists" catid="50" order="listorder DESC" limit="0,4"}
				{loop $data $v}
                    <li>
                        <a href="{$v[url]}" target="_blank" title="{$v[title]}" class="img">
                            <img src="{$v[thumb]}" alt="{$v[title]}" />
                            <!-- <i></i>
                            <code>05:16</code> -->
                        </a>
                        <p><a href="{$v[url]}" target="_blank">{str_cut($v[title],24,'')}</a></p>
                    </li>
              {/loop}
			  {/h5}
            </ul>
        </div><!--videoList end-->
        <div class="clear"></div>
        <div class="otherVideo">
            <ul>
			{h5:content  action="lists" catid="50" order="listorder DESC" limit="4,6"}
				{loop $data $v}
                	<li><a href="{$v[url]}" target="_blank">{str_cut($v[title],40,'')}</a></li>
				 {/loop}
			  {/h5}
            </ul>
		</div>
    </div><!--blockL end-->
    <div class="popRank b"><!--popRank-->
    	<h3>热门楼盘</h3>
    	<ol class="commRank">
             {h5:content action="hits" catid="14" num="10" order="views DESC"}
			{loop $data $v}				
					<li class="up">
					<dt><span>{$n}</span><a href="{$v[url]}" target="_blank"  title="{$v[title]}">{str_cut($v[title],28,'')}</a></dt>
					<dd>{get_hits(13,$v[id])}</dd>
				</li>
				{/loop}
		{/h5}
        </ol>
    </div><!--popRank end-->
</div><!--3楼END-->    
<div class="hr_10"></div>
<div class="w960"><!--4楼--> 
    <div class="blockL"><!--blockL-->
        <div class="title"><a href="{catlink(51)}" target="_blank">更多&gt;&gt;</a><h2 class="mdmAlt">{catname(51)}</h2></div>
        <div class="videoList"><!--videoList-->
            <ul>
                {h5:content  action="lists" catid="51" order="listorder DESC" limit="0,4"}
				{loop $data $v}
                    <li>
                        <a href="{$v[url]}" target="_blank" title="{$v[title]}" class="img">
                            <img src="{$v[thumb]}" alt="{$v[title]}" />
                            <!-- <i></i>
                            <code>05:16</code> -->
                        </a>
                        <p><a href="{$v[url]}" target="_blank">{str_cut($v[title],24,'')}</a></p>
                    </li>
              {/loop}
			  {/h5}
            </ul>
        </div><!--videoList end-->
        <div class="clear"></div>
        <div class="otherVideo">
            <ul>
                {h5:content  action="lists" catid="51" order="listorder DESC" limit="4,6"}
				{loop $data $v}
                	<li><a href="{$v[url]}" target="_blank">{str_cut($v[title],40,'')}</a></li>
				 {/loop}
			  {/h5}
            </ul>
		</div>
    </div><!--blockL end-->
    <div class="popRank b">
    	<h3>热点资讯</h3>
        <ul>
		 {h5:content action="hits" catid="6" num="10" order="weekviews DESC"}
			{loop $data $v}				
					<li class="up">
					<dt><span>{$n}</span><a href="{$v[url]}" target="_blank"  title="{$v[title]}">{str_cut($v[title],28,'')}</a></dt>
					<dd>{get_hits(1,$v[id])}次</dd>
				</li>
				{/loop}
		{/h5}
        </ul>
    </div>
</div><!--4楼END-->
<div class="hr_10"></div>
<div class="special b"><!--5楼-->
	<h2 class="hdzt">最新视频</h2>
	<div class="left_btn" id="prevButton"></div>
    <div class="right_btn" id="nextButton"></div>
    <div class="content" id="panelWrapper">
    	<ul id="list">
		{h5:content action="lists" catid="10" num="10" order="id DESC"}
				{loop $data $v}
            	<li><a href="{$v[url]}" target="_blank" title="{$v[title]}">
            	<img src="{$v[thumb]}" alt="{$v[title]}"></a>
            	{$v[title]}
            	</li>
				{/loop}
				{/h5}
        </ul>
    </div>
</div><!--5楼 end-->
<div class="hr_10"></div>
<div class="hr_10"></div>
<div class="yqljAd b"><!--7楼--> 
    <h2 class="yqljAlt">友情链接</h2>
    <div class="clear"></div>
    <div class="content">
	 {h5:link  action="type_list" typeid="42" siteid="1" order="listorder DESC" return="data"}
			   {loop $data $r}
				<a href="{$r[url]}" title="{$r[name]}" target="_blank">{$r[name]}</a>
             {/loop}
	{/h5}
        <div class="hr_10"></div>     
    </div>
</div><!--7楼END-->
<div class="hr_10"></div>
{template "content","footer"}
<script src="{APP_PATH}statics/house5-style1/video/js/jquery.slides.js" type="text/javascript"></script>
<script type="text/javascript">    
    $("#panelWrapper").imageScroller({
        prev: "nextButton",
        next: "prevButton",
        frame: "list",
        child: "li",
        auto: true
    });
</script>
</body>
</html>
