<!DOCTYPE html>
<html>
<head>
	<meta charset="gbk"/>
	<meta name="keywords" content="经纪人,房地产经纪人,房产经纪人,二手房经纪人,二手房"/>
	<meta name="description" content="房产网提供最详尽的经纪人列表, 为房地产经纪人提供网络营销工具、房源管理工具,是成为优秀网络房产经纪人最好的网络平台。查看更多房产中介公司,房地产经纪人信息请到房产网。"/>
	<link href="{APP_PATH}favicon.ico" rel="shortcut icon" type="image/x-icon"/>
	<link href="{APP_PATH}statics/default/css/esf/reset.css"  rel="stylesheet" type="text/css"/>
	<link href="{APP_PATH}statics/default/css/esf/esf.css"  rel="stylesheet" type="text/css"/>
	<script src="{APP_PATH}statics/default/js/esf/sea.js"  type="text/javascript"></script>
	<title>经纪人列表 - {$SEO['site_title']}</title>
</head>
<body>
	<div id="main">
		<div id="header">
	{template "ssi","ssi_8"}
<script type="text/javascript">
seajs.use("topbarlogin")
</script>	<h1>
			<a href="{APP_PATH}"  title="{$site_title}" class="logo fl">
			<img src="{APP_PATH}statics/default/img/logo.png" alt="{$SEO['site_title']}" width="150" height="50"/></a></h1>
<div id="Search">
		<ul class="searchURL">
			<li><a href="{HOUSE_PATH}"  target="_blank">新房</a></li>
			<li class="on"><a href="{ESF_PATH}list.html"  target="_blank">二手房</a></li>
			<li><a href="{ESF_PATH}rent-list.html"  target="_blank">出租房</a></li>
			<li><a href="{catlink(7)}"  target="_blank">图库</a></li>
			<li><a href="{catlink(10)}"  target="_blank">视频</a></li>
			<li class="more"><a href="javascript:void(0)">更多<em></em></a>
				<div>
					<a href="{BBS_PATH}"  target="_blank">论坛</a>
				</div>
			</li>
		</ul>
		<a href="map.html"  class="mapS" target="_blank">地图找房</a>
<?php

 	$parentid = intval($_GET['r']);
	$bid = intval($_GET['b']);
	$eprice = trim($_GET['e']);
	$marea = trim($_GET['m']);
	$range = intval($_GET['p']);
	$type = intval($_GET['t']);
	$fix = intval($_GET['f']);
	$year = intval($_GET['y']);
	$floor = intval($_GET['l']);
	$source = intval($_GET['u']);
	$opentime = intval($_GET['o']);
	$hot = intval($_GET['h']);
	$ord = intval($_GET['n']);
	$area = intval($_GET['c']);
	$page = intval($_GET['g']);
	$keyword = trim($_GET['keyword']);
	$k = trim($_GET['k']);
	
	if(!empty($keyword))
	{
		$keyword1 = iconv('gbk', 'utf-8', $keyword);//rewrite 只支持UTF-8编码的中文
		$lst1.= "-k".htmlentities(urlencode($keyword1));
		$where.=" and (`title` like '%$keyword%' or `address` like '%$keyword%' )";
	}
	if(!empty($k))
	{
		$keyword = iconv('utf-8','gbk' , $k);
		$lst1.= "-k".htmlentities(urlencode($k));
		$where.=" and (truename like '%$keyword%')";
	}
 	if(!empty($parentid))
	{
		$lst = "-r".$parentid;
		$where.=" and `district`=$parentid";
	}
	if(!empty($ord))
	{
		if($ord=='1')
		{
			$order=" point desc";
			$order_name = "等级由高到低";
		}
		elseif($ord=='2')
		{
			$order=" point ASC";
			$order_name = "等级由低到高";
		}
		else
		{
			$order=" `userid` DESC";
			$order_name = "默认排序";
		}
		$lst.= "-n".$ord;
	}
	else
	{
		$order = "`userid` DESC";
		$order_name = "默认排序";
	}
	?>
		<div id="qy">
			{if !empty($parentid)}
			{php $menu_info = menu_info('3360',$parentid)}
			<span>{$menu_info[0]}</span>
			{else}
			<span>区域/地铁</span>
			{/if}
			<div>
				<a data-val="" href="javascript:void(0)">全部区县</a>
				{h5:content action="getlinkage" keyid="3360" parentid="0" order="listorder ASC" cache="86400"}
{loop $data $r}
<?php
 	$reg = explode('$$', $r);//add by L 2012/3/22
	?>
	<a {if !empty($parentid) && $parentid==$reg[0]} class="on"{/if} href="javascript:void(0)" data-val="-r{$reg[0]}">{$reg[1]}</a>											
	{/loop}
{/h5}
												</div>
		</div>
		<div data-k = "平" id="wy" data-val="{if !empty($marea)}-m{$marea}{/if}">
			<span>{if !empty($area_name)}{$area_name}{else}面积{/if}</span>
			<div>
				<a data-val="" href="javascript:void(0)">全部</a>
											<a {if $area=="1"} class="on"{/if} href="javascript:void(0)" data-val="-c1">70平米以下</a>
											<a {if $area=="3"} class="on"{/if} href="javascript:void(0)" data-val="-c3">70-90平米</a>
											<a {if $area=="4"} class="on"{/if} href="javascript:void(0)" data-val="-c4">90-120平米</a>
											<a {if $area=="5"} class="on"{/if} href="javascript:void(0)" data-val="-c5">120-150平米</a>
											<a {if $area=="6"} class="on"{/if} href="javascript:void(0)" data-val="-c6">150-200平米</a>
											<a {if $area=="7"} class="on"{/if} href="javascript:void(0)" data-val="-c7">200-300平米</a>
											<a {if $area=="8"} class="on"{/if} href="javascript:void(0)" data-val="-c8">300平米以上</a>
												</div>
		</div>
		<div data-k = "万" id="jg" data-val="{if !empty($eprice)}-e{$eprice}{/if}">
			<span>{if !empty($range_name)}{$range_name}{else}价格范围{/if}</span>
			<div>
				<a data-val="" href="javascript:void(0)">全部</a>
											<a {if $range=="1"} class="on"{/if} href="javascript:void(0)" data-val="-p1">50万以下</a>
											<a {if $range=="2"} class="on"{/if} href="javascript:void(0)" data-val="-p2">50-80万</a>
											<a {if $range=="3"} class="on"{/if} href="javascript:void(0)" data-val="-p3">80-100万</a>
											<a {if $range=="4"} class="on"{/if} href="javascript:void(0)" data-val="-p4">100-150万</a>
											<a {if $range=="5"} class="on"{/if} href="javascript:void(0)" data-val="-p5">150-200万</a>
											<a {if $range=="6"} class="on"{/if} href="javascript:void(0)" data-val="-p6">200-250万</a>
											<a {if $range=="7"} class="on"{/if} href="javascript:void(0)" data-val="-p7">250-300万</a>
											<a {if $range=="8"} class="on"{/if} href="javascript:void(0)" data-val="-p8">300-400万</a>
												</div>
		</div>
		<div id="shx">
			<span>{if !empty($type_name)}{$type_name}{else}户型{/if}</span>
			<div>
				<a data-val="" href="javascript:void(0)">全部</a>
											<a {if $type=="1"}  class="on"{/if} href="javascript:void(0)" data-val="-t1">一室</a>
											<a {if $type=="2"}  class="on"{/if} href="javascript:void(0)" data-val="-t2">二室</a>
											<a {if $type=="3"}  class="on"{/if} href="javascript:void(0)" data-val="-t3">三室</a>
											<a {if $type=="4"}  class="on"{/if} href="javascript:void(0)" data-val="-t4">四室</a>
											<a {if $type=="5"}  class="on"{/if} href="javascript:void(0)" data-val="-t5">其它</a>
												</div>
		</div>
		<input type="text" data-val="{if empty($k)}请输入关键字（楼盘名或地名）{else}{$keyword}{/if}" value="{if empty($k)}请输入关键字（楼盘名或地名）{else}{$keyword}{/if}">
		<button> </button>
	</div>
	<div id="indexMenu"> 
		<em class="r2"></em>
		<div id="newMenu">
	<a href="javascript:void(0)" class="fir">网站导航</a>
	{template "ssi","ssi_12"}
</div>
<script type="text/javascript">
seajs.use("jquery",function($){
	var $newMenu=$("#newMenu")
	$newMenu.hover(function(){
		$newMenu.addClass("on")
	},function(){
		$newMenu.removeClass("on")
	}).find("li").hover(function(){
		$(this).addClass("on")
	},function(){
		$(this).removeClass("on")
	})
})
</script>		<ul class="menuL">
			<li >
				<a href="{ESF_PATH}" >首页<em></em></a>
			</li>
			<li>
				<a href="{ESF_PATH}list.html" >出售房源<em></em></a>
			<li >
				<a href="{ESF_PATH}rent-list.html" >出租房源<em></em></a>
			</li>
			<li>
				<a href="{ESF_PATH}map.html"  target="_blank">地图找房<em></em></a>
			</li>
			<li >
				<a href="{ESF_PATH}xiaoqu-list.html" >小区找房<em></em></a>
			</li>
			<li class="s">
				<a href="{ESF_PATH}jingjiren" >经纪人<em></em></a>
			</li>
			<li>
				<a href="{catlink(6)}"  target="_blank">资讯<em></em></a>
			</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	seajs.use(["jquery","hsearch"],function($){
		$("#Search").hSearch("list","{APP_PATH}api.php?op=esfsuggest");
		$("#jg,#wy").each(function(){
			var $t=$(this);
			var t=$t.attr("data-val");
			if(t){
				$t.data("val",$t.attr("data-val"));
				var k=$t.attr("data-k");
				t=t.substring(2).split("_");
				if(t[0]==0)
					$t.find("span").html(t[1]+k+"以下");
				else if(t.length==1)
					$t.find("span").html(t[0]+k+"以上");
				else
					$t.find("span").html(t.join("-")+k);
			}
		});
	})
</script>		<div class="bread">
			您当前的位置：<a href="{APP_PATH}" >{$site_title}</a> &gt;
			<a href="{APP_PATH}esf" >{$default_city}二手房网</a> &gt;
			房源列表
		</div>
		<div class="modB">
			<div class="conl1">
				<div class="cf" style="padding:9px 0;">
					<span class="a_name">区&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;域：</span>
					<span>
						<a href="{ESF_PATH}jingjiren" {if empty($parentid)}  class="c" {/if}>不限</a>
			{h5:content action="getlinkage" keyid="4000" parentid="0" order="listorder ASC" cache="86400"}
{loop $data $r}
<?php
 	$reg = explode('$$', $r);//add by L 2012/3/22
	?>
	<a {if !empty($parentid) && $parentid==$reg[0]} class="c"{/if} href="{ESF_PATH}jingjiren-r{$reg[0]}">{$reg[1]}</a>											
	{/loop}
{/h5}
				      					        					</span>
									</div>
			</div>
		</div>
		<div class="cf">
			<div class="w720 fl">
				<div class="Tle2">
					<form action="" method="post">
						<input id="hname" type="text" name="keyword" data-val = "经纪人姓名/公司名称" value="经纪人姓名/公司名称" class="txt" autocomplete="off">
						<input id="kwsearch" type="button" name="" class="btn" value="">
					</form>
					<div class="s_list fr" id="s_list1">
						<span>{$order_name}</span>
						<ul>
							<li>
								<a href="{ESF_PATH}jingjiren">默认排序</a>
							</li>
							<li>
								<a href="{ESF_PATH}jingjiren-n1">等级由高到低</a>
							</li>
							<li>
								<a href="{ESF_PATH}jingjiren-n2">等级由低到高</a>
							</li>
						</ul>
					</div>
					<span class="fr">共有 <b class="red" id="num"></b> 个经纪人满足您的条件</span>
				</div>
				<!--list-->
				{h5:member action="memberlist" type="1" where="$where" order="$order" pg="$page" num="10"}
					<table class="FyList jjrSearch" id="FyList">
												
					{loop $data[result] $k $v} 
						<tr>
						<td class="pic">
							<a href="{ESF_PATH}jingjiren-{$v[userid]}" target="_blank">
								<img src="{$v[avatar]}" /></a>
						</td>
						<td class="info">
							<h5>
								<a href="{ESF_PATH}jingjiren-{$v[userid]}" target="_blank">{$v[truename]}&#160;</a> <img src="{APP_PATH}statics/default/img/esf/{$v['groupicon']}" border="0" align="absmiddle" title="等级：{$v['groupname']} 积分：{$v['point']}" /> 
							</h5>
							<p>
								所属公司：{if $v[company]}<A href="{ESF_PATH}mendian-{$v[company]}" target="_blank">{$v[companyname]}</A>{else}{$v[companyname]}{/if}								<br>{php $district_info = menu_info('4000',$v[district])}
								{$district_info[0]}   &nbsp;手    机：{$v[tel]}							<br>
								 每天都来							</p>
						</td>
						<td class="price">
							<a class="dp" href="{ESF_PATH}jingjiren-{$v[userid]}" target="_blank">进入店铺</a>
						</td>
					</tr>
					{/loop}
									</table>						
					<div class="pagination" >
					{$data['pages']}
					</div>
				{/h5}
							</div>
			<div class="w230 fr">
				<div class="modC">
					<h4 class="modBT"><sub></sub>
						经纪人积分排行榜
					</h4>
					{h5:member action="memberlist" type="1" order="point DESC"  num="10"}
							<ul class="top10">
									{loop $data[result] $k $v} 
            									<li>
							<span class="lettsub7"><a href="{ESF_PATH}jingjiren-{$v[userid]}" target="_blank">{$v[truename]}</a></span>
							<span class="w2"><img src="{APP_PATH}statics/default/img/esf/{$v['groupicon']}"  border="0" align="absmiddle" title="等级：{$v['groupname']} 积分：{$v['point']}" /></span>
						</li>
						{/loop}
											</ul>
							{/h5}
									</div>
                <div class="mt10"></div>
<!--r二手房广告 经纪人列表页-右侧-->
			</div>
		</div>
{template "content","footer"}
<script type="text/javascript">
seajs.use(["jquery"],function($){
	$("#s_list1").add("tr").hover(function(){
		$(this).addClass("h")
	},function(){
		$(this).removeClass("h")
	})
	var num = $('#nums').val();
	$('#num').html(num);
	var $hname=$("#hname");
	var ht=$hname.attr("data-val");
	$hname.on("focus",function(){
		if($hname.val()==ht)
			$hname.val("");
	}).on("blur",function(){
		if($hname.val()=="")
			$hname.val(ht);
	}).on("keydown",function(e){
		if(e.which==13){
			$("#kwsearch").click()
			return false
		}	
	}).closest("form").submit(function(){
		if($hname.val()==ht)
			return false;
	})
	$("#kwsearch").click(function(){
		var kw = $hname.val();
		if(kw!=""&&kw!=ht){
			var kw_encode = encodeURIComponent(kw);
			setTimeout(function(){
				window.location.href = "{ESF_PATH}jingjiren-K" + kw_encode;
			},99)
		}
		$hname.focus();
		return false;
	});

})
</script>
</body>
</html>
