<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>	{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" type="text/css" href="{APP_PATH}statics/house5-style1/about/css/about.css" />
<script type="text/javascript" src="{APP_PATH}statics/house5-style1/js/lib/jquery.min.js"></script>
</head>
<body>
<div class="headbox">
	<div class="head">
		<div class="logo"><a href="/"><img src="{APP_PATH}statics/house5-style1/img/logo.png" alt="{$SEO['site_title']}" /></a></div>
		<div class="logo_right">
			<a href="{siteurl($siteid)}">首页</a> | <a href="{APP_PATH}login.html">登录</a> | <a href="{APP_PATH}register.html">注册</a>
		</div>
		<div class="clear"></div>
		<div class="nav">
			<ul>
			{loop $arrchild_arr $cid}
                <li{if $catid==$cid} class="hover"{/if}><a href="{$CATEGORYS[$cid][url]}">{$CATEGORYS[$cid][catname]}</a></li>
			{/loop}
			
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="content1">{$title}</div>
<div class="content2">
	<div class="content2_div"><div class="Section0" style="layout-grid:  15.6pt none">

  {$content}

</div>
<!--EndFragment--></div>
</div>
<div class="content3">
	<div class="content3_box"></div>
</div>
{template "content","footer"}
</body>
</html>
