{template "content","head_house_show"}
 <div class="wrap mB10 crumb">您的位置：<a href="{APP_PATH}" title="">首页</a> > <a href="{HOUSE_PATH}" title="新房">新房</a> > <a href="{$url}" title="{$title}">{$title}</a> > <a href="{HOUSE_PATH}{$id}/xiangce.html" title="楼盘相册">楼盘相册</a><span id="weizi"></span></div>


<div class="wrap clear wrap_shadow LP_Gallery">
    <div class="shadow fix">
    	<div class="fix commHd">
        	<span class="fr JS_jia"><div id="bdshare" class="bdshare_b" style="line-height: 12px;">
            
             <a class="shareCount"></a></div></span>
        	<h3 class="fl fw_B fs_14">{$title}[{$xszt}]</h3>
            <div class="fl fs_14 fw_B LP_hotline">售楼热线:<em class="en c_orangered fw_B">{$tel}</em></div>
            <div class="fl LP_swm">
                	<a href="javascript:showfceng('erweima',1);" ><img src="{APP_PATH}statics/house5-style1/newhouse/img/erweima.png" /></a>
                    <div class="LP_swm_panel">
                    	<b></b>
                    	<div class="swm"><img src="{APP_PATH}caches/caches_content/caches_house/mobile_houseqrcode/{$siteid}/{$id}.png" alt="{$title}" width="171" height="171"/></div>
                    </div>
            </div>
            <a href="javascript:callphones('4882430623961921590');" title="免费通话" class="forCALL"><b></b>免费通话</a><a href="javascript:showfceng('dxfsc',1);" title="发送到手机" class="forMAIL"><b></b>发送到手机</a><a title="收藏本楼盘" href="#" class="collect"><b></b>收藏</a> 
        </div>
        
        <div class="fl commLeft">
        <div class="fix Gallery_Handle">
            <!-- <a href="#" class="fl update_pic">上传楼盘图片</a> -->
        </div>
        <!--div style="height:10px;"></div-->
       <ul class="fix clear Gallery_list">
	   {h5:content action="huxingtype" relation="$id" catid="8" num="10" order="inputtime DESC" cache="86400"}<!--相册 -->
	   {loop $data $r}
	   {h5:content action="pictypecount" relation="$id" catid="8" typeid="$r[typeid]" cache="172800" return="info"}
                            	<li>
		{h5:content action="huxingthumb" relation="$id" typeid="$r[typeid]" catid="8" order="id DESC" cache="172800" return="huxingthumb"}
                	<div class="Gallery_avatar"><span><a href="{HOUSE_PATH}xclist-{$id}-{$r[typeid]}-{$r[id]}.html"><img src="{thumb($huxingthumb[thumb], 160, 116, 0)}" alt="楼盘相册" width="160" height="116"></a></span></div>
		{/h5}
                    <div class="Gallery_Name"><span class="mR10"><a href="{HOUSE_PATH}xclist-{$id}-{$r[typeid]}-{$r[id]}.html" title="楼盘相册">{get_typename_bytypeid($siteid,$r[typeid])}</a> <em class="en c_grey">({$info}张)</em></span></div>               
                </li>
		{/h5}
{/loop}
{/h5}
                            </ul>
<div class="fix page">
</div>
</div>
<div class="fl commRight">		
          <div class="fw_B fs_14 title" style="margin:15px 0 10px;">{$title}楼盘关注</div>
          <div class="ct_had"><span class="fl">已有<b class="en c_orangered" id="tuangou"></b>人参团</span><a href="javascript:showfceng('tgbmc',1);" class="fl">立即参团</a></div>
         <div class="fw_B fs_14 title">热点楼盘推荐</div>
		  {h5:content action="hits" catid="14" num="9" order="views DESC" cache="10800"}
		{loop $data $v}
			{php $menu_info = menu_info('3360',$v[region])}
		            <div class="lp_faq_rank_tr"> <span class="lp_faq_t1"><a title="{$v[title]}" href="{$v[url]}/" target="_blank" >{str_cut($v[title],16,'')}</a></span><span class="lp_faq_t2">{$menu_info[0]}</span><span class="lp_faq_t3 c_orangered">{$v[views]}</span> </div>
				{/loop}
			{/h5}
    </div>
</div>
</div>
{template "content","footer_house_show"}