{template "content","head_house_show"}
<div class="wrap mB10 crumb">您的位置：<a href="../" title="GO房网"><em class="en">GO</em>房网</a> > <a href="../newhouse/" title="盐城新房">盐城新房</a> > <a href="./" title="中南世纪城">中南世纪城</a> > 在线咨询</div>

<div class="wrap clear wrap_shadow LP_Gallery LP_FAQ_Online">
  <div class="shadow fix">
    	<div class="fix commHd">
        	<span class="fr JS_jia"><div id="bdshare" class="bdshare_b" style="line-height: 12px;">
             <img src="http://imgs.goufw.com/css/2013house/images/type-button-1.jpg?cdnversion=20120831" />
             <a class="shareCount"></a></div></span>
        	<h3 class="fl fw_B fs_14">中南世纪城[热销]</h3>
            <div class="fl fs_14 fw_B LP_hotline">售楼热线:<em class="en c_orangered fw_B">88867888</em></div>
            <div class="fl LP_swm">
                	<a href="javascript:;" ><img src="http://imgs.goufw.com/css/2013house/images/swm.png" /></a>
                    <div class="LP_swm_panel">
                    	<b></b>
                    	<div class="swm"><img src="http://imgs.goufw.com/css/2013house/images/swm2.png" alt="中南世纪城二维码" width="171" height="171"/></div>
                    </div>
            </div>
            <a href="javascript:callphones('4882430623961921590');" title="免费通话" class="forCALL"><b></b>免费通话</a><a href="javascript:showfceng('dxfsc',1);" title="发送到手机" class="forMAIL"><b></b>发送到手机</a><a title="收藏本楼盘" href="#" class="collect"><b></b>收藏</a> 
        </div>
        
        <div class="fl commLeft">
            
            <div class="LP_FAQ_head">
            	<a href="javascript:scrollTo(0,100000);" class="fr faq_btn">我要提问</a>
            </div>
			<div id="zxtwlist"></div>
            
            <div class="faq_form clear">
                <div class="tr">
            		<div class="fl th">您的昵称<b class="c_orangered">*</b></div>
                    <div class="fl td"><input type="text" class="txt" size="80" id="cname" name="cname" maxlength="5"/></div>
                </div>
				<div class="tr">
            		<div class="fl th">标&nbsp;&nbsp;&nbsp;&nbsp;题<b class="c_orangered">*</b></div>
                    <div class="fl td"><input type="text" class="txt" id="title" name="title" maxlength="30" /></div>
                </div>
                <div class="tr">
            		<div class="fl th" style="height:70px">内&nbsp;&nbsp;&nbsp;&nbsp;容<b class="c_orangered">*</b></div>
                    <div class="fl td"><textarea name="content" id="content" cols="" rows="" class="txtarea"></textarea></div>
                </div>
            </div>
            <div class="faq_form_btn"><input type="button" class="faq_btn" onClick="tiwen();" /></div>
            
        </div>
		         <div class="fl commRight">		
          <div class="fw_B fs_14 title" style="margin:15px 0 10px;">中南世纪城楼盘关注</div>
          <div class="ct_had"><span class="fl">已有<b class="en c_orangered">533</b>人参团</span><a href="javascript:showfceng('tgbmc',1);" class="fl">立即参团</a></div>
          <div class="loveCard">
            <p class="fs_14">持GO房卡可享受最优折扣</p>
            <a href="#" title="立即申请GO房卡" class="c_orangered">立即申请GO房卡</a> </div>
          <div class="fw_B fs_14 title">中南世纪城周边地图</div>
          <div class="lp_small_Map">
            <div class="mapImg"><div class="map" id="mapbar" style="width:252px;height:165px"><script type="text/javascript" src="http://union.mapbar.com/apis/maps/free?f=mapi&v=31.2&k=aCW9cItqL6d6dy4ib6Qhdy4eb79hNzJsNzThMHTsMhAhOYdhMIV8OHT=@Y9=QYhdyhNT7Nyyhhiq4NW=dY6YTYyY7dHzMyQWN9y=6OTL=YLyyIidd9TtN6Yy9C@=FJD="></script>
<SCRIPT type=text/javascript>
	var latlons = "120.17426,33.33487";
     function initMap()
		{   
            maplet = new Maplet("mapbar");   
            maplet.centerAndZoom(new MPoint(latlons), 11);   
            maplet.addControl(new MStandardControl());   
			maplet.showOverview(false , false );  
			maplet.controlCanvas.showCtlPan(false);
			maplet.controlCanvas.showZOButton(false);
			maplet.controlCanvas.showCtlRuler(false);
			maplet.controlCanvas.showZIButton(false);
			 var marker = new MMarker(   
                new MPoint(latlons),   
				new MIcon("http://imgs.goufw.com/css/2013house/images/detail_mark.gif", 28, 28));         
				
				 maplet.addOverlay(marker); 
        }  
		initMap();
</SCRIPT></div>
</div>
            
            <a href="ditu.html" title="查看大地图" target="_blank">查看大地图</a> </div>
          <div class="fw_B fs_14 title">楼盘问答排行榜</div>
		            <div class="lp_faq_rank_tr"> <span class="lp_faq_t1"><a href="../znsjc" title="中南世纪城" target="_blank">中南世纪城</a></span><span class="lp_faq_t2">城南</span><span class="lp_faq_t3 c_orangered">244</span> </div>
                   <div class="lp_faq_rank_tr"> <span class="lp_faq_t1"><a href="../hdgy" title="中庚?海德公园" target="_blank">中庚海德公园</a></span><span class="lp_faq_t2">城南</span><span class="lp_faq_t3 c_orangered">223</span> </div>
                   <div class="lp_faq_rank_tr"> <span class="lp_faq_t1"><a href="../hdmd" title="恒大名都" target="_blank">恒大名都</a></span><span class="lp_faq_t2">城南</span><span class="lp_faq_t3 c_orangered">183</span> </div>
                   <div class="lp_faq_rank_tr"> <span class="lp_faq_t1"><a href="../xsw" title="橡树湾" target="_blank">橡树湾</a></span><span class="lp_faq_t2">城南</span><span class="lp_faq_t3 c_orangered">144</span> </div>
                   <div class="lp_faq_rank_tr"> <span class="lp_faq_t1"><a href="../jsht" title="锦盛豪庭" target="_blank">锦盛豪庭</a></span><span class="lp_faq_t2">城南</span><span class="lp_faq_t3 c_orangered">119</span> </div>
                   <div class="lp_faq_rank_tr"> <span class="lp_faq_t1"><a href="../ldswc" title="绿地商务城" target="_blank">绿地商务城</a></span><span class="lp_faq_t2">城东</span><span class="lp_faq_t3 c_orangered">116</span> </div>
                   <div class="lp_faq_rank_tr"> <span class="lp_faq_t1"><a href="../gydyh" title="公园道1号" target="_blank">公园道1号</a></span><span class="lp_faq_t2">城南</span><span class="lp_faq_t3 c_orangered">96</span> </div>
                   <div class="lp_faq_rank_tr"> <span class="lp_faq_t1"><a href="../fmtx" title="凤鸣缇香" target="_blank">凤鸣缇香</a></span><span class="lp_faq_t2">城南</span><span class="lp_faq_t3 c_orangered">93</span> </div>
                   <div class="lp_faq_rank_tr"> <span class="lp_faq_t1"><a href="../xcyp" title="西城逸品" target="_blank">西城逸品</a></span><span class="lp_faq_t2">城西</span><span class="lp_faq_t3 c_orangered">89</span> </div>
                 </div>		
    </div>
</div>

{template "content","footer_house_show"}