<!DOCTYPE html>
<html>
<head>
	<meta charset="gbk"/>
	<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta name="keywords" content="{$SEO['keyword']}">
	<meta name="description" content="{$SEO['description']}">
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<link rel="shortcut icon" href="{APP_PATH}favicon.ico" />
	<link href="{APP_PATH}statics/house5-style1/index/css/reset.css"  rel="stylesheet" type="text/css"/>
	<link href="{APP_PATH}statics/house5-style1/news/css/news.css" rel="stylesheet" type="text/css"/>
	<script src="{APP_PATH}statics/house5-style1/sea/js/sea.js"  type="text/javascript"></script>
</head>
<body>
	<div id="main">
		<div id="header">
    {template "ssi","ssi_8"}
	<div class="mt5 cf">
	
</div>
   <h1><a href="{APP_PATH}"  title="{$site_title}" class="logo fl">
	<img src="{APP_PATH}statics/house5-style1/img/logo.png" alt="{$SEO['site_title']}" width="150" height="50"/></a></h1>
	<div id="Search">
		<ul class="searchURL">
			<li class="on"><a   target="_blank">资讯</a></li>
			<li><a href="{HOUSE_PATH}"  target="_blank">新房</a></li>
			<li><a href="{ESF_PATH}list.html"  target="_blank">二手房</a></li>
			<li><a href="{ESF_PATH}rent-list.html"  target="_blank">出租房</a></li>
			<li><a href="{catlink(7)}"  target="_blank">图库</a></li>
			<li><a href="{catlink(10)}"  target="_blank">视频</a></li>
			<li class="more"><a href="javascript:void(0)">更多<em></em></a>
				<div>
					<a target="_blank" href="{BBS_PATH}">论坛</a>
				</div>
			</li>
		</ul>
		<a href="{APP_PATH}map/" target="_blank" class="mapS">地图找房</a>
		<input type="text" value="请输入关键字" data-val="请输入关键字">
		<button> </button>
	</div>
	<div id="indexMenu"> 
		<em class="r2"></em>
		<div id="newMenu">
	<a href="javascript:void(0)" class="fir">网站导航</a>
	{template "ssi","ssi_12"}
</div>
<script type="text/javascript">
seajs.use("jquery",function($){
	var $newMenu=$("#newMenu")
	$newMenu.hover(function(){
		$newMenu.addClass("on")
	},function(){
		$newMenu.removeClass("on")
	}).find("li").hover(function(){
		$(this).addClass("on")
	},function(){
		$(this).removeClass("on")
	})
})
</script>		<ul class="menuL">

			<li class="s">
				<a href="{catlink(6)}" target="_self" >首页<em></em></a>
			</li>
			{h5:content action="category" catid="6" num="7" siteid="$siteid" order="listorder ASC"}
			{loop $data $r}
			<li>
				<a href={$r[url]}>{$r[catname]}<em></em></a>
            </li>
			{/loop} {/h5} 
		</ul>
	</div>
</div>
<script type="text/javascript">
	seajs.use(["jquery","nsearch"],function($){
		$("#Search").hSearch("{APP_PATH}index.php?s=search/index/init/siteid/1/typeid/1/","#")//前面是搜索地址，后面是ajax查询新盘api
	})
</script> 
        <div class="bread">
			<div class="fr">
				<form id="search" name="search" action="{APP_PATH}index.php" method="GET">
				  <input type="hidden" name="s" value="search/index/init/siteid/1/">
                  <input type="hidden" name="typeid" value="1">
                  <input name="q" id="q" type="text" class="txt" value="请输入搜索关键字" onfocus="if(this.value=='请输入搜索关键字'){this.value='';}" onblur="if(this.value==''){this.value='请输入搜索关键字';}">
					<input type="submit" class="button" id="submit" value="搜索">
                </form>
			</div> <sub></sub>
			<a href="{APP_PATH}" class="one">首页</a><a href="{catlink(6)}">资讯</a>&nbsp;标签：<font color="red">{$tag}</font> 相关新闻
            		</div>		<div class="cf mt10">
			<div class="w650 newsA fl">
				<ul class="List pd10">
				{loop $datas $r}
                	 <li {if $n%5==0}class="mb15"{/if} ><a href="{$r[url]}" target="_blank" style="color:inser;" >{$r[title]}</a>{date('m月d日H:i',$r[inputtime])}</li>
					  {/loop}
                	                
                					</ul>
				<div class="pagination" >
					{$pages}			</div>
			</div>
						<div class="w300 fr">
            		                    <div class="newsC" id="tab3">
    <h2>
           <ul class="cf tabtitle">
            <li class="on">折扣优惠</li>
            <li>最新资讯</li>
        </ul>
        资讯
    </h2>
    <ul class="NewsList cf">
	 {h5:content  action="lists" posids="0" catid="29" order="id DESC" num="10" cache="10800"}
	 {loop $data $r}
          <li><a href="{$r[url]}" target="_blank"  style=""  title="{$r[title]}">{$r[title]}</a></li>
               {/loop}
                  </ul>
				{/h5}
    <ul class="NewsList cf" style="display:none"> 
                    {h5:content  action="lists" posids="0" catid="6" order="id DESC" num="10" cache="10800"}
	 {loop $data $r}
          <li><a href="{$r[url]}" target="_blank"  style=""  title="{$r[title]}">{$r[title]}</a></li>
               {/loop}
                  </ul>
				{/h5}
            </ul>
</div>
                    <div class="mt10">
 
</div>
					<div class="newsC" id="tab1">
						<h2>
							<a href="{HOUSE_PATH}">更多>></a>
							<ul class="cf tabtitle">
								<li class="on">热点楼盘</li>
								<li>最新开盘</li>
							</ul>
							楼盘
						</h2>
						<table class="lp" width="280" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <th width="102">楼盘名称</th>
            <th width="65">开盘价</th>
            <th width="48">位置</th>
            <th width="65">开盘时间</th>
        </tr>  {h5:content action="hits" catid="14" num="10" order="views DESC" cache="10800"}
		{loop $data $v}
				{php $menu_info = menu_info('3360',$v[region])}
                        <tr>
                    <td width="102">
                        <em><a title="{$v[title]}" href="{$v[url]}/" target="_blank" >{str_cut($v[title],16,'')}</a></em> 
                    </td>
                    <td width="65">
                        <span>{if !empty($v[price]) && $v[price]!="一房一价"}{$v[price]}{else}一房一价{/if}</span>
                    </td>
                    <td width="48"><a href="{HOUSE_PATH}list-r{$menu_info[1]}.html" target="_blank" >{$menu_info[0]}</a></td>
                    <td width="65">{date('m-d',strtotime($v[opentime]))}</td>
                </tr>
                          {/loop}
			{/h5}   
                </tbody>
</table>

                        <table class="lp" width="280" border="0" align="center" cellpadding="0" cellspacing="0" style="display:none; ">
    <tbody>
        <tr>
            <th width="102">楼盘名称</th>
            <th width="65">开盘价</th>
            <th width="48">位置</th>
            <th width="65">开盘时间</th>
        </tr>
                   {php $where= "status=99";}
		  {h5:content action="lists" catid="14" where="$where" num="10" order="opentime desc" cache="10800"}
		        {loop $data $v}
				{php $menu_info = menu_info('3360',$v[region])}
                        <tr>
                    <td width="102">
                        <em><a title="{$v[title]}" href="{$v[url]}/" target="_blank" >{str_cut($v[title],16,'')}</a></em> 
                    </td>
                    <td width="65">
                        <span>{if !empty($v[price]) && $v[price]!="一房一价"}{$v[price]}{else}一房一价{/if}</span>
                    </td>
                    <td width="48"><a href="{HOUSE_PATH}list-r{$menu_info[1]}.html" target="_blank" >{$menu_info[0]}</a></td>
                    <td width="65">{date('m-d',strtotime($v[opentime]))}</td>
                </tr>
                          {/loop}
			{/h5}   
                </tbody>
</table>

					</div>
				
                    <div class="mt10"> </div>
                   
                    <div class="newsC">
    <h2>
       
        图片新闻
    </h2>
    <ul class="ImgList cf">
	{h5:content  action="lists" catid="6" thumb="1" order="listorder DESC" num="4" cache="86400"}
	  {loop $data $v}
                    <li>
              <a href="{$v[url]}" target="_blank" title="{$v[title]}"><img src="{thumb($v[thumb],120,90)}" width="120" height="90"/></a>
                <span>
                   <a href="{$v[url]}" target="_blank" title="{$v[title]}" style="text-align:center"  style="" >{str_cut($v[title],22)}</a>
                </span>
            </li>{/loop}  {/h5}
      </ul>
	
                   
</div>

<div class="newsC">
    <h2>
               一周新闻排行
    </h2>
    <ol class="Top10">
	 {h5:content action="hits" catid="6" num="10" order="views DESC" cache="10800"}
{loop $data $v}
                   <li class="A"><i>{$n}</i>   <a href="{$v[url]}" target="_blank" title="{$v[title]}" style="text-align:center"  style="" >{$v[title]}</a></li>
                  {/loop}{/h5}
            </ol>
</div>
			</div>	</div>
	</div>
	<script type="text/javascript">
       seajs.use(["jquery","autab"],function($){
       $("#tab1").autab("ul.tabtitle li","table.lp");
	$("#tab2").autab("ul.tabtitle li","ul.ImgList");
	$("#tab3").autab("ul.tabtitle li","ul.NewsList");
	var $big=$("#big"),
		$small=$("#small"),
		$content=$("#cookieContent");
	var fontsize=$.cookie("fontsize")?$.cookie("fontsize"):14;
	$("#cookieContent").css("fontSize",fontsize+"px");
	if(fontsize>16)
		$big.addClass("no");
	if(fontsize<14)
		$small.addClass("no");
	$big.on("click",function(){
		fontsize=fontsize-0+2;
		if(fontsize>16){
			fontsize=18;
			$big.addClass("no")
		}
		$.cookie("fontsize",fontsize);
		$content.css("fontSize",fontsize+"px");
		$small.removeClass("no");
	})
       })
	</script>
		{template "content","footer"}

</body>
</html>