<head>

<link href="/statics/default/3g/baidu.png" sizes="114x114" rel="apple-touch-icon-precomposed">
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0 user-scalable=no">
<title>{$WAP['sitename']}</title>
<script src="/statics/default/3g/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
var siteConfig = {"type":2,"uid":0,"uname":"","city":"weihai","city_name":"\u5a01\u6d77","url":"","bbs_fid":"17827","pub_url":"weihai","tpl":"search_index","suggestionUrl":"http:\/\/house.baidu.com\/weihai\/search\/keyword\/","mblog_uid":"1891858087","bestone":"1636569554","app":"wap","isTitle":false,"title":"\u624b\u673a\u767e\u5ea6\u4e50\u5c45\u623f\u4ea7\u7f51\u627e\u697c\u76d8","mkeywords":"\u624b\u673a\u767e\u5ea6\u4e50\u5c45\u623f\u4ea7\u7f51\u627e\u697c\u76d8","description":"\u624b\u673a\u83b7\u53d6\u697c\u76d8\u8be6\u60c5\uff0c\u6700\u65b0\u52a8\u6001\uff0c\u697c\u76d8\u5f00\u76d8\u65e5\u671f\u3001\u552e\u697c\u5904\u9500\u552e\u7535\u8bdd\u3001\u623f\u4ef7\u8d70\u52bf\u3001\u6237\u578b\u56fe\u3001\u697c\u76d8\u76f8\u518c\u3001\u4e13\u4e1a\u697c\u76d8\u70b9\u8bc4\u3001\u5468\u8fb9\u4ea4\u901a\u3001\u697c\u76d8\u4e1a\u4e3b\u8bba\u575b\u7b49\u76f8\u5173\u4fe1\u606f\u3002","search_condition":null,"search_city_district":null,"index":"true"};
</script>

<!--header_Nav end-->