{template "wap","header"}
<link type="text/css" rel="stylesheet" href="/statics/default/3g/css/3g_details.css" />
<link type="text/css" rel="stylesheet" href="/statics/default/3g/css/3g_common.css" />
<script>
window.addEventListener("load",function() {
  setTimeout(function(){
    window.scrollTo(0, 1);
  }, 0);
}); 
</script>

<body>
<header class="header">
	<a href="{WAP_SITEURL}" class="logo">{$WAP['sitename']}</a>
    <a href="{WAP_SITEURL}detail/{$id}/" class="bn_back bn_back2" >返回</a>
    <a href="#" class="bn_search">搜索</a>
    <a href="#" class="bn_nav">导航</a>
    <i></i>
</header>
	<script>
	/*点击搜索和导航触发的事件*/
	$(".bn_search").bind("click", function(){
		var getifclass = $(this).attr("class").indexOf("bn_search_on");
		if(getifclass > -1)
		{
			$(".h_so").css("display", "none");
			$(".bn_search").removeClass("bn_search_on");
		}
		else
		{
			$(".h_so").css("display", "block");
			$(".bn_search").addClass("bn_search_on");
			$(".h_nav").css("height", "0px");
			$(".bn_nav").removeClass("bn_nav_on");
			$('#ico_del').css('display', 'none');
		}
			
	});
	$(".bn_nav").bind("click", function(){
		$(".bn_search").removeClass("bn_search_on");
		var getifclass = $(this).attr("class").indexOf("bn_nav_on");
		if(getifclass > -1)
		{
			$(".h_nav").css("height", "0px");
			$(".bn_nav").removeClass("bn_nav_on");
		}
		else
		{
			$(".h_so").css("display", "none");
			$(".bn_search").removeClass("bn_search_on");
			$(".h_nav").css("height", "43px");
			$(".bn_nav").addClass("bn_nav_on");
		}
	});
	function changeCity()
	{
		var stylecss = $(".sel_city").attr("style").indexOf("0px");
		if(stylecss > -1)
		{
			$(".sel_city").attr("style", "");
			$(".sel_city").css("height", "auto");
		}
		else
		{
			$(".sel_city").css("height", "0px");
			$(".sel_city").css("overflow", "hidden");
		}
		
	}
	</script>
<script type="text/javascript" src="/statics/default/3g/js/3g_swipe.min.js"></script>
<div class="h_so" style="display:none">
	<div class="m_con">
		<form id="search_form" name="f" action="{WAP_SITEURL}list.html" method="get">
	    	<input type="search" name='k' id="kw" class="input_keys" id="kw"  value="请输入楼盘……"  onfocus="if(this.value=='请输入楼盘……'){this.value='';}$('#ico_del').css('display', 'block');" onblur="if(this.value=='')this.value='请输入楼盘……';" autocomplete="off">
	        <span class="ico_clear" onclick="$('#search_form input').val('')"><i id="ico_del" style="display:none"></i></span>
	        <div class="search_bn" onClick="$('form').submit()"><i></i></div>
    	</form>
    </div>
</div>
<nav class="h_nav" id="slidermnav" style="height: 0px; overflow:hidden;">
	<ul>
    	<li style="display:block">
        <p class="m_con nav_1">
        <a href="{WAP_SITEURL}" style="width:18%">首页<em></em></a><a href="{WAP_SITEURL}list.html" style="width:28%">楼盘检索<em></em></a><a href="{WAP_SITEURL}top/" style="width:26%">楼盘榜<em></em></a><a href="{WAP_SITEURL}map/" style="width:28%">找房楼盘</a><i onclick='slidermnav.next();return false;'></i>
        </p>	
        </li>
        <li style="display:none">
        <p class="m_con nav_2">
        <a href="{WAP_SITEURL}news/" style="width:33%">新房导购<em></em></a><a href="{WAP_SITEURL}calcul/" style="width:34%">房贷计算<em></em></a><i onclick='slidermnav.prev();return false;'></i>
        </p>	
      </li>
    </ul>
</nav>
<script>
	var slidermnav = new Swipe(document.getElementById('slidermnav'));
</script><nav class="lp_nav">
		<a href="{WAP_SITEURL}detail/{$id}/" >参数<i></i></a>
		<a href="{WAP_SITEURL}news/{$id}/">资讯<i></i></a>
		<a href="{WAP_SITEURL}huxing/{$id}/" >户型<i></i></a>
		<a href="{WAP_SITEURL}device/{$id}/">配套<i></i></a>
		<a href="{WAP_SITEURL}pic/{$id}/">图片<i></i></a>
		<a href="{WAP_SITEURL}comment/{$id}/"  class="sel_on" style="width:18%; border-right:0px">点评</a>
</nav>
{h5:content action="dianpinginfo" relation="$id" catid="99" num="1" order="id DESC" cache="10800" return="expertdp"}<!-- 编辑点评2012/8/6 -->
<section class="zhpl">
	<h2 class="h2">综合点评</h2>
	{if !empty($expertdp)}
		{php $expertreviews = $expertdp;}
	<p class="p1 p_t0">{$expertreviews[zongjie]}</p>    <div class="p2d"><label>优点</label><p>{$expertreviews[advantage]}</p></div>    <p class="p_line"></p>
    <div class="p3d"><label>缺点</label><p>{$expertreviews[disadvantage]}</p></div>
	{/if}
{/h5}
</section>
	 

<h2 class="tit_h2" id="ping" name="ping">网友点评<i class="h"></i></h2>
<section class="wy_dp">
	<div class="bg">
{php $reviewsid = "content_14-$id-1";}
	{h5:reviews action="lists" reviewsid="$reviewsid" siteid="$siteid" page="$_GET[page]" hot="$hot" num="20" cache="86400"}
{if !empty($data)}
{loop $data $r}
					<div class="tit">
		    	
		    	<i class="pic"></i>
		    	<p class="p1 g_yc">{$r[advantage]}</p>
		        <p class="p2"><label class="l_l">{if $r[userid]}{get_nickname($r[userid])}{else}{$r[username]}{/if}</label><label class="l_r">{format::sgmdate('Y-m-d H:i:s',$r[creat_at],1)}</label></p>
		    </div>
		    <div class="con">
		    	<i class="arr"></i>
		    	<p class="p1 p_t0">{$r[content]}</p>
		        <p class="p_line"></p><p class="p2">{$r[advantage]}</p> <p class="p_line"></p><p class="p3">{$r[disadvantage]}</p></div>
				{/loop}
				 {/if}
 {/h5}
	        </div>
</section>
{if count($data)>3}
<div class="bn_most">
	<div class="s2">
    <a class="top" href="#">顶部</a>
    <a class="most" href="#"><span id="more" class="num">更多评论 <em>(3/{count($data)})</span></a>
    <i class="h"></i>
    <b></b>
    </div>
</div>
{/if}
<script>
$(".bg div:gt(5)").hide();
$(".most").toggle(
		function () {
			$("#more").attr('class', 'num up');
			re=/(\d+)\/(\d+)/i;
			var arr = re.exec($("#more em").text());
			if(arr[2] > 3)
			{
				before = arr[2];
			}
			else
			{
				before = arr[1];
			}
			var content = "全部收起 <em>(" + before + "/" + arr[2] + ")</em>";
			$("#more").html(content);
			$(".bg div:gt(5)").fadeIn(100);
			$(".bg div").eq(5).attr("id", "mao");
			$(".bg div").eq(5).attr("name", "mao");
			location.href = "#mao";
		},
		function () {
			$("#more").attr('class', 'num');
			re=/(\d+)\/(\d+)/i;
			var arr = re.exec($("#more em").text());
			if(arr[1] > 3)
			{
				before = 3;
			}
			else
			{
				before = arr[2];
			}
			var content = "更多评论 <em>(" + before + "/" + arr[2] + ")</em>";
			$("#more").html(content);
			$(".bg div:gt(5)").fadeOut(100);
			$(".bg div").eq(5).removeAttr("id");
			$(".bg div").eq(5).removeAttr("name");
			location.href = "#ping";
		}
	); 
</script>


<a href="tel:{$tel}" class="bot_tel"><i></i><span><strong>咨询电话：</strong>{$tel}</span></a>

{template "wap","footer"}