{template "wap","header"}
<link type="text/css" rel="stylesheet" href="/statics/default/3g/css/3g_common.css" />
<link type="text/css" rel="stylesheet" href="/statics/default/3g/css/3g_calculator.css" />
<script type="text/javascript" src="/statics/default/3g/js/3g_calculator.js"></script>
<script type="text/javascript" src="/statics/default/3g/js/wap_detail.js"></script>
<script>
window.addEventListener("load",function() {
  setTimeout(function(){
    window.scrollTo(0, 1);
  }, 0);
}); 
</script>
</head>

<body>
<header class="header">
	<a href="{WAP_SITEURL}" class="logo">{$WAP['sitename']}</a>
    <a href="{WAP_SITEURL}detail/{$id}/" class="bn_back bn_back2" >返回</a>
    <a href="#" class="bn_search">搜索</a>
    <a href="#" class="bn_nav">导航</a>
    <i></i>
</header>
	<script>
	/*点击搜索和导航触发的事件*/
	$(".bn_search").bind("click", function(){
		var getifclass = $(this).attr("class").indexOf("bn_search_on");
		if(getifclass > -1)
		{
			$(".h_so").css("display", "none");
			$(".bn_search").removeClass("bn_search_on");
		}
		else
		{
			$(".h_so").css("display", "block");
			$(".bn_search").addClass("bn_search_on");
			$(".h_nav").css("height", "0px");
			$(".bn_nav").removeClass("bn_nav_on");
			$('#ico_del').css('display', 'none');
		}
			
	});
	$(".bn_nav").bind("click", function(){
		$(".bn_search").removeClass("bn_search_on");
		var getifclass = $(this).attr("class").indexOf("bn_nav_on");
		if(getifclass > -1)
		{
			$(".h_nav").css("height", "0px");
			$(".bn_nav").removeClass("bn_nav_on");
		}
		else
		{
			$(".h_so").css("display", "none");
			$(".bn_search").removeClass("bn_search_on");
			$(".h_nav").css("height", "43px");
			$(".bn_nav").addClass("bn_nav_on");
		}
	});
	function changeCity()
	{
		var stylecss = $(".sel_city").attr("style").indexOf("0px");
		if(stylecss > -1)
		{
			$(".sel_city").attr("style", "");
			$(".sel_city").css("height", "auto");
		}
		else
		{
			$(".sel_city").css("height", "0px");
			$(".sel_city").css("overflow", "hidden");
		}
		
	}
	</script>
<script type="text/javascript" src="/statics/default/3g/js/3g_swipe.min.js"></script>
<div class="h_so" style="display:none">
	<div class="m_con">
		<form id="search_form" name="f" action="{WAP_SITEURL}list.html" method="get">
	    	<input type="search" name='k' id="kw" class="input_keys" id="kw"  value="请输入楼盘……"  onfocus="if(this.value=='请输入楼盘……'){this.value='';}$('#ico_del').css('display', 'block');" onblur="if(this.value=='')this.value='请输入楼盘……';" autocomplete="off">
	        <span class="ico_clear" onclick="$('#search_form input').val('')"><i id="ico_del" style="display:none"></i></span>
	        <div class="search_bn" onClick="$('form').submit()"><i></i></div>
    	</form>
    </div>
</div>
<nav class="h_nav" id="slidermnav" style="height: 0px; overflow:hidden;">
	<ul>
    	<li style="display:block">
        <p class="m_con nav_1">
        <a href="{WAP_SITEURL}" style="width:18%">首页<em></em></a><a href="{WAP_SITEURL}list.html" style="width:28%">楼盘检索<em></em></a><a href="{WAP_SITEURL}top/" style="width:26%">楼盘榜<em></em></a><a href="{WAP_SITEURL}map/" style="width:28%">找房楼盘</a><i onclick='slidermnav.next();return false;'></i>
        </p>	
        </li>
        <li style="display:none">
        <p class="m_con nav_2">
        <a href="{WAP_SITEURL}news/" style="width:33%">新房导购<em></em></a><a href="{WAP_SITEURL}calcul/" style="width:34%">房贷计算<em></em></a><i onclick='slidermnav.prev();return false;'></i>
        </p>	
      </li>
    </ul>
</nav>

<script>
	var slidermnav = new Swipe(document.getElementById('slidermnav'));
</script><div class="main_body">
	<div class="pic_con">
    	<a href="{WAP_SITEURL}pic/{$id}/"><img src="{if !empty($thumb)}{thumb($thumb,140,40)}{else}{APP_PATH}statics/default/img/index/nopic.jpg{/if}" class="pic"></a>
    </div>
        <div class="t_con">
    	<h1>{$title}</h1>
        <p class="jg">{if !empty($price) && $price!="一房一价"}{if $priceunit=="0" }起价{$price}元/平米{elseif  $priceunit=="2"}{price_short($price)}/套{/if} {else}一房一价{/if}</p>
		{php $menu_info = menu_info('3360',$r[region])}
        <p class="ff"><span class="wz">{$menu_info[0]}</span> | <span class="ms">{$fix} {$type2}</span></p>
    </div>
<i class="yy_b"></i><i class="yy_t"></i><i class="yy_x"></i>
</div>
<section class="calculator">
	<form method="post" name="calc1">
		<div id="calBeforeShow">
			<ul class="formList">
				<li class="liFirst" style="padding-top:10px">
					<label>贷款类别：</label>
					<select onChange="exc_zuhe(this.form,this.value)"; name="type">
						<option value="1">商业贷款</option>
						<option value="2">公积金</option>
						<option value="3">组合型</option>
					</select>
				</li>
			</ul>
			<ul id="calc1_zuhe" class="formList" style="display:none;">
				<li>
					<label>商业性：</label>
					<input type="text" name="total_sy" size="8" maxlength="8" />
					<em>元</em>
				</li>
				<li>
					<label>公积金：</label>
					<input type="text" name="total_gjj" size="8" maxlength="8" />
					<em>元</em>
				</li>
			</ul>
			<ul class="formList">
				<li>
					<label>计算方式：</label>
					<select name="jisuan_radio" onChange="exc_js(this.form,this.value);">
						<option value="1">根据面积、单价计算</option>
						<option value="2">根据贷款总额计算</option>
					</select>
				</li>
			</ul>
			<ul id="calc1_js_div2" class="formList" style="display:none;">
				<li>
					<label>贷款总额：</label>
					<input type="text" name="daikuan_total000" size="10" maxlength="8" />
					<em>万元</em>
				</li>
			</ul>
			<ul id="calc1_js_div1" class="formList">
				<li>
					<label>单价：</label>
					<input type="tel" name="price" maxlength="8" size="8" class="inp_red" value="{if !empty($price) && $price!="一房一价"}{if $priceunit=="0" }{$price}{/if}{/if}"/>
					<em>元/平米</em>
				</li>
				<li>
					<label>面积：</label>
					<input type="tel" name="sqm" size="8" maxlength="7" value=""/>
					<em>平方米</em>
				</li>
				<li>
					<label>按揭成数：</label>
					<select size="1" name="anjie">
							<option value="9">9成</option>
							<option value="8">8成</option>
							<option value="7">7成</option>
							<option value="6">6成</option>
							<option value="5">5成</option>
							<option value="4">4成</option>
							<option value="3">3成</option>
							<option value="2">2成</option>
					</select>
				</li>
			</ul>
			<!-- formList E -->
			<ul class="formList">
				<li>
					<label>按揭年数：</label>
					<select id="years" size="1" name="years">
							<option value="1">1年（12期）</option>
							<option value="2">2年（24期）</option>
							<option value="3">3年（36期）</option>
							<option value="4">4年（48期）</option>
							<option value="5">5年（60期）</option>
							<option value="6">6年（72期）</option>
							<option value="7">7年（84期）</option>
							<option value="8">8年（96期）</option>
							<option value="9">9年（108期）</option>
							<option value="10">10年（120期）</option>
							<option value="11">11年（132期）</option>
							<option value="12">12年（144期）</option>
							<option value="13">13年（156期）</option>
							<option value="14">14年（168期）</option>
							<option value="15">15年（180期）</option>
							<option value="16">16年（192期）</option>
							<option value="17">17年（204期）</option>
							<option value="18">18年（216期）</option>
							<option value="19">19年（228期）</option>
							<option value="20">20年（240期）  </option>
							<option value="25">25年（300期）</option>
							<option value="30">30年（360期）</option>
					</select>
				</li>
				<li class="liLast">
					<label>利率：</label>
					<select id="lilv" name="lilv">
							<option value="69">12年07月06日利率上限(1.1倍)</option>
							<option value="68">12年07月06日利率基准</option>
							<option value="67">12年07月06日利率下限(85折)</option>
							<option value="66">12年07月06日利率下限(8折)</option>
							<option value="64">12年06月08日利率上限(1.1倍)</option>
							<option value="63">12年06月08日利率基准</option>
							<option value="62">12年06月08日利率下限(85折)</option>
							<option value="61">12年06月08日利率下限(8折)</option>
							<option value="60">11年07月07日利率上限(1.1倍)</option>
							<option value="59">11年07月07日利率基准</option>
							<option value="58">11年07月07日利率下限(85折)</option>
							<option value="57">11年04月06日利率上限(1.1倍)</option>
							<option value="56">11年04月06日利率基准</option>
							<option value="55">11年04月06日利率下限(85折)</option>
							<option value="54">11年02月09日利率上限(1.1倍)</option>
							<option value="53">11年02月09日利率基准</option>
							<option value="52">11年02月09日利率下限(85折)</option>
							<option value="51">10年12月26日利率上限(1.1倍)</option>
							<option value="50">10年12月26日利率基准</option>
							<option value="49">10年12月26日利率下限(85折)</option>
							<option value="48">10年10月20日利率上限(1.1倍)</option>
							<option value="47">10年10月20日利率基准</option>
							<option value="46">10年10月20日利率下限(85折)</option>
							<option value="45">08年12月23日第二套房(1.1倍)</option>
							<option value="44">08年12月23日利率基准</option>
							<option value="43">08年12月23日利率上限(1.1倍)</option>
							<option value="42">08年12月23日利率下限(85折)</option>
							<option value="41">08年12月23日利率下限(7折)</option>
							<option value="40">08年11月27日第二套房</option>
							<option value="39">08年11月27日利率基准</option>
							<option value="38">08年11月27日利率上限</option>
							<option value="37">08年11月27日利率下限</option>
					</select>
				</li>
			</ul>
			<!-- formList E -->
			<div class="btnWrap">
				<input type="button" id="btnSubmit" onClick="ext_total(this.form)" name="button1" value="开始计算" />
			</div>
		</div>
		<!--calBeforeShow E -->
		<div id="calAfterShow">
			<ul class="formList">
				<li class="liFirst">
					<label>房款总额：</label>
					<input type="text" disabled="true" name="fangkuan_total1" value="" />
					<em>元</em>
				</li>
				<li>
					<label>贷款总额：</label>
					<input type="text" disabled="true" name="daikuan_total1" value="" />
					<em>元</em>
				</li>
				<li>
					<label>还款总额：</label>
					<input type="text" disabled="true" name="all_total1" value="" />
					<em>元</em>
				</li>
				<li>
					<label>支付利息：</label>
					<input type="text" disabled="true" name="accrual1" value="" />
					<em>元</em>
				</li>
				<li>
					<label>首期付款：</label>
					<input type="text" disabled="true" name="money_first1" value="" />
					<em>元</em>
				</li>
				<li>
					<label>贷款月数：</label>
					<input type="text" disabled="true" name="month1" value="" />
					<em>月</em>
				</li>
				<li class="liLast">
					<label>月均还款：</label>
					<input type="text" disabled="true" name="month_money1" value="" />
					<em>元</em>
				</li>
			</ul>
			<!--formList_style2 E -->
			<div class="btnWrap">
				<input type="reset" name="button2" id="btnReset" onClick="formReset(this.form);" value="重新计算" />
			</div>
			<!--btnWrap E -->
		</div>
		<!-- calAfterShow E -->
		<div style="display:none; z-index:98; left:107px; width:180px; position:absolute; top:22px; height:220px" id="calc1_benjin">
				<input type="hidden" name="fangkuan_total2" value="1000000"><input type="hidden" name="daikuan_total2" value="700000"><input type="hidden" name="all_total2" value="1091348.85"><input type="hidden" name="accrual2" value="391348.85"><input type="hidden" name="money_first2" value="300000"><input type="hidden" name="month2" value="240(月)"><input type="hidden" name="month_money2" value="1月,6164.38(元)
2月,6150.84(元)
3月,6137.31(元)
4月,6123.78(元)
5月,6110.25(元)
6月,6096.71(元)
7月,6083.18(元)
8月,6069.65(元)
9月,6056.12(元)
10月,6042.59(元)
11月,6029.05(元)
12月,6015.52(元)
13月,6001.99(元)
14月,5988.46(元)
15月,5974.93(元)
16月,5961.39(元)
17月,5947.86(元)
18月,5934.33(元)
19月,5920.8(元)
20月,5907.26(元)
21月,5893.73(元)
22月,5880.2(元)
23月,5866.67(元)
24月,5853.14(元)
25月,5839.6(元)
26月,5826.07(元)
27月,5812.54(元)
28月,5799.01(元)
29月,5785.48(元)
30月,5771.94(元)
31月,5758.41(元)
32月,5744.88(元)
33月,5731.35(元)
34月,5717.82(元)
35月,5704.28(元)
36月,5690.75(元)
37月,5677.22(元)
38月,5663.69(元)
39月,5650.15(元)
40月,5636.62(元)
41月,5623.09(元)
42月,5609.56(元)
43月,5596.03(元)
44月,5582.49(元)
45月,5568.96(元)
46月,5555.43(元)
47月,5541.9(元)
48月,5528.37(元)
49月,5514.83(元)
50月,5501.3(元)
51月,5487.77(元)
52月,5474.24(元)
53月,5460.7(元)
54月,5447.17(元)
55月,5433.64(元)
56月,5420.11(元)
57月,5406.58(元)
58月,5393.04(元)
59月,5379.51(元)
60月,5365.98(元)
61月,5352.45(元)
62月,5338.92(元)
63月,5325.38(元)
64月,5311.85(元)
65月,5298.32(元)
66月,5284.79(元)
67月,5271.26(元)
68月,5257.72(元)
69月,5244.19(元)
70月,5230.66(元)
71月,5217.13(元)
72月,5203.59(元)
73月,5190.06(元)
74月,5176.53(元)
75月,5163(元)
76月,5149.47(元)
77月,5135.93(元)
78月,5122.4(元)
79月,5108.87(元)
80月,5095.34(元)
81月,5081.81(元)
82月,5068.27(元)
83月,5054.74(元)
84月,5041.21(元)
85月,5027.68(元)
86月,5014.14(元)
87月,5000.61(元)
88月,4987.08(元)
89月,4973.55(元)
90月,4960.02(元)
91月,4946.48(元)
92月,4932.95(元)
93月,4919.42(元)
94月,4905.89(元)
95月,4892.36(元)
96月,4878.82(元)
97月,4865.29(元)
98月,4851.76(元)
99月,4838.23(元)
100月,4824.7(元)
101月,4811.16(元)
102月,4797.63(元)
103月,4784.1(元)
104月,4770.57(元)
105月,4757.03(元)
106月,4743.5(元)
107月,4729.97(元)
108月,4716.44(元)
109月,4702.91(元)
110月,4689.37(元)
111月,4675.84(元)
112月,4662.31(元)
113月,4648.78(元)
114月,4635.25(元)
115月,4621.71(元)
116月,4608.18(元)
117月,4594.65(元)
118月,4581.12(元)
119月,4567.59(元)
120月,4554.05(元)
121月,4540.52(元)
122月,4526.99(元)
123月,4513.46(元)
124月,4499.92(元)
125月,4486.39(元)
126月,4472.86(元)
127月,4459.33(元)
128月,4445.8(元)
129月,4432.26(元)
130月,4418.73(元)
131月,4405.2(元)
132月,4391.67(元)
133月,4378.14(元)
134月,4364.6(元)
135月,4351.07(元)
136月,4337.54(元)
137月,4324.01(元)
138月,4310.47(元)
139月,4296.94(元)
140月,4283.41(元)
141月,4269.88(元)
142月,4256.35(元)
143月,4242.81(元)
144月,4229.28(元)
145月,4215.75(元)
146月,4202.22(元)
147月,4188.69(元)
148月,4175.15(元)
149月,4161.62(元)
150月,4148.09(元)
151月,4134.56(元)
152月,4121.03(元)
153月,4107.49(元)
154月,4093.96(元)
155月,4080.43(元)
156月,4066.9(元)
157月,4053.36(元)
158月,4039.83(元)
159月,4026.3(元)
160月,4012.77(元)
161月,3999.24(元)
162月,3985.7(元)
163月,3972.17(元)
164月,3958.64(元)
165月,3945.11(元)
166月,3931.58(元)
167月,3918.04(元)
168月,3904.51(元)
169月,3890.98(元)
170月,3877.45(元)
171月,3863.91(元)
172月,3850.38(元)
173月,3836.85(元)
174月,3823.32(元)
175月,3809.79(元)
176月,3796.25(元)
177月,3782.72(元)
178月,3769.19(元)
179月,3755.66(元)
180月,3742.13(元)
181月,3728.59(元)
182月,3715.06(元)
183月,3701.53(元)
184月,3688(元)
185月,3674.47(元)
186月,3660.93(元)
187月,3647.4(元)
188月,3633.87(元)
189月,3620.34(元)
190月,3606.8(元)
191月,3593.27(元)
192月,3579.74(元)
193月,3566.21(元)
194月,3552.68(元)
195月,3539.14(元)
196月,3525.61(元)
197月,3512.08(元)
198月,3498.55(元)
199月,3485.02(元)
200月,3471.48(元)
201月,3457.95(元)
202月,3444.42(元)
203月,3430.89(元)
204月,3417.36(元)
205月,3403.82(元)
206月,3390.29(元)
207月,3376.76(元)
208月,3363.23(元)
209月,3349.69(元)
210月,3336.16(元)
211月,3322.63(元)
212月,3309.1(元)
213月,3295.57(元)
214月,3282.03(元)
215月,3268.5(元)
216月,3254.97(元)
217月,3241.44(元)
218月,3227.91(元)
219月,3214.37(元)
220月,3200.84(元)
221月,3187.31(元)
222月,3173.78(元)
223月,3160.24(元)
224月,3146.71(元)
225月,3133.18(元)
226月,3119.65(元)
227月,3106.12(元)
228月,3092.58(元)
229月,3079.05(元)
230月,3065.52(元)
231月,3051.99(元)
232月,3038.46(元)
233月,3024.92(元)
234月,3011.39(元)
235月,2997.86(元)
236月,2984.33(元)
237月,2970.8(元)
238月,2957.26(元)
239月,2943.73(元)
240月,2930.2(元)
">
</div>
                                
	</form>

</section>
<!-- calculator E -->
<a href="tel:{$tel}" class="bot_tel"><i></i><span><strong>咨询电话：</strong>{$tel}</span></a>
{template "wap","footer"}