{template "wap","header"}
{php list($lngX, $latY,$zoom) = explode('|', $map);}
<script type="text/javascript">
var houseObj = {"id":{$id},"guid":"","coordx_encode":"{$lngX}","coordy_encode":"{$latY}"};
 </script>
<link type="text/css" rel="stylesheet" href="/statics/default/3g/css/3g_details.css" />
<link type="text/css" rel="stylesheet" href="/statics/default/3g/css/3g_common.css" />
<link type="text/css" rel="stylesheet" href="/statics/default/3g/css/3g_mapfj.css" />
<script type="text/javascript">
window.addEventListener("load",function() {
  setTimeout(function(){
    window.scrollTo(0, 1);
  }, 0);
}); 

 function getHeight() { $('#d_map').height()= 1000;
       }
       window.onload = function() {
           getHeight();
       }
           
 </script>
</head>
<body>
<div class="map_top">
<header class="header">
	<a href="{WAP_SITEURL}" class="logo">{$WAP['sitename']}</a>
    <a href="{WAP_SITEURL}detail/{$id}/" class="bn_back bn_back2" >返回</a>
    <a href="#" class="bn_search">搜索</a>
    <a href="#" class="bn_nav">导航</a>
    <i></i>
</header>
	<script>
	/*点击搜索和导航触发的事件*/
	$(".bn_search").bind("click", function(){
		var getifclass = $(this).attr("class").indexOf("bn_search_on");
		if(getifclass > -1)
		{
			$(".h_so").css("display", "none");
			$(".bn_search").removeClass("bn_search_on");
		}
		else
		{
			$(".h_so").css("display", "block");
			$(".bn_search").addClass("bn_search_on");
			$(".h_nav").css("height", "0px");
			$(".bn_nav").removeClass("bn_nav_on");
			$('#ico_del').css('display', 'none');
		}
			
	});
	$(".bn_nav").bind("click", function(){
		$(".bn_search").removeClass("bn_search_on");
		var getifclass = $(this).attr("class").indexOf("bn_nav_on");
		if(getifclass > -1)
		{
			$(".h_nav").css("height", "0px");
			$(".bn_nav").removeClass("bn_nav_on");
		}
		else
		{
			$(".h_so").css("display", "none");
			$(".bn_search").removeClass("bn_search_on");
			$(".h_nav").css("height", "43px");
			$(".bn_nav").addClass("bn_nav_on");
		}
	});
	function changeCity()
	{
		var stylecss = $(".sel_city").attr("style").indexOf("0px");
		if(stylecss > -1)
		{
			$(".sel_city").attr("style", "");
			$(".sel_city").css("height", "auto");
		}
		else
		{
			$(".sel_city").css("height", "0px");
			$(".sel_city").css("overflow", "hidden");
		}
		
	}
	</script>
<script type="text/javascript" src="/statics/default/3g/js/3g_swipe.min.js"></script>
<div class="h_so" style="display:none">
	<div class="m_con">
		<form id="search_form" name="f" action="{WAP_SITEURL}list.html" method="get">
	    	<input type="search" name='k' id="kw" class="input_keys" id="kw"  value="请输入楼盘……"  onfocus="if(this.value=='请输入楼盘……'){this.value='';}$('#ico_del').css('display', 'block');" onblur="if(this.value=='')this.value='请输入楼盘……';" autocomplete="off">
	        <span class="ico_clear" onclick="$('#search_form input').val('')"><i id="ico_del" style="display:none"></i></span>
	        <div class="search_bn" onClick="$('form').submit()"><i></i></div>
    	</form>
    </div>
</div>
<nav class="h_nav" id="slidermnav" style="height: 0px; overflow:hidden;">
	<ul>
    	<li style="display:block">
        <p class="m_con nav_1">
        <a href="{WAP_SITEURL}" style="width:18%">首页<em></em></a><a href="{WAP_SITEURL}list.html" style="width:28%">楼盘检索<em></em></a><a href="{WAP_SITEURL}top/" style="width:26%">楼盘榜<em></em></a><a href="{WAP_SITEURL}map/" style="width:28%">找房楼盘</a><i onclick='slidermnav.next();return false;'></i>
        </p>	
        </li>
        <li style="display:none">
        <p class="m_con nav_2">
        <a href="{WAP_SITEURL}news/" style="width:33%">新房导购<em></em></a><a href="{WAP_SITEURL}calcul/" style="width:34%">房贷计算<em></em></a><i onclick='slidermnav.prev();return false;'></i>
        </p>	
      </li>
    </ul>
</nav>

<script>
	var slidermnav = new Swipe(document.getElementById('slidermnav'));
</script><div class="map_yy_t"></div>
</div>
<script type="text/javascript" src="/statics/default/3g/js/3g_ui.js"></script>
<script src="http://api.map.baidu.com/api?v=1.4" type="text/javascript"></script>
<div class="d_map" id="d_map">

<script type="text/javascript">
		var bg = document.getElementById("d_map");
		bg.style.height =  document.documentElement.scrollHeight + 100 + "px";
		
		var map = new BMap.Map('d_map');
		var point = new BMap.Point(houseObj.coordx_encode, houseObj.coordy_encode);
		var myIcon = new BMap.Icon("/statics/default/3g/images/wap/dian.png", new BMap.Size(21, 30), {imageSize:new BMap.Size(21, 30)});
		var marker = new BMap.Marker(point, {icon:myIcon});
		map.centerAndZoom(point, 14);
		map.addOverlay(marker);
		var setcontent = "<a href='{WAP_SITEURL}detail/{$id}/' class='lp_con'><label class='lpic' style='background:url({if !empty($thumb)}{thumb($thumb,120,90)}{else}{APP_PATH}statics/default/img/index/nopic.jpg{/if})'></label><p class='ltxt'><label class='h1'>{$title}</label><label class='jg'>{if !empty($price) && $price!='一房一价'}{if $priceunit=='0' }起价{$price}元/平米{elseif  $priceunit=='2'}{price_short($price)}/套{/if} {else}一房一价{/if}</label><label class='wz'>{$address}</label> <label class='wz'><span class='t_blue'></span></label> </p> </a>";
		var infoWindow = new BMap.InfoWindow(setcontent);
		marker.addEventListener("click", function(){this.openInfoWindow(infoWindow);});
		
		var local = new BMap.LocalSearch(map, {
			  renderOptions:{map: map, autoViewport:true}
			});

		function loadScript() 
		{  
			var script = document.createElement("script");  
			script.src = "http://api.map.baidu.com/api?v=1.4";  
			document.body.appendChild(script);
		}
		window.onload = loadScript;
		function sethousecenter()
		{
			var marker = new BMap.Marker(point);
			map.centerAndZoom(point, 14);
		}
		function showdevice(n)
		{
			if(n==1)
			{
				$(".map_qh a:first-child").addClass("sel_on");
				$(".map_qh a:last-child").removeClass("sel_on");
				$(".map_pt").css("height", "46px");
				var href = "{WAP_SITEURL}device/{$id}/";
				window.location.href = href;
			}
			if(n==2)
			{
				$(".map_qh a:last-child").addClass("sel_on");
				$(".map_qh a:first-child").removeClass("sel_on");
				$(".map_pt").css("height", "0px");
				var href = "{WAP_SITEURL}device/{$id}/map/";
				window.location.href = href;
			}
		}
</script>

</div>

<script>
var houseshow = 0;
// slider
var slider = new Swipe(document.getElementById('slider'), {
      callback: function(e, pos) {
        
        var i = bullets.length;
        while (i--) {
          bullets[i].className = ' ';
        }
        bullets[pos].className = 'on';
      }
    });
</script>
{php $f = intval($_GET['f']);}
<div class="map_qh">
	<a href="#" {if empty($f)}class="sel_on"{/if} onclick="showdevice(1);">附近</a><a href="#" {if !empty($f)}class="sel_on"{/if} onclick="showdevice(2);">地图</a>
</div>
<div class="map_bd" onclick="sethousecenter();"></div>

<div class="map_pt" {if !empty($f)}style="display:none;"{else}style="overflow:hidden"{/if}>
	<div class="m" id='slidermappt'>
    	<ul>
        <li style="display:block">
        	<span class="lb">
        	<a href="javascript:hiddenhouse(houseshow);search('公交')"><b><i class="ico1"></i>交通</b></a><a href="javascript:hiddenhouse(houseshow);search('学校')"><b><i class="ico2"></i>学校</b></a><a href="javascript:hiddenhouse(houseshow);search('超市')"><b><i class="ico3"></i>超市</b></a><a href="javascript:hiddenhouse(houseshow);search('餐饮')"><b><i class="ico5"></i>餐饮</b></a><label class="bn bn_r" onclick='slidermappt.next();return false;'>下一类</label>
            </span>
        	
        </li>
        <li style="display:none">
        	<span class="lb lb_r"><a href="javascript:hiddenhouse(houseshow);search('医院')"><b><i class="ico6"></i>医院</b></a><a href="javascript:hiddenhouse(houseshow);search('银行')"><b><i class="ico7"></i>银行</b></a><a id="house" href="#"  style="width:35%"><b><i class="ico4"></i>周边楼盘</b></a>
            <label class="bn bn_l" onclick='slidermappt.prev();return false;'>上一类</label>
        	</span>
        </li>
        </ul> 
	</div>
</div>
<script>
	var slidermappt = new Swipe(document.getElementById('slidermappt'));
	$(".lb a").bind("click", function(){
		$(".lb a").each(function(){$(this).removeClass("sel_on");});
		$(this).attr("class", "sel_on");
	});
	
	function addMarker(point, value2, value3, value4, value5, value6, value7)
	{
		var marker = new BMap.Marker(point);
		map.addOverlay(marker);
		//创建信息窗口
		var value = "<a href='{WAP_SITEURL}detail/"+value7+"/' class='lp_con'><label class='lpic' style='background:url("+value6+")'></label><p class='ltxt'><label class='h1'>"+value2+"</label><label class='jg'>"+value3+"</label><label class='wz'>"+value4+"</label> <label class='wz'><span class='t_blue'>"+value5+"</span></label> </p> </a>";
		var infoWindow = new BMap.InfoWindow(value);
		marker.addEventListener("click", function(){this.openInfoWindow(infoWindow);});
	}

	$("#house").bind("click", function(){
		hiddenhouse(1);
		var aroundhouse = eval("[]");
		map.setZoom(14);
		for(i=0; i<aroundhouse.length; i++)
		{
			var otherpt = aroundhouse[i];
			var point = new BMap.Point(otherpt[0], otherpt[1]);
			addMarker(point, otherpt[2], otherpt[3], otherpt[4], otherpt[5], otherpt[6], otherpt[7]);
		}
	});

	function hiddenhouse(value)
	{
		if(value == 1)
		{
			map.clearOverlays();
			var point = new BMap.Point(houseObj.coordx_encode, houseObj.coordy_encode);
			var myIcon = new BMap.Icon("/statics/default/3g/images/wap/dian.png", new BMap.Size(21, 30), {imageSize:new BMap.Size(21, 30)});
			var marker = new BMap.Marker(point, {icon:myIcon});
			map.centerAndZoom(point, 12);
			map.addOverlay(marker);
			var value = "<a href='{WAP_SITEURL}detail/{$id}/' class='lp_con'><label class='lpic' style='background:url({if !empty($thumb)}{thumb($thumb,120,90)}{else}{APP_PATH}statics/default/img/index/nopic.jpg{/if})'></label><p class='ltxt'><label class='h1'>{$title}</label><label class='jg'>{if !empty($price) && $price!='一房一价'}{if $priceunit=='0' }起价{$price}元/平米{elseif  $priceunit=='2'}{price_short($price)}/套{/if} {else}一房一价{/if}</label><label class='wz'>{$address}</label> <label class='wz'><span class='t_blue'></span></label> </p> </a>";
			var infoWindow = new BMap.InfoWindow(value);
			marker.addEventListener("click", function(){this.openInfoWindow(infoWindow);});
			houseshow = 1;
		}
	}
</script>
	
</div>

</body>
