<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>积分记录-经纪人管理中心-{$site_title}</title>
<link href="/statics/default/member/css/main.css" rel="stylesheet" type="text/css" />
<link href="/statics/default/member/css/footer.css" rel="stylesheet" type="text/css" />
<link href="/statics/default/member/css/pages.css" rel="stylesheet" type="text/css" />
<link href="/statics/default/member/css/center.css" rel="stylesheet" type="text/css" />
<script>var cookiepre = 'menu_';var cookiepath = '/';var cookiedomain = '';var SiteUrl='{MEMBER_PATH}';var JS_URL='/statics/default/member/js/';var imgUrl='/statics/default/member/img/';</script>
<script src="/statics/default/member/js/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="/statics/default/member/js/manage.js" type="text/javascript"></script>
<script src="/statics/default/member/js/menu.js" type="text/javascript"></script>
<script src="/statics/default/member/js/cookie.js" type="text/javascript"></script>
<script src="/statics/default/member/js/thickbox.js" type="text/javascript"></script>
<link href="/statics/default/member/css/thickbox.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="{APP_PATH}favicon.ico" />
</head>
<body>
<div class="head">
  <div id="wrap"><span class="fl"><img src="/statics/default/member/img/logo_myagent.gif" width="281" height="50" /></span><span class="fr">
	<p>欢迎您：<a href="index.php?s=member">{get_nickname()}</a> <a href="index.php?s=message/index/inbox" class="message">短消息(0)</a> <a href="{APP_PATH}index.php?s=member/index/logout">退出</a></p>
    <ul>
	    <li style="text-align:right;"><a href="{HOUSE_PATH}" target="_blank">首页</a> | <a href="{HOUSE_PATH}list.html" target="_blank">新房</a> | <a href="{ESF_PATH}" target="_blank">二手房</a> | <a href="{ESF_PATH}rent-list.html" target="_blank">出租房</a> | <a href="{catlink(6)}" target="_blank">资讯</a>{if BBS_PATH!=''} | <a href="{BBS_PATH}" target="_blank">论坛</a>{/if}</li>
    </ul>
    </span></div>
</div>
<div id="wrap">
  <!--左边菜单-->
  <div class="left" id="left_menu">
    <div class="menu">
      <div class="home">
        <h1><a href="index.php?s=member">管理中心首页</a></h1>
      </div>
    </div>
    <div class="menu">
      <div class="tittle" id="titlebg_1" onclick="menu('1')" style="cursor:pointer"><img src="/statics/default/member/img/shouqi.jpg" id="menua_1" width="11" height="11" /><img src="/statics/default/member/img/zhankai.jpg" id="menub_1" width="11" height="11" style="display:none;" />
        <h1><a href="javascript:;">二手房管理</a></h1>
      </div>
      <ul id="menu_1">
        <li ><a href="index.php?s=member/index/esf">发布出售</a></li>
        <li ><a href="index.php?s=member/index/manage_sell">管理出售</a></li>
      </ul>
    </div>
    <div class="menu">
      <div class="tittle" id="titlebg_2" onclick="menu('2')" style="cursor:pointer"><img src="/statics/default/member/img/shouqi.jpg" id="menua_2" width="11" height="11" /><img src="/statics/default/member/img/zhankai.jpg" id="menub_2" width="11" height="11" style="display:none;" />
        <h1 class="rent"><a href="javascript:;">出租房管理</a></h1>
      </div>
      <ul id="menu_2">
        <li ><a href="index.php?s=member/index/rent">发布出租</a></li>
        <li ><a href="index.php?s=member/index/manage_rent">管理出租</a></li>
      </ul>
    </div>
	{if $memberinfo[modelid]=='42'}
    <div class="menu">
      <div class="tittle" id="titlebg_6" onclick="menu('6')" style="cursor:pointer"><img src="/statics/default/member/img/shouqi.jpg" id="menua_6" width="11" height="11" /><img src="/statics/default/member/img/zhankai.jpg" id="menub_6" width="11" height="11" style="display:none;" />
        <h1 class="dianpu"><a href="javascript:;">店铺管理</a></h1>
      </div>
       <ul id="menu_6">
        <li><a href="/index.php?s=member/index/notice">店铺公告</a></li>
      </ul>
    </div>
	{/if}
    <div class="menu">
      <div class="tittle" id="titlebg_7" onclick="menu('7')" style="cursor:pointer"><img src="/statics/default/member/img/shouqi.jpg" id="menua_7" width="11" height="11" /><img src="/statics/default/member/img/zhankai.jpg" id="menub_7" width="11" height="11" style="display:none;" />
        <h1 class="ziliao"><a href="javascript:;">资料管理</a></h1>
      </div> <ul id="menu_7">
	  <li ><a href="/index.php?s=member/index/account_manage_info">修改资料</a></li>
	  <li ><a href="/index.php?s=member/index/account_manage_avatar">头像认证</a></li>
	  {if $memberinfo[modelid]=='42'}
	  <li ><a href="/index.php?s=member/index/identity">身份证认证</a></li>
	  <li ><a href="/index.php?s=member/index/certificate">执业资格证认证</a></li>
	  {/if}
      <li><a href="/index.php?s=member/index/account_manage_password">修改密码</a></li>
      </ul>
    </div>
  </div>
<script language="javascript">get_menu(8);</script>
<script language="javascript">
var jfUrl = [];
jfUrl[0] = "/index.php?s=pay/deposit/init";
jfUrl[1] = "/index.php?s=pay/deposit/init/type/1";
jfUrl[2] = "/index.php?s=pay/deposit/init/type/2";
jfUrl[3] = "/index.php?s=pay/deposit/init/type/3";
jfUrl[4] = "/index.php?s=pay/deposit/init/type/4";
jfUrl[5] = "/index.php?s=pay/deposit/init/type/5";
</script>
  <!--右边-->
<div class="text">
    <div class="fold"></div>
    <div class="bread"><a href="/index.php?s=member/index/">管理中心</a>我的积分</div>
    <!--积分-->
    <div class="jifen_total"><span class="fl">目前积分：<span class="orane">{$memberinfo['point']}</span> 分 &nbsp;&nbsp; 等级：<img src="{APP_PATH}statics/default/img/esf/{$memberinfo['groupicon']}" border="0" align="absmiddle" title="{$memberinfo['groupname']} 积分：{$memberinfo['point']}" /></span>
		<span class="fr">
			<select name="type"  onchange="javascript:if(this.value)window.location.href=jfUrl[this.value]" style="width:100px;">
						  <option value="0">今日积分</option>
						  <option {if $_GET[type]==1} selected="selected" {/if}value="1">3天之内</option>
						  <option {if $_GET[type]==2} selected="selected" {/if}value="2">7天之内</option>
						  <option {if $_GET[type]==3} selected="selected" {/if}value="3">15天之内</option>
						  <option {if $_GET[type]==4} selected="selected" {/if}value="4">30天之内</option>
						  <option {if $_GET[type]==5} selected="selected" {/if}value="5">60天之内</option>
						</select>
       </span>
	</div>
    <div class="box">
      <div class="tit">
        <h1>我的积分</h1>
      </div>
      <div class="jifen">
        <ul>
          <li class="bgcolor"><span class="detail"><b>内容说明</b></span> <span class="score"><b>加分扣分</b></span> <span class="time"><b>操作时间</b></span></li>
		{if $infos}
		  {loop $infos $info}
		  		            <li><span class="detail">{$info['payment']}</span>
		  <span class="score">{$info['money']}</span>
		  <span class="time">{date('Y-m-d H:i:s',$info['addtime'])}</span></li>
		  {/loop}
		 {else}
			<li><center>暂无记录！</center></li>
		  {/if}
		  		          </ul>
        <!--分页样式-->{$pages}
		      </div>
      <div class="clear"></div>
    </div>
    <!--说明-->
  </div>
  </div>   <!--底部-->
 <div style="clear:both"></div></div>
{template 'content', 'footer'}
</div>
</body>
</html>