/* CSS Document */

html, body {
	font-size:12px;
	background:url(../images/ln_html_bg.jpg) left top repeat-x;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	padding:0;
	margin:0;
	font-size:12px;
	
}

.wrap {
	width:950px;
	background:url(../images/ln_wrap_bg.jpg) no-repeat;
	overflow:hidden;
	height: auto;
}
.ln_top {
	height:30px;
	overflow:hidden;
	position:relative;
	color:#fff;
}
.ln_logo {
	position:absolute;
	width:386px;
	height:25px;
	left:260px;
	line-height:32px;
	font-weight: normal;
	z-index:999;
	
}
.ln_logo a {
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
	text-indent:-999px;
}
.ln_top_nav {
	float:right;
}
.ln_top_nav li {
	float:left;
	line-height:30px;
	list-style:none;
}
.ln_top_nav a {
	color:#fff;
	margin:0 8px;
}.ln_top_nav a:hover{ color:#FF0000;}
.ln_main {
	height:471px;
	position:relative;
	background:url("../images/ln_main_bg.jpg") no-repeat 470px 0;
	top:-1px;
	z-index:10;
}
.ln_words {
	position:absolute;
	left:479px;
	top:250px;
	line-height:20px;
	color:#fff;
	padding-right:300px;
}
.ln_error {
	position:absolute;
	bottom:295px;
	left:763px;
	color:#f00;
	padding:5px;
	width:170px;
	background:#FF9;
	border:1px solid #bbb;
}
.ln_login {
	position:absolute;
	width:230px;
	top:175px;
	left:710px;
}
.ln_login p{ line-height:25px; text-align:center; color:#990000;}
.ln_login tbody th {
	width:65px;
	height:42px;
	line-height:36px;
	text-align:right;
	color:#000;
	font-size:12px;
	vertical-align:top;
}
.ln_login tbody td {
	width:210px;
}
.in_login_de{ width:65px; height:30px; line-height:30px; text-align:right; font-weight:bold;}
.ln_text {
	border:0;
	width:166px;
	height:29px;
	line-height:29px;
	background: url(../images/ln_input_166.jpg) no-repeat;
	padding-left:10px;
	color:#000;
	font-size:12px;
}
.ln_text_74 {
	width:74px;
	background:url(../images/ln_input_74.jpg) no-repeat;
	margin-right:3px;
	position:relative;
	height:29px;
	line-height:29px;
	font-size:12px;
}
.ln_code {
	cursor:pointer;
	position:relative;
	top:5px;
*top:4px;
}
.ln_change_code {
	float:right;
	margin-right:42px;
}
.ln_btn_login {
	display:inline-block;
	width:104px;
	height:38px;
	border:none;
	background:url("../images/ln_btn_login.jpg") no-repeat;
	margin-top:10px;
	cursor:pointer;
}
.ln_status {
	position:relative;
	margin-left:9px;
	color:#000;
	top:-12px;
	cursor:pointer;
	font-size:12px;
}
.ln_more {
	color:#000;
	text-align:center;
	line-height:20px;
}
.co_b6 {
	color:#b6b6b6;
}
.ln_footer {
	width:100%;
	height:100px;
	background:url("../images/ln_footer_bg.jpg") repeat-x;
	overflow:hidden;
	margin-top:0px;
}
.ln_footer_content {
	width:950px;
	text-align: center;
	color:#868A9E;
	height:30px;
	margin-top:10px;
	overflow:hidden
}
.ln_footer_content a {
	color:#868A9E;
	margin:0 12px;
}
.ln_footer_content span {
	margin-left:10px;
}

