 <span class="blank10"></span>
<div class="area">
  <div class="hd">
    <h2><a href="#" class="cred">最新资讯</a></h2>
  </div>
  <div class="bd widthbg list-f12">
    <ul class="list">
            <li> <a href="http://news.guhantai.com/2012/0922/174228.shtml" target="_blank"  style="" >镇巴工商局荣获全县“民歌进机关文艺调演”二等奖 </a> </li>
            <li> <a href="http://news.guhantai.com/2012/0922/174227.shtml" target="_blank"  style="" >汉中市工商局部署中秋、国庆期间流通环节食品市场监管</a> </li>
            <li> <a href="http://news.guhantai.com/2012/0922/174226.shtml" target="_blank"  style="" >中国首艘航母悄降满旗 中船集团回应称航母已服役传闻不实</a> </li>
            <li> <a href="http://news.guhantai.com/2012/0922/174225.shtml" target="_blank"  style="" >江西赣州发现食肉鱼雀鳝 人若食用或会致死</a> </li>
            <li> <a href="http://news.guhantai.com/2012/0922/174224.shtml" target="_blank"  style="" >铁道部就网上购票难问题致歉</a> </li>
            <li> <a href="http://news.guhantai.com/2012/0922/174223.shtml" target="_blank"  style="" >全国80个景点平均降价37% 知名的景点不多</a> </li>
            <li> <a href="http://news.guhantai.com/2012/0922/174222.shtml" target="_blank"  style="" >糯康当庭认罪求保命 称有600万人民币可赔偿</a> </li>
            <li> <a href="http://news.guhantai.com/2012/0922/174221.shtml" target="_blank"  style="" >证据显示9名泰国军人登船向中国遇害船员开枪</a> </li>
            <li> <a href="http://shanxi.guhantai.com/2012/0922/174220.shtml" target="_blank"  style="" >“微笑局长”杨达才违纪撤职 新任局长为赵政才</a> </li>
            <li> <a href="http://shanxi.guhantai.com/2012/0922/174219.shtml" target="_blank"  style="" >媒体称“微笑局长”被撤职是网民歪打正着</a> </li>
          </ul>
  </div>
</div>
