<div class="title_left link5"><span class="red1">看房热线：5668077 5693177</span><a href="{TUAN_PATH}">看房团</a></div>
<div class="content_left">
  <div class="left_1">
    <ul>
    <li>当前会员<span class="red">2316</span>人</li>
    <li>购房<span class="red">723</span>套 最新砍价幅度<span class="red">10%</span></li>
    </ul>
   
    <div class="a2">&#160;</div>
    <div class="a1 smb_reg" ><a href="http://tuan.venfang.com" target="_blank">申请加入</a></div>
  </div>
  <div class="left_2">
    <div class="a1 tips">活动</div>
    <ul>
    </ul>
   </div>
   <div class="left_3"><b>看房QQ群：</b>1群：165356415&#160;&#160;2群：102500690</div>