<div class="subNav subNavNews">
        	<h4><a href="{catlink(6)}">资<br />讯</a></h4>
            <ul>
            	<li><a href="{catlink(24)}">本地关注</a></li>
            	<li><a href="{catlink(25)}" class="colFF0000">本地</a></li>
            	<li><a href="{catlink(16)}">全国</a></li>
            	<li><a href="{catlink(6)}special/">专题</a></li>
            	<li><a href="{catlink(80)}">数据</a></li>
            	<li><a href="{catlink(38)}">地产人物</a></li>
            	<li><a href="{APP_PATH}piclist.html">图片</a></li>
            	<li><a href="{catlink(33)}">土地</a></li>
            	<li><a href="{catlink(30)}">市场</a></li>
            	<li><a href="{catlink(27)}">行情</a></li>
            </ul>
        </div>
     	 <div class="subNav subNavHouse">
        	<h4><a href="{HOUSE_PATH}">买<br />房</a></h4>
            <ul>
            	<li><a href="{HOUSE_PATH}list.html" class="colFF0000">新房</a></li>
            	<li><a href="{ESF_PATH}">二手房</a></li>
            	<li><a href="{ESF_PATH}rent/">租房</a></li>
            	<li><a href="{HOUSE_PATH}map/">地图</a></li>
            	<li><a href="{catlink(26)}">楼市快报</a></li>
            	<li><a href="{catlink(46)}">商业地产</a></li>
            	<li><a href="{catlink(44)}">旅游地产</a></li>
            	<li><a href="{HOUSE_PATH}list-t6.html">别墅</a></li>
            	<li><a href="{TUAN_PATH}" class="colFF0000">看房团</a></li>
            </ul>
        </div>
     	<div class="subNav subNavDecoration">
        	<h4><a href="{catlink(53)}">装修<br />家居</a></h4>
            <ul>
            	<li><a href="{catlink(54)}">资讯</a></li>
            	<li><a href="{catlink(114)}">建材</a></li>
            	<li><a href="{catlink(59)}">装修日记</a></li>
            	<li><a href="{catlink(58)}">设计</a></li>
            	<li><a href="{APP_PATH}piclist.html">图库</a></li>
            	<li><a href="{BBS_PATH}">装修论坛</a></li>
            </ul>
        </div>
     	<div class="subNav subNavBBs">
        	<h4><a href="{BBS_PATH}">业主<br />社区</a></h4>
            <ul>
            	<li><a href="{BBS_PATH}" class="colFF0000">业主论坛</a></li>
            	<li><a href="{BBS_PATH}">生活</a></li>
            	<li><a href="{BBS_PATH}">房产楼市</a></li>
            	<li><a href="{BBS_PATH}">微博</a></li>
            </ul>
        </div>