<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>{L('member','','member').L('manage_center')}</title>
<link href="{APP_PATH}statics/default/member/css/member.css" rel="stylesheet" type="text/css" />
</head>

<body class="mybody">
<!--[if lte IE 6]>
<script src="js/DD_belatedPNG_0.0.8a.js" type="text/javascript"></script>
<script type="text/javascript">
DD_belatedPNG.fix('div,ul,span,li,input,a,dd');
</script>
<![endif]-->
<div class="w950 clear mber_in_t"><span><a class="blue" href="">成为会员</a> 可以享受更多相关服务</span><a href="" class="logo">house5</a>
</div>

<div class="w950 clear">
<div class="reg_con2">
<div class="regstep">会员注册信息</div>
<div class="LoginInfo">
    <div class="ico">
      <div></div>
    </div>
    <div class="rInfo">
      <ul>
        <li>
          <h1><font>harmacn</font>，恭喜您注册成功并且已登录网站！</h1>
        </li>
        <li class="mail_cg">您注册的邮箱：<a href="javascript:;">cangetby@hotmail.com</a> <em>(此邮箱可以找回您丢失密码)</em></li>
        <li>您的帐户成功获得<strong>20</strong>个积分！</li>
        <li class="bt" style="height:50px;"><a class="cr" href="Default.aspx">进入用户中心</a><a href="MemberSpace.aspx">升级为经纪人</a><a href="http://www.2500sz.co/account/memberlogin.aspx">升级为开发商</a></li>
      </ul>
    </div>
  </div>
  
  <div class="nL">
    <ul>
      <li>
        <div class="Cico c7">
          <div></div>
        </div>
        <div class="rc">
          <h2>发布出租出售房源</h2>
          <p>面向本地市场的网络商圈平台，是集建立店铺、吃喝玩乐，交流互动，本地团购，营销推广，企业建站等全方位的电子商务整合营销的通道，同时实现实体商家产品销售，线上线下结合渠道联盟的电子商务。</p>
          <a href="http://Company.2500sz.co/Storejoin.html">发布房源信息>></a> </div>
      </li>
      <li>
        <div class="Cico c6">
          <div></div>
        </div>
        <div class="rc">
          <h2>升级为经纪人</h2>
          <p>最真实，火热的城市生活门户。是网友聚集讨论本地消息、浏览新闻，二手跳蚤，电子报刊，发布黄页，投票选举，许愿互动等话题的首选互动网站等。</p>
          <a href="http://Info.2500sz.co/UserInfoAdd.aspx">升级为经纪人>></a> </div>
      </li>
      <li>
        <div class="Cico c5">
          <div></div>
        </div>
        <div class="rc">
          <h2>升级为开发商</h2>
          <p>为个人提供最全最新最准确的企业职位招聘信息，为企业提供人才招聘、猎头、培训和人事外包在内的全方位的人力资源服务，帮助个人求职者与企业搭建最佳的桥梁，实现共赢。</p>
          <a href="http://www.2500sz.co/Account/MemberJobInfoAdd.aspx">升级为开发商>></a> </div>
      </li>
    </ul>
  </div>
</div></div>

<div class="w950 clear">
{template 'content', 'footer'}
</div>
</body>
</html>
