/**--------------------------------------新闻导航---------------------------------------------**/
#newsNav{width:960px;height:42px;background:url("../../img/video/news_mid.gif") repeat-x 0 0;margin:10px auto 0 auto;}
#newsNav .newsnavLeft{float:left;width:119px;height:42px;background:url("../../img/video/news_left.gif") no-repeat center left;}
#newsNav .newsnavLeft a{display:inline-block;width:119px;height:37px;}
#newsNav .newsnavUl{float:right;height:42px;background:url("../../img/video/news_right.gif") no-repeat center right;padding-right:30px;}
#newsNav .newsnavUl li{float:left;width:78px;height:37px;line-height:39px;font-size:14px;text-align:center;overflow:hidden;}
#newsNav .newsnavUl li.newsselect{width:78px;height:37px;background:#014e8a;overflow:hidden;}
#newsNav .newsnavUl li a:link,
#newsNav .newsnavUl li a:visited{color:#daeefe;}
#newsNav .newsnavUl li a:hover{color:#fff;text-decoration:none;}
#newsNav .newsnavUl li.newsselect a{}
#newsNav .newsnavUl li.newsselect a:link,
#newsNav .newsnavUl li.newsselect a:visited{color:#fff;}
#newsNav .newsnavUl li.newsselect a:hover{color:#fff;text-decoration:none;}