.cal_tit{ height:42px; display:block;  position:relative; padding-bottom:6px; background-color:#f2f3f4}
.cal_tit .li_1{ margin:0 42px 0 0}
.cal_tit .li_2{ margin:0 0 0 42px}
.cal_tit li{ position:relative; z-index:10}
.cal_tit label{ display:block; width:50%; float:left; clear:none; position:relative}
.cal_tit label a{ display:block; height:39px; line-height:40px; border-top:1px solid #fff; border-bottom:1px solid #d5d5d5; background:#eaeaea; color:#3259a3; text-align:center; text-shadow:1px 1px 0px #fff; font-size:16px; padding:1px 0 0 0}
.cal_tit label .b_l{border-left:1px solid #fff;}
.cal_tit label .b_r{border-right:1px solid #d5d5d5;}
.cal_tit .bn_rm{ display:block; position:absolute; width:40px; height:40px; border-left:1px solid #d5d5d5; border-top:1px solid #fff; border-bottom:1px solid #d5d5d5; top:0; right:1px; background: url(../images/wap/cal_tit_r.png) 16px 11px no-repeat #eaeaea; background-size:13px 10px}
.cal_tit .bn_rm i{ width:1px; height:40px; display:block; overflow:hidden; position:absolute; top:0; left:0; background:#fff}
.cal_tit .bn_rm b{ display:block; width:100%; font-size:11px; font-weight:normal; color:#57c52c; height:18px; position:absolute; top:21px; text-align:center; text-shadow:1px 1px 0px #fff; padding:0 0 0 1px }
.cal_tit .on{ background:#6e8fce; border:1px solid #3259a3;  border-top:1px solid #91b1ed; color:#fff; text-shadow:0px 0px 3px #3259a3; }
.cal_tit .on i{ display:block; width:100%; height:6px; position:absolute; bottom:-5px; background:url(../images/wap/cal_tit_on.png) center no-repeat; background-size:9px 6px}
.cal_tit .bn_l{ display:block; position:absolute; width:40px; height:40px; border-right:1px solid #d5d5d5; border-top:1px solid #fff; border-bottom:1px solid #d5d5d5; top:0; left:1px; background: url(../images/wap/cal_tit_l.png) 13px 16px no-repeat #eaeaea; background-size:13px 10px}
.cal_tit .bn_l i{ width:1px; height:40px; display:block; overflow:hidden; position:absolute; top:0; right:0; background:#fff}



.main_body{ height:90px; position:relative; color:#fff}
.main_body .pic_con{ display:block; width:90px; height:90px; position:absolute; z-index:2}
.main_body .pic_con .pic{ width:90px; height:90px; display:block}
.main_body .t_con{padding:5px 10px 5px 12px; margin:0 0 0 90px}
.main_body .t_con h1{ height:28px; line-height:28px; font-size:18px; display:block; color:#333; font-weight:bold; display:block; text-overflow: ellipsis; white-space:nowrap; overflow:hidden; padding:3px 0 0 0}
.main_body .t_con p{ text-overflow: ellipsis; white-space:nowrap; overflow:hidden}
.main_body .t_con .jg{line-height:22px; font-size:14px; font-weight:bold; color:#cc3b3a}
.main_body .t_con .ms{ font-size:12px; color:#3259a3}
.main_body .t_con .wz{ font-size:12px; color:#333; margin-bottom:5px}
.main_body .t_con .ff{ line-height:22px; color:#CCC}

.main_body .yy_b, .hx_sel i{ display:block; width:100%; position:absolute; bottom:0; height:3px; background:url(../images/wap/yy_y.png) repeat-x; overflow:hidden; z-index:10}
.main_body .yy_t{ display:block; width:100%; position:absolute; top:0; height:3px; background:url(../images/wap/yy_y.png) 0 -5px repeat-x; overflow:hidden; z-index:10}
.main_body .yy_x{ display:block; width:3px; position:absolute; height:89px; top:0; left:87px; background:url(../images/wap/yy_x.png) repeat-y; z-index:10; overflow:hidden}
.main_body .ico{ display:block; width:35px; height:20px; line-height:20px; background:url(../images/wap/deta_ico_bg.png) 0 -56px; text-align:center; color:#fff; font-size:12px; background-size:50px 150px; text-align:center; position:absolute; top:11px; left:58px; z-index:11; padding:0 3px 0 0; text-shadow:1px 1px 0px #8c1a19;}
.inp_red{ color:#cc3b3a}

.bot_tel{ bottom:0; left:0; height:40px; background-color:rgba(8,22,50,0.8); position:fixed; z-index:50; width:100%; line-height:40px; color:#ffde00; font-size:16px; text-align:center; text-shadow:2px 2px 3px #0a1732; border-top:1px solid #081531}
.bot_tel strong{ color:#fff}
.bot_tel i{ display:block; width:35px; height:35px; background:url(../images/wap/tel_ico.gif) no-repeat; background-size:35px 35px; position:absolute; left:8px; top:2px}
.bot_tel span{ display:block; height:20px; line-height:20px; position:absolute; left:48px; top:11px; font-weight:bold}




.calculator{ background-color:#f2f3f4; padding:0 10px;}

.formList li{ position:relative; padding-left:90px; padding-bottom:6px;}
.formList li label{ position:absolute; top:0; left:0; width:78px; height:100%; text-align:right; font-size:14px; line-height:36px; font-weight:bold; color:#333333; border-right:1px solid #FFF; box-shadow:1px 0 0 #e8e8e8; white-space:nowrap; text-shadow:1px 1px 0px #fff;}
.formList li label::after{ content:""; position:absolute; top:18px; right:-7px; width:12px; height:1px; overflow:hidden; border-top:1px solid #FFF; border-bottom:1px solid #FFF; background-color:#DFDFDF;}
.formList li select{height:36px; padding:0 28px 0 10px; border:1px solid #CCCCCC; -webkit-border-radius:3px; background:url(../images/wap/sel_bg01.png) right no-repeat #fff; font-size:14px; color:#666; vertical-align: middle; -webkit-appearance:none; display:block; width:100%; -webkit-box-shadow: 0px 0px 4px #CCC; background-size:27px 32px; font-weight:bold; color:#666;}
.formList li input[type="text"]{  width:100%; height:36px; padding:0 40px 0 10px; font-size:14px; border:1px solid #CCC;  border-radius:3px; -webkit-box-shadow: 0 0 4px #cccccc;  -webkit-appearance:none;}
.formList li input[type="tel"]{  width:100%; height:36px; padding:0 40px 0 10px; font-size:14px; border:1px solid #CCC;  border-radius:3px; -webkit-box-shadow: 0 0 4px #cccccc;  -webkit-appearance:none; padding:0 28px 0 10px}
.formList li input[disabled="true"]{ background-color:#DBDBDB; color:#CA0000; -webkit-appearance:none;}
.formList li em{ position:absolute; right:10px; top:0; z-index:1000; line-height:36px; font-size:14px; color:#999999; font-weight:bold;}
.formList li .double{ font-size:12px; line-height:17px; text-align:center; white-space:normal; vertical-align:middle;}

.formList .liFirst{ -webkit-box-shadow:0 0 0 #FFF;}
.formList .liFirst,
.formList .liFirst label{ padding-top:13px;}
.formList .liFirst label::after{ top:31px;}
.formList .liFirst em{ top:13px;}
.formList .liLast{ padding-bottom:11px; border-bottom:1px solid #E8E8E8; -webkit-box-shadow:0 -1px 0 #FFF inset;}

.calculator .btnWrap{ padding:0 10px 13px; margin-top:10px;}
.calculator .btnWrap input{ width:100%; height:40px; border-style:solid; border-width:1px; -webkit-border-radius:3px; font-size:16px; font-weight:bold;}
.calculator .btnWrap input[type="button"]{ border-color:#355490; background-image:-webkit-linear-gradient(top,#5481d4,#355fac); color:#FFF;  text-shadow:0px 0px 3px #112e65;}
.calculator .btnWrap input[type="reset"]{ border-color:#C2C2C2; background-image:-webkit-linear-gradient(top,#EEEEEE,#DCDCDC); color:#666; }
#calAfterShow{ display:none;}

.formList li .blk{ float:left; line-height:34px; width:24px; text-align:center;}
.formList li .h_short{ float:left; width:79px;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.none{ display:none;}
