BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
SELECT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	FONT: 12px "ËÎÌå","Arial Narrow",HELVETICA; BACKGROUND: #fff; -webkit-text-size-adjust: 100%
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
EM {
	FONT-STYLE: normal
}
LI {
	LIST-STYLE-TYPE: none
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT-WIDTH: 0px
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
P {
	WORD-WRAP: break-word
}
.undis {
	DISPLAY: none
}
.dis {
	DISPLAY: block
}
.ind {
	TEXT-INDENT: 2em
}
.Q-red A {
	COLOR: #bd0a01
}
A.Q-red {
	COLOR: #bd0a01
}
.Q-black A {
	COLOR: #000
}
A.Q-black {
	COLOR: #000
}
.layout:after {
	DISPLAY: table; CLEAR: both; CONTENT: ""
}
.hd:after {
	DISPLAY: table; CLEAR: both; CONTENT: ""
}
.bd:after {
	DISPLAY: table; CLEAR: both; CONTENT: ""
}
.ft:after {
	DISPLAY: table; CLEAR: both; CONTENT: ""
}
.cf:after {
	DISPLAY: table; CLEAR: both; CONTENT: ""
}
.Q-tList:after {
	DISPLAY: table; CLEAR: both; CONTENT: ""
}
.Q-tList UL:after {
	DISPLAY: table; CLEAR: both; CONTENT: ""
}
.Q-tList OL:after {
	DISPLAY: table; CLEAR: both; CONTENT: ""
}
.Q-pList:after {
	DISPLAY: table; CLEAR: both; CONTENT: ""
}
.Q-pList UL:after {
	DISPLAY: table; CLEAR: both; CONTENT: ""
}
.Q-tpList:after {
	DISPLAY: table; CLEAR: both; CONTENT: ""
}
.Q-tpList UL:after {
	DISPLAY: table; CLEAR: both; CONTENT: ""
}
.Q-tpWrap:after {
	DISPLAY: table; CLEAR: both; CONTENT: ""
}
.layout {
	ZOOM: 1
}
.hd {
	ZOOM: 1
}
.bd {
	ZOOM: 1
}
.ft {
	ZOOM: 1
}
.cf {
	ZOOM: 1
}
.Q-tList {
	ZOOM: 1
}
.Q-tList UL {
	ZOOM: 1
}
.Q-tList OL {
	ZOOM: 1
}
.Q-pList {
	ZOOM: 1
}
.Q-pList UL {
	ZOOM: 1
}
.Q-tpList {
	ZOOM: 1
}
.Q-tpList UL {
	ZOOM: 1
}
.Q-tpWrap {
	ZOOM: 1
}

@media Screen    
{
.fl {
	DISPLAY: inline; FLOAT: left
}
.layout .fl {
	DISPLAY: inline; FLOAT: left
}
.chief {
	DISPLAY: inline; FLOAT: left
}
.fr {
	DISPLAY: inline; FLOAT: right
}
.layout .fr {
	DISPLAY: inline; FLOAT: right
}
.extra {
	DISPLAY: inline; FLOAT: right
}
.layout {
	MARGIN: 0px auto; WIDTH: 960px
}
.Q-g4 .chief {
	WIDTH: 780px
}
.Q-g4 .extra {
	WIDTH: 170px
}
.Q-g8 .chief {
	WIDTH: 637px
}
.Q-g8 .main {
	WIDTH: 313px
}
.Q-g8 .extra {
	WIDTH: 313px
}
.Q-g8 .sub {
	WIDTH: 314px
}
.Q-g12 .chief {
	WIDTH: 475px
}
.Q-g12 .extra {
	WIDTH: 475px
}
.Q-g14 .chief {
	WIDTH: 570px
}
.Q-g14 .extra {
	WIDTH: 380px
}
.Q-g16 .chief {
	WIDTH: 640px
}
.Q-g16 .main {
	WIDTH: 380px
}
.Q-g16 .sub {
	WIDTH: 250px
}
.Q-g16 .extra {
	WIDTH: 310px
}
.Q-g17a .chief {
	WIDTH: 700px
}
.Q-g17b .chief {
	WIDTH: 700px
}
.Q-g17c .chief {
	WIDTH: 700px
}
.Q-g17a .main {
	WIDTH: 380px
}
.Q-g17a .sub {
	WIDTH: 310px
}
.Q-g17a .extra {
	WIDTH: 250px
}
.Q-g17b .extra {
	WIDTH: 250px
}
.Q-g17c .extra {
	WIDTH: 250px
}
.Q-g17b .main {
	WIDTH: 345px
}
.Q-g17b .sub {
	WIDTH: 345px
}
.Q-g17c .main {
	WIDTH: 440px
}
.Q-g17c .sub {
	WIDTH: 250px
}
.Q-g24 .chief {
	WIDTH: 960px
}
.hd H2 {
	DISPLAY: inline; FLOAT: left
}
.hd H3 {
	DISPLAY: inline; FLOAT: left
}
.f12 {
	FONT-SIZE: 12px
}
.f14 {
	FONT-SIZE: 14px
}
.f16 {
	FONT-SIZE: 16px
}
.f18 {
	FONT-SIZE: 18px
}
.f20 {
	FONT-SIZE: 20px
}
.l16 {
	LINE-HEIGHT: 16px
}
.l17 {
	LINE-HEIGHT: 17px
}
.l18 {
	LINE-HEIGHT: 18px
}
.l19 {
	LINE-HEIGHT: 19px
}
.l20 {
	LINE-HEIGHT: 20px
}
.l21 {
	LINE-HEIGHT: 21px
}
.l22 {
	LINE-HEIGHT: 22px
}
.l23 {
	LINE-HEIGHT: 23px
}
.l24 {
	LINE-HEIGHT: 24px
}
.l25 {
	LINE-HEIGHT: 25px
}
.l26 {
	LINE-HEIGHT: 26px
}
.l27 {
	LINE-HEIGHT: 27px
}
.l28 {
	LINE-HEIGHT: 28px
}
.l29 {
	LINE-HEIGHT: 29px
}
.l30 {
	LINE-HEIGHT: 30px
}
.Q-hot {
	MARGIN: 0px 10px
}
.Q-tList {
	MARGIN: 0px 10px
}
.Q-hot H2 {
	TEXT-ALIGN: center; FONT: 18px/28px simhei
}
.Q-hot H2.l30 {
	FONT-SIZE: 20px
}
.Q-tList SPAN {
	FLOAT: right
}
.Q-tpList LI SPAN {
	FLOAT: right
}
.Q-pList LI {
	TEXT-ALIGN: center; DISPLAY: inline; FLOAT: left
}
.Q-pList A {
	DISPLAY: block
}
.Q-pList P A {
	DISPLAY: inline
}
.Q-tpList EM {
	FONT-WEIGHT: bold
}
.Q-tpList .pic {
	TEXT-ALIGN: center; DISPLAY: inline; FLOAT: left; OVERFLOW: hidden; MARGIN-RIGHT: 10px
}
.Q-tpList .pic IMG {
	BORDER-BOTTOM: #cbcbcb 1px solid; BORDER-LEFT: #cbcbcb 1px solid; DISPLAY: block; BORDER-TOP: #cbcbcb 1px solid; BORDER-RIGHT: #cbcbcb 1px solid
}
.Q-vBg {
	POSITION: relative; TEXT-ALIGN: right; FILTER: progid:DXImageTransform.Microsoft.gradient( Q-gradientType = 0, startColorstr = '#80000000', endColorstr = '#80000000'); MARGIN-TOP: -21px; WIDTH: 100%; FONT: 12px/21px "ËÎÌå","Arial Narrow",HELVETICA; HEIGHT: 21px; CURSOR: pointer
}
.Q-vBg B {
	POSITION: absolute; WIDTH: 21px; DISPLAY: block; HEIGHT: 21px; CURSOR: pointer; TOP: 0px; LEFT: 0px
}
.Q-vBg SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #fff; CURSOR: pointer; PADDING-TOP: 0px
}
.Q-line {
	BORDER-BOTTOM: #ccc 1px dashed; FONT: 0px/0 Arial; HEIGHT: 0px; CLEAR: both; OVERFLOW: hidden
}
.Q-iDot LI {
	BACKGROUND: url(../../img/tuan/i.png) no-repeat
}
.Q-iDotBlue LI {
	BACKGROUND: url(../../img/tuan/i.png) no-repeat
}
.Q-iDotGray LI {
	BACKGROUND: url(../../img/tuan/i.png) no-repeat
}
.Q-iTqq LI {
	BACKGROUND: url(../../img/tuan/i.png) no-repeat
}
.Q-iVideo LI {
	BACKGROUND: url(../../img/tuan/i.png) no-repeat
}
.Q-iVideoBlue LI {
	BACKGROUND: url(../../img/tuan/i.png) no-repeat
}
.Q-iVideoDeep LI {
	BACKGROUND: url(../../img/tuan/i.png) no-repeat
}
.Q-iVideoGreen LI {
	BACKGROUND: url(../../img/tuan/i.png) no-repeat
}
.Q-iDotBlue LI {
	BACKGROUND-POSITION: 0px -30px
}
.Q-iTqq LI {
	BACKGROUND-POSITION: 0px -60px
}
.Q-iVideo LI {
	BACKGROUND-POSITION: 0px -90px
}
.Q-iVideoBlue LI {
	BACKGROUND-POSITION: 0px -120px
}
.Q-iVideoDeep LI {
	BACKGROUND-POSITION: 0px -210px
}
.Q-iDotGray LI {
	BACKGROUND-POSITION: 0px -180px
}
.Q-iVideoGreen LI {
	BACKGROUND-POSITION: 0px -240px
}
.mt10 {
	MARGIN-TOP: 10px
}
.mb10 {
	MARGIN-BOTTOM: 10px
}
    }
H1 {
	FONT-SIZE: 14px; FONT-WEIGHT: normal
}
H2 {
	FONT-SIZE: 14px; FONT-WEIGHT: normal
}
H3 {
	FONT-SIZE: 14px; FONT-WEIGHT: normal
}
H4 {
	FONT-SIZE: 14px; FONT-WEIGHT: normal
}
A {
	COLOR: #333
}
A:hover {
	COLOR: #bd0a01
}
A:active {
	COLOR: #bd0a01
}
BODY {
	LINE-HEIGHT: 22px; COLOR: #222
}
.bold {
	FONT-WEIGHT: bold
}
.normal {
	FONT-WEIGHT: normal
}
.center {
	TEXT-ALIGN: center
}
.idt0 {
	TEXT-INDENT: -9999px
}
.mb10 {
	MARGIN-BOTTOM: 10px
}
.mb15 {
	MARGIN-BOTTOM: 15px
}
.hide {
	DISPLAY: none
}
.show {
	DISPLAY: block
}
.icons {
	BACKGROUND: url(../../img/tuan/icons.png) no-repeat
}
.loginicons {
	BACKGROUND: url(../../img/tuan/login_ib_input.png) no-repeat 0px 0px;
	margin: 0px 10px 0px 0px;
width: 130px;
height: 36px;
line-height: 100px;
overflow: hidden;
float: left;
}
.login_ljzc {
background: url("../../img/tuan/login_ib_input.png") no-repeat 0px -84px;
width: 100px;
height: 27px;
line-height: 100px;
padding-left:50px;
overflow: hidden;
float: left;
}
.login_other {
	margin: 10px 0px 0px; padding: 0px 0px 0px 30px;
}
.login_other a {
	background: url("../../img/tuan/login_ib_other.png") no-repeat 0px 0px; margin: 0px 0px 8px; width: 100px; height: 16px; line-height: 18px; overflow: hidden; padding-left: 20px; float: left; display: block;
}
.login_other a.lo_sina {
	width: 115px;
}

.login_other a.lo_qq {
	background-position: 0px -32px;
}
.layout {
	MARGIN: 0px auto; WIDTH: 1000px
}
.mainWrap .main {
	WIDTH: 745px; FLOAT: left
}
.mainWrap .side {
	WIDTH: 240px; FLOAT: right
}
.hotBox {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid
}
.linkBox {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid
}
.mainList .con {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid
}
.mainSo .con {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid
}
.rankBox .rank {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid
}
.hisFocus {
	BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; BORDER-TOP: #d4d4d4 1px solid; BORDER-RIGHT: #d4d4d4 1px solid
}
.hotBox {
	HEIGHT: 258px
}
.hotBox .txtBox {
	POSITION: relative; LINE-HEIGHT: 24px; PADDING-LEFT: 33px; WIDTH: 258px; DISPLAY: inline; OVERFLOW: hidden
}
.hotBox .picBox {
	WIDTH: 452px
}
.hotBox .txtBox .iconHot {
	POSITION: absolute; WIDTH: 39px; DISPLAY: block; BACKGROUND-POSITION: -640px 0px; HEIGHT: 39px; TOP: 0px; LEFT: 0px
}
.hotBox .txtBox .price {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; FONT: 20px/24px "Î¢ÈíÑÅºÚ","ºÚÌå"; COLOR: #ff0000; PADDING-TOP: 0px
}
.hotBox .txtBox .num {
	FONT: bold 12px/24px Arial; COLOR: #ee5f00
}
.hotBox .txtBox H2 {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 17px
}
.hotBox .txtBox H2 A {
	FONT: bold 22px/24px "Î¢ÈíÑÅºÚ","ºÚÌå"; COLOR: #3651ae
}
.hotBox .txtBox .txtList {
	COLOR: #888
}
.hotBox .txtBox .txtList A {
	COLOR: #888
}
.hotBox .txtBox .txtList {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 21px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-LEFT: -4px; PADDING-TOP: 5px
}
.hotBox .txtBox .btn {
	TEXT-ALIGN: center; LINE-HEIGHT: 33px; WIDTH: 106px; DISPLAY: block; BACKGROUND-POSITION: -110px -30px; FLOAT: left; HEIGHT: 33px; COLOR: #fff; FONT-SIZE: 14px; CURSOR: pointer; FONT-WEIGHT: bold
}
.hotBox .txtBox .ft .numBox {
	PADDING-LEFT: 14px
}
.hotBox .txtBox .ft .num {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT: bold 14px/31px Arial; PADDING-TOP: 0px
}
.main .linkBox {
	HEIGHT: 61px
}
.main .linkBox UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 36px; PADDING-TOP: 16px
}
.main .linkBox LI {
	LINE-HEIGHT: 36px; PADDING-LEFT: 30px; WIDTH: 215px; HEIGHT: 36px; MARGIN-LEFT: 12px; OVERFLOW: hidden; BORDER-RIGHT: #e2e2e2 1px solid
}
.main .linkBox LI H2 {
	FONT: 16px/36px "Î¢ÈíÑÅºÚ","ºÚÌå"
}
.main .linkBox LI SPAN {
	PADDING-LEFT: 10px; WHITE-SPACE: nowrap; HEIGHT: 36px; COLOR: #909090
}
.main .linkBox .item1 {
	BACKGROUND-POSITION: -720px -54px
}
.main .linkBox .item2 {
	BACKGROUND-POSITION: -720px -94px
}
.main .linkBox .item3 {
	WIDTH: 185px; BACKGROUND-POSITION: -720px -134px; BORDER-RIGHT-STYLE: none
}
.mainList .tit {
	POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 12px; PADDING-RIGHT: 6px; BACKGROUND-POSITION: 0px -170px; HEIGHT: 30px; PADDING-TOP: 0px
}
.mainSo .tit {
	POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 12px; PADDING-RIGHT: 6px; BACKGROUND-POSITION: 0px -170px; HEIGHT: 30px; PADDING-TOP: 0px
}
.hisFocus .hd {
	POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 12px; PADDING-RIGHT: 6px; BACKGROUND-POSITION: 0px -170px; HEIGHT: 30px; PADDING-TOP: 0px
}
.mainList .tit H2 {
	FONT: 20px/22px "Î¢ÈíÑÅºÚ","ºÚÌå"; COLOR: #333
}
.mainSo .tit H2 {
	FONT: 20px/22px "Î¢ÈíÑÅºÚ","ºÚÌå"; COLOR: #333
}
.hisFocus .hd H2 {
	FONT: 20px/22px "Î¢ÈíÑÅºÚ","ºÚÌå"; COLOR: #333
}
.mainList .tit .more {
	COLOR: #888
}
.mainList .con {
	MARGIN-TOP: -1px; BORDER-TOP-STYLE: none
}
.mainList .item {
	PADDING-BOTTOM: 25px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BORDER-TOP: #c8c8c8 1px dotted; PADDING-TOP: 25px
}
.mainList .itemBg {
	BACKGROUND: #f8f8f8
}
.mainList .txtBox {
	LINE-HEIGHT: 24px; WIDTH: 300px; COLOR: #505050; FONT-SIZE: 14px
}
.mainList .txtBox .hd H3 {
	WIDTH: 300px
}
.mainList .picBox {
	WIDTH: 370px
}
.mainList .txtBox .bd {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 7px
}
.mainList .txtBox .line {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #989898; PADDING-TOP: 0px
}
.mainList .detail .line {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #989898; PADDING-TOP: 0px
}
.mainList .txtBox H3 A {
	FONT: bold 20px/30px "Î¢ÈíÑÅºÚ","ºÚÌå"; WORD-WRAP: break-word; COLOR: #333; WORD-BREAK: break-all
}
.mainList .txtBox H3 A SPAN {
	WHITE-SPACE: nowrap
}
.mainList .txtBox .day {
	COLOR: #1e3e9f
}
.mainList .txtBox .num {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT: bold 14px/31px Arial; COLOR: #ee5f00; PADDING-TOP: 0px
}
.mainList .txtBox .list {
	PADDING-BOTTOM: 9px; LINE-HEIGHT: 28px; MARGIN-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #222; BORDER-TOP: #c8c8c8 1px dotted; PADDING-TOP: 5px
}
.mainList .txtBox .list LI SPAN {
	COLOR: #666
}
.mainList .txtBox .btn {
	TEXT-ALIGN: center; LINE-HEIGHT: 33px; MARGIN: 0px auto; WIDTH: 106px; DISPLAY: block; HEIGHT: 33px; FONT-WEIGHT: bold
}
.mainList .txtBox .btnBm {
	BACKGROUND-POSITION: -110px -30px; COLOR: #fff; CURSOR: pointer
}
.mainList .txtBox .btnRes {
	BACKGROUND-POSITION: -230px -30px; COLOR: #808080; CURSOR: auto
}
.hotBox .txtBox .btnRes {
	BACKGROUND-POSITION: -230px -30px; COLOR: #808080; CURSOR: auto
}
.mainList .lineList {
	WIDTH: 100%; BACKGROUND-POSITION: 0px -240px
}
.mainList .lineList .lineItem {
	
}
.mainList .lineList .iconDot {
	POSITION: relative; MARGIN: 0px auto 2px; WIDTH: 30px; DISPLAY: block; BACKGROUND-POSITION: -595px 15px; HEIGHT: 32px
}
.mainList .lineList .detail {
	Z-INDEX: 2; BORDER-BOTTOM: #adb9e8 3px solid; POSITION: absolute; BORDER-LEFT: #adb9e8 3px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 17px; WIDTH: 309px; PADDING-RIGHT: 17px; DISPLAY: none; BACKGROUND: #fff; HEIGHT: 152px; BORDER-TOP: #adb9e8 3px solid; BORDER-RIGHT: #adb9e8 3px solid; PADDING-TOP: 16px; TOP: -166px; LEFT: -161px
}
.mainList .lineList .detail EM {
	POSITION: absolute; WIDTH: 11px; BOTTOM: -10px; DISPLAY: block; BACKGROUND-POSITION: -560px -120px; HEIGHT: 7px; MARGIN-LEFT: -5px; OVERFLOW: hidden; LEFT: 50%
}
.mainList .lineList .txtBox2 {
	LINE-HEIGHT: 24px; PADDING-LEFT: 153px
}
.mainList .lineList .num {
	PADDING-RIGHT: 3px; FONT: bold 14px/31px Arial; COLOR: #ee5f00
}
.mainList .lineList .tese {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 12px
}
.mainList .lineList .current .detail {
	DISPLAY: block
}
.mainList .lineList .current {
	BACKGROUND-POSITION: -595px -5px
}
.mainSo .con {
	WIDTH: 743px; BORDER-TOP-STYLE: none
}
.resBox .resHd {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 15px
}
.resBox .resHd .iconDt {
	PADDING-LEFT: 15px; BACKGROUND-POSITION: -730px -207px; CURSOR: pointer
}
.resBox .resHd .iconList {
	PADDING-LEFT: 15px; BACKGROUND-POSITION: -730px -225px; CURSOR: pointer
}
.resBox .resBd {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.resBox .hdList {
	DISPLAY: none
}
.resBox .hdMap {
	DISPLAY: none
}
.resBox .resList {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; WIDTH: 728px; PADDING-RIGHT: 0px; DISPLAY: none; OVERFLOW: hidden; PADDING-TOP: 0px
}
.resBox .item {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 21px; MARGIN: 9px 15px 9px 0px; PADDING-LEFT: 5px; WIDTH: 155px; PADDING-RIGHT: 5px; FLOAT: left; HEIGHT: 206px; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid; PADDING-TOP: 5px
}
.resBox .item .picBox {
	POSITION: relative; WIDTH: 155px; HEIGHT: 103px; OVERFLOW: hidden
}
.resBox .item .iconSc {
	Z-INDEX: 2; POSITION: absolute; WIDTH: 20px; BACKGROUND-POSITION: -250px 0px; HEIGHT: 22px; RIGHT: 0px; TOP: 0px; _top: 1px; _right: -1px
}
.resBox .item .picShade {
	POSITION: absolute; TEXT-ALIGN: center; FILTER: alpha(opacity=90); PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 155px; PADDING-RIGHT: 0px; DISPLAY: none; BACKGROUND: #e37400; HEIGHT: 83px; COLOR: #fff; PADDING-TOP: 40px; TOP: 0px; LEFT: 0px; opacity: 0.9
}
.resBox .item .txtBox {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #000; PADDING-TOP: 5px
}
.resBox .item .txtBox .ca {
	COLOR: #666
}
.resBox .item .txtBox .num {
	COLOR: #ee5f00
}
.resBox .item .btnBox {
	TEXT-ALIGN: center; PADDING-LEFT: 13px; HEIGHT: 21px; OVERFLOW: hidden
}
.resBox .item .btnBox .btn {
	BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #f8f8f8; WIDTH: 51px; DISPLAY: inline-block; BACKGROUND-POSITION: 100px 100px; FLOAT: left; HEIGHT: 18px; MARGIN-LEFT: 5px; BORDER-TOP: #d8d8d8 1px solid; CURSOR: pointer; BORDER-RIGHT: #d8d8d8 1px solid
}
.resBox .item .btnBox .over {
	COLOR: #a6a6a6; CURSOR: auto
}
.resBox .hover {
	BORDER-BOTTOM: #d8dbe8 1px solid; BORDER-LEFT: #d8dbe8 1px solid; BACKGROUND: #f8f8f8; BORDER-TOP: #d8dbe8 1px solid; BORDER-RIGHT: #d8dbe8 1px solid
}
.resBox .hover .picShade {
	DISPLAY: block
}
.resBox .hover .btnBox .btn {
	BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: center; LINE-HEIGHT: 20px; BORDER-LEFT-STYLE: none; WIDTH: 53px; DISPLAY: inline-block; BORDER-TOP-STYLE: none; HEIGHT: 20px; COLOR: #fff; BORDER-RIGHT-STYLE: none; CURSOR: pointer; TEXT-DECORATION: none
}
.resBox .mapLayer .ft .btn {
	BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: center; LINE-HEIGHT: 20px; BORDER-LEFT-STYLE: none; WIDTH: 53px; DISPLAY: inline-block; BORDER-TOP-STYLE: none; HEIGHT: 20px; COLOR: #fff; BORDER-RIGHT-STYLE: none; CURSOR: pointer; TEXT-DECORATION: none
}
.resBox .hover .btnBox .scBtn {
	BACKGROUND-POSITION: -190px 0px
}
.resBox .mapLayer .ft .scBtn {
	BACKGROUND-POSITION: -190px 0px
}
.resBox .hover .btnBox .ztBtn {
	BACKGROUND-POSITION: -130px 0px
}
.resBox .mapLayer .ft .ztBtn {
	BACKGROUND-POSITION: -130px 0px
}
.resBox .hover .btnBox .over {
	BORDER-BOTTOM: #d8d8d8 1px solid; BORDER-LEFT: #d8d8d8 1px solid; LINE-HEIGHT: 18px; WIDTH: 51px; BACKGROUND: #f8f8f8; HEIGHT: 18px; COLOR: #a6a6a6; BORDER-TOP: #d8d8d8 1px solid; BORDER-RIGHT: #d8d8d8 1px solid
}
.resBox .resMap {
	BORDER-BOTTOM: #a6adc9 1px solid; POSITION: relative; BORDER-LEFT: #a6adc9 1px solid; MARGIN: 10px auto; WIDTH: 700px; DISPLAY: none; HEIGHT: 520px; BORDER-TOP: #a6adc9 1px solid; BORDER-RIGHT: #a6adc9 1px solid
}
.tabList .hdList {
	DISPLAY: block
}
.tabList .resList {
	DISPLAY: block
}
.tabMap .hdMap {
	DISPLAY: block
}
.tabMap .resMap {
	DISPLAY: block
}
.resBox .hdMap .keyWord {
	PADDING-BOTTOM: 2px; MARGIN: 0px 5px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #ea7704; COLOR: #fff; PADDING-TOP: 2px
}
.resBox .hdMap .num {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #ee5f00; PADDING-TOP: 0px
}
.resBox .hdMap .btn {
	COLOR: #5c74c1; MARGIN-LEFT: 10px
}
.resBox .mapLayer {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 15px; WIDTH: 436px; PADDING-RIGHT: 15px; HEIGHT: 262px; PADDING-TOP: 15px
}
.resBox .mapLayer .hd {
	PADDING-BOTTOM: 14px
}
.resBox .mapLayer .hd EM {
	MARGIN: 4px 0px 0px 15px; WIDTH: 40px; DISPLAY: inline-block; BACKGROUND-POSITION: -600px -70px; FLOAT: left; HEIGHT: 15px
}
.resBox .mapLayer .hd .shou_ing {
	BACKGROUND-POSITION: -600px -70px
}
.resBox .mapLayer .hd .shou_wait {
	BACKGROUND-POSITION: -600px -120px
}
.resBox .mapLayer .hd .shou_end {
	BACKGROUND-POSITION: -650px -70px
}
.resBox .mapLayer .hd .btnClose {
	WIDTH: 16px; DISPLAY: inline-block; BACKGROUND-POSITION: -620px -50px; HEIGHT: 17px; CURSOR: pointer
}
.resBox .mapLayer .bd {
	POSITION: relative; PADDING-BOTTOM: 5px; LINE-HEIGHT: 28px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #505050; BORDER-TOP: #e6e8ed 1px solid; PADDING-TOP: 5px
}
.resBox .mapLayer .picBox {
	POSITION: absolute; WIDTH: 126px; HEIGHT: 120px; COLOR: #b2bee5; RIGHT: 0px; TOP: 13px
}
.resBox .mapLayer .picBox IMG {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: #dddddd 1px solid; PADDING-TOP: 2px
}
.resBox .mapLayer A {
	COLOR: #5a73c8
}
.resBox .mapLayer .ft {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #b2bee5; PADDING-TOP: 10px
}
.resEmpty {
	TEXT-ALIGN: center; PADDING-BOTTOM: 100px; LINE-HEIGHT: 30px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #999; PADDING-TOP: 70px
}
.resEmpty A {
	COLOR: #4156ac
}
.resEmpty .emptyTxt {
	FONT: 20px/30px "Î¢ÈíÑÅºÚ","ºÚÌå"; COLOR: #464545
}
.resBox .resListFt {
	PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; HEIGHT: 26px; PADDING-TOP: 15px
}
.resBox .resListFt .rankDate {
	BORDER-BOTTOM: #abadb3 1px solid; BORDER-LEFT: #abadb3 1px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 21px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #abadb3 1px solid; MARGIN-RIGHT: 12px; BORDER-RIGHT: #abadb3 1px solid; PADDING-TOP: 1px
}
.resBox .resListFt .sortBox EM {
	MARGIN: -2px 0px 0px 2px; WIDTH: 11px; DISPLAY: inline-block; HEIGHT: 10px; VERTICAL-ALIGN: middle; _margin-top: 0
}
.resBox .resListFt .sortBox .down {
	BACKGROUND-POSITION: -670px -40px
}
.resBox .resListFt .sortBox .up {
	BACKGROUND-POSITION: -650px -40px
}
.resBox .resListFt .pageBox A {
	BORDER-BOTTOM: #d8d8d8 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d8d8d8 1px solid; PADDING-BOTTOM: 4px; LINE-HEIGHT: 24px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: #f8f8f8; COLOR: #000; BORDER-TOP: #d8d8d8 1px solid; BORDER-RIGHT: #d8d8d8 1px solid; PADDING-TOP: 4px
}
.resBox .resListFt .pageBox SPAN {
	BORDER-BOTTOM: #d8d8d8 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d8d8d8 1px solid; PADDING-BOTTOM: 4px; LINE-HEIGHT: 24px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: #f8f8f8; COLOR: #000; BORDER-TOP: #d8d8d8 1px solid; BORDER-RIGHT: #d8d8d8 1px solid; PADDING-TOP: 4px
}
.resBox .resListFt .pageBox .current {
	BORDER-BOTTOM-COLOR: #788dd9; BORDER-TOP-COLOR: #788dd9; BACKGROUND: #788dd9; COLOR: #fff; BORDER-RIGHT-COLOR: #788dd9; BORDER-LEFT-COLOR: #788dd9; TEXT-DECORATION: none
}
.resBox .resListFt .pageBox A:hover {
	BORDER-BOTTOM-COLOR: #788dd9; BORDER-TOP-COLOR: #788dd9; BACKGROUND: #788dd9; COLOR: #fff; BORDER-RIGHT-COLOR: #788dd9; BORDER-LEFT-COLOR: #788dd9; TEXT-DECORATION: none
}
.resBox .resListFt SPAN.prev {
	COLOR: #9c9c9c
}
.resBox .resListFt .rankPrice {
	BORDER-BOTTOM: #c6c6c6 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #c6c6c6 1px solid; LINE-HEIGHT: 20px; DISPLAY: inline-block; BACKGROUND-POSITION: -600px -90px; HEIGHT: 20px; BORDER-TOP: #c6c6c6 1px solid; CURSOR: pointer; BORDER-RIGHT: #c6c6c6 1px solid; _padding-top: 5px; _height: 15px
}
.resBox .resListFt .kpDate {
	BORDER-BOTTOM: #c6c6c6 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #c6c6c6 1px solid; LINE-HEIGHT: 20px; DISPLAY: inline-block; BACKGROUND-POSITION: -600px -90px; HEIGHT: 20px; BORDER-TOP: #c6c6c6 1px solid; CURSOR: pointer; BORDER-RIGHT: #c6c6c6 1px solid; _padding-top: 5px; _height: 15px
}
.resBox .resListFt .rankPrice {
	WIDTH: 50px
}
.resBox .resListFt .kpDate {
	BORDER-LEFT-STYLE: none; WIDTH: 74px
}
.rankBox .rank {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; WIDTH: 323px; PADDING-RIGHT: 20px; BORDER-TOP: #8e9fe1 2px solid; PADDING-TOP: 0px
}
.rankBox .rank .hd {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 27px; PADDING-TOP: 10px
}
.rankBox .rank .hd H3 {
	FONT: 18px/27px "Î¢ÈíÑÅºÚ","ºÚÌå"; COLOR: #222
}
.rankBox .rank TABLE {
	LINE-HEIGHT: 30px; WIDTH: 100%
}
.rankBox .rank TH {
	COLOR: #989898; FONT-WEIGHT: normal
}
.rankBox .rank TH.col4 {
	COLOR: #989898
}
.rankBox .rank TD {
	TEXT-ALIGN: center; FONT-SIZE: 14px
}
.rankBox .rank .rankItem {
	LINE-HEIGHT: 30px; HEIGHT: 30px; VERTICAL-ALIGN: top; OVERFLOW: hidden
}
.rankBox .rank .listHd {
	LINE-HEIGHT: 30px; HEIGHT: 30px; OVERFLOW: hidden
}
.rankBox .rank .listHd SPAN {
	TEXT-ALIGN: center; COLOR: #989898
}
.rankBox .rank .listHd .col2 {
	TEXT-ALIGN: left
}
.rankBox .rank .col1 {
	TEXT-ALIGN: center; FLOAT: left
}
.rankBox .rank .col2 {
	TEXT-ALIGN: center; FLOAT: left
}
.rankBox .rank .col3 {
	TEXT-ALIGN: center; FLOAT: left
}
.rankBox .rank .col4 {
	TEXT-ALIGN: center; FLOAT: left
}
.rankBox .rank .col5 {
	TEXT-ALIGN: center; FLOAT: left
}
.rankBox .rank .col1 {
	WIDTH: 23px
}
.rankBox .rank .col1 SPAN {
	BORDER-BOTTOM: #d8d8d8 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d8d8d8 1px solid; LINE-HEIGHT: 14px; MARGIN-TOP: 7px; WIDTH: 15px; DISPLAY: inline-block; BACKGROUND: #f0f0f0; HEIGHT: 14px; COLOR: #54669d; FONT-SIZE: 11px; BORDER-TOP: #d8d8d8 1px solid; BORDER-RIGHT: #d8d8d8 1px solid
}
.rankBox .rank .col1 .top {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 16px; BORDER-LEFT-STYLE: none; WIDTH: 17px; BORDER-TOP-STYLE: none; BACKGROUND: #92a6e7; HEIGHT: 16px; COLOR: #fff; BORDER-RIGHT-STYLE: none
}
.rankBox .rank .col2 {
	TEXT-ALIGN: left; PADDING-LEFT: 10px; WIDTH: 137px
}
.rankBox .rank .col2 A {
	COLOR: #222; FONT-SIZE: 14px
}
.rankBox .rank .col3 {
	WIDTH: 38px; COLOR: #989898
}
.rankBox .rank .col4 {
	TEXT-ALIGN: center; WIDTH: 65px; COLOR: #ee5f00
}
.rankBox .rank .col5 {
	WIDTH: 49px; FLOAT: right
}
.rankBox .rank .col5 .qiang {
	BORDER-BOTTOM: #dadada 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #dadada 1px solid; LINE-HEIGHT: 18px; MARGIN-TOP: 3px; WIDTH: 34px; DISPLAY: inline-block; BACKGROUND-POSITION: -280px 0px; HEIGHT: 18px; COLOR: #222; FONT-SIZE: 12px; BORDER-TOP: #dadada 1px solid; CURSOR: pointer; BORDER-RIGHT: #dadada 1px solid
}
.rankBox .rank .col4 .zutuan {
	BORDER-BOTTOM: #dadada 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #dadada 1px solid; LINE-HEIGHT: 18px; MARGIN-TOP: 3px; WIDTH: 34px; DISPLAY: inline-block; BACKGROUND-POSITION: -280px 0px; HEIGHT: 18px; COLOR: #222; FONT-SIZE: 12px; BORDER-TOP: #dadada 1px solid; CURSOR: pointer; BORDER-RIGHT: #dadada 1px solid
}
.rankBox .rank .col5 .over {
	COLOR: #a6a6a6; CURSOR: auto
}
.rankBox .rank2 .col4 .over {
	COLOR: #a6a6a6; CURSOR: auto
}
.rankBox .rank .col4 .zutuan {
	LINE-HEIGHT: 21px; WIDTH: 48px; HEIGHT: 21px
}
.rankBox .rank2 .col1 {
	WIDTH: 23px
}
.rankBox .rank2 .col2 {
	WIDTH: 137px
}
.rankBox .rank2 .col3 {
	WIDTH: 88px
}
.rankBox .rank2 .col4 {
	WIDTH: 65px
}
.hisFocus {
	BORDER-TOP: #8e9fe1 2px solid
}
.hisFocus .hd {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; HEIGHT: 30px; OVERFLOW: hidden; PADDING-TOP: 10px
}
.hisFocus .bd {
	POSITION: relative; PADDING-BOTTOM: 10px; WIDTH: 714px; HEIGHT: 160px; MARGIN-LEFT: 10px; OVERFLOW: hidden
}
.hisFocus .split {
	POSITION: relative; WIDTH: 714px; FLOAT: left; HEIGHT: 160px
}
.hisFocus .split LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 10px; WIDTH: 218px; PADDING-RIGHT: 10px; FLOAT: left; HEIGHT: 160px; PADDING-TOP: 0px
}
.hisFocus .split LI IMG {
	MARGIN-BOTTOM: 5px
}
.hisFocus .split .num {
	FONT-FAMILY: Georgia,Tahoma,Arial; COLOR: #ee5f00; FONT-SIZE: 18px; VERTICAL-ALIGN: middle
}
.hisFocus .pageBtn .list {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: right; HEIGHT: 8px; PADDING-TOP: 11px
}
.hisFocus .pageBtn .list LI {
	LINE-HEIGHT: 0; TEXT-INDENT: -9999px; MARGIN: 0px 6px 0px 0px; WIDTH: 8px; BACKGROUND: url(../../img/tuan/icons.png) no-repeat -614px -40px; FLOAT: left; HEIGHT: 8px; CURSOR: pointer
}
.hisFocus .pageBtn .list .on {
	BACKGROUND-POSITION: -600px -40px
}
.hisFocus .pageList {
	POSITION: absolute; HEIGHT: 160px; OVERFLOW: hidden
}
.side .userBox {
	BORDER-BOTTOM: #d4daf0 1px solid; BORDER-LEFT: #d4daf0 1px solid; BORDER-TOP: #d4daf0 1px solid; BORDER-RIGHT: #d4daf0 1px solid
}
.side .userBox .hd {
	BORDER-BOTTOM: #becaee 1px dotted; TEXT-ALIGN: center; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #edf2fa; HEIGHT: 65px; COLOR: #afafaf; PADDING-TOP: 14px
}
.side .userBox .hd A {
	COLOR: #505050
}
.side .userBox .login {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; LINE-HEIGHT: 23px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: auto; COLOR: #505050; PADDING-TOP: 5px
}
.side .userBox .login SUP {
	FONT-FAMILY: Arial; COLOR: #ee5f00; FONT-WEIGHT: bold
}
.side .userBox .login .num {
	COLOR: #6d7ebc
}
.side .userBox .login .date {
	COLOR: #888
}
.side .userBox .tuanList {
	PADDING-BOTTOM: 5px; MARGIN-TOP: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: #becaee 1px dotted; PADDING-TOP: 5px
}
.side .userBox .myList {
	PADDING-BOTTOM: 5px
}
.side .userBox .loginOut {
	CURSOR: pointer
}
.side .userBox .userLogin {
	TEXT-INDENT: -9999px; MARGIN: 0px auto 5px; WIDTH: 153px; DISPLAY: block; BACKGROUND-POSITION: -180px -70px; HEIGHT: 37px; CURSOR: pointer
}
.side .userBox .bd {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #888; PADDING-TOP: 5px
}
.side .userBox .bd H3 {
	PADDING-BOTTOM: 5px
}
.side .userBox .bd A {
	COLOR: #222
}
.side .userBox .bd .num {
	FONT-FAMILY: Arial; COLOR: #ee5f00; FONT-WEIGHT: bold
}
.side .userBox .bd UL {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.side .bmMod .hd {
	BORDER-BOTTOM: #bcc3d2 1px solid; HEIGHT: 32px
}
.side .yhMod .hd {
	BORDER-BOTTOM: #bcc3d2 1px solid; HEIGHT: 32px
}
.side .kpMod .hd {
	BORDER-BOTTOM: #bcc3d2 1px solid; HEIGHT: 32px
}
.side .bdMod .hd {
	BORDER-BOTTOM: #bcc3d2 1px solid; HEIGHT: 32px
}
.side .bmMod .hd H3 {
	FONT: 16px/32px "Î¢ÈíÑÅºÚ","ºÚÌå"
}
.side .yhMod .hd H3 {
	FONT: 16px/32px "Î¢ÈíÑÅºÚ","ºÚÌå"
}
.side .kpMod .hd H3 {
	FONT: 16px/32px "Î¢ÈíÑÅºÚ","ºÚÌå"
}
.side .bdMod .hd H3 {
	FONT: 16px/32px "Î¢ÈíÑÅºÚ","ºÚÌå"
}
.side .bmMod .bd {
	HEIGHT: 125px; COLOR: #666; PADDING-TOP: 8px
}
.side .bmMod .bmList {
	POSITION: relative; WIDTH: 240px; HEIGHT: 120px; OVERFLOW: hidden
}
.side .bdMod .bd {
	BACKGROUND-POSITION: -340px 0px; HEIGHT: 113px; PADDING-TOP: 2px
}
.side .bdMod .bd LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 33px; PADDING-LEFT: 30px; WIDTH: 90px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 33px; PADDING-TOP: 0px
}
.side .sideRank {
	WIDTH: 240px
}
.side .sideRank .bd {
	LINE-HEIGHT: 28px; COLOR: #222
}
.side .sideRank .rankItem .info {
	HEIGHT: 28px; OVERFLOW: hidden
}
.side .sideRank .bd .listHd {
	HEIGHT: 28px; OVERFLOW: hidden
}
.side .sideRank .listHd {
	COLOR: #989898
}
.side .sideRank SPAN {
	FLOAT: left; HEIGHT: 28px
}
.side .sideRank .col1 {
	WIDTH: 26px; HEIGHT: 22px; PADDING-TOP: 6px
}
.side .sideRank .col2 {
	WIDTH: 108px
}
.side .sideRank .col3 {
	TEXT-ALIGN: center; WIDTH: 35px; COLOR: #989898
}
.side .sideRank .col4 {
	TEXT-ALIGN: right; WIDTH: 70px
}
.side .sideRank .num {
	COLOR: #eb7501
}
.side .sideRank .col1 EM {
	BORDER-BOTTOM: #e7e7e7 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #e7e7e7 1px solid; LINE-HEIGHT: 14px; WIDTH: 15px; DISPLAY: inline-block; BACKGROUND: #f0f0f0; HEIGHT: 14px; COLOR: #54669d; FONT-SIZE: 11px; BORDER-TOP: #e7e7e7 1px solid; BORDER-RIGHT: #e7e7e7 1px solid
}
.side .sideRank .col1 .top {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 16px; BORDER-LEFT-STYLE: none; WIDTH: 17px; BORDER-TOP-STYLE: none; HEIGHT: 16px; COLOR: #fff; BORDER-RIGHT-STYLE: none
}
.side .sideRank .moreInfo {
	MARGIN: 6px 0px; DISPLAY: none; BACKGROUND: #f5f5f5
}
.side .sideRank .moreInfo .txtBox {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 117px; PADDING-RIGHT: 0px; COLOR: #666; PADDING-TOP: 10px
}
.side .sideRank .current .moreInfo {
	DISPLAY: block
}
.side .yhMod .col1 .top {
	BACKGROUND: #f17b07
}
.side .kpMod .col1 .top {
	BACKGROUND: #6ab83f
}
.fs_E2 {
	POSITION: relative; WIDTH: 743px; HEIGHT: 258px
}
.fs_E2 .shadow A {
	COLOR: #ffffff; MARGIN-LEFT: 10px; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: bolder; TEXT-DECORATION: none
}
.fs_E2 .fcon {
	POSITION: relative; WIDTH: 743px; FLOAT: left; HEIGHT: 258px
}
.fs_E2 .E2fBt {
	Z-INDEX: 10; POSITION: absolute; BOTTOM: 17px; ZOOM: 1; OVERFLOW: hidden; RIGHT: 13px
}
.fs_E2 .E2fBt A {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 18px; MARGIN: 0px 7px 0px 0px; WIDTH: 18px; DISPLAY: inline; BACKGROUND: #303b72; FLOAT: left; HEIGHT: 18px; COLOR: #fff
}
.fs_E2 .E2fBt A:hover {
	BACKGROUND: #f17a0f; TEXT-DECORATION: none
}
.fs_E2 .E2fBt A.current {
	BACKGROUND: #f17a0f; TEXT-DECORATION: none
}
.fs_E2 .fcon IMG {
	WIDTH: 452px; DISPLAY: block; HEIGHT: 258px
}
.fs_E2 .fix {
	POSITION: relative; WIDTH: 9999px; HEIGHT: 258px
}
.fs_E2 .fPs {
	POSITION: relative; WIDTH: 100%; OVERFLOW: hidden
}
.search {
	Z-INDEX: 3; BORDER-BOTTOM: #e0e0e0 1px solid; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 27px; PADDING-RIGHT: 0px; BACKGROUND: #f6f6f6; HEIGHT: 54px; COLOR: #3d3d3d; PADDING-TOP: 25px
}
.search .arr {
	POSITION: absolute; WIDTH: 15px; BOTTOM: -8px; DISPLAY: block; BACKGROUND-POSITION: -560px -130px; HEIGHT: 8px; OVERFLOW: hidden; LEFT: 40px; _bottom: -9px
}
.search INPUT {
	VERTICAL-ALIGN: middle
}
.search .input01 {
	BORDER-BOTTOM: #b9c0dc 1px solid; BORDER-LEFT: #b9c0dc 1px solid; LINE-HEIGHT: 30px; MARGIN-TOP: -1px; PADDING-LEFT: 9px; WIDTH: 195px; HEIGHT: 30px; COLOR: #b0b0b0; VERTICAL-ALIGN: middle; BORDER-TOP: #b9c0dc 1px solid; BORDER-RIGHT: #b9c0dc 1px solid; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px
}
.search .input01_2 {
	BORDER-BOTTOM: #b9c0dc 1px solid; BORDER-LEFT: #b9c0dc 1px solid; LINE-HEIGHT: 30px; MARGIN-TOP: -1px; PADDING-LEFT: 9px; WIDTH: 195px; HEIGHT: 30px; COLOR: #b0b0b0; VERTICAL-ALIGN: middle; BORDER-TOP: #b9c0dc 1px solid; BORDER-RIGHT: #b9c0dc 1px solid; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px
}
.search .input01_2 {
	WIDTH: 500px; COLOR: #999
}
.search .input02 {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 81px; BACKGROUND: url(../../img/tuan/icons.png) no-repeat -470px -120px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 32px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer
}
.search .input_box {
	Z-INDEX: 99; POSITION: relative; WIDTH: 214px; FLOAT: left
}
.dropDownList {
	Z-INDEX: 99; POSITION: relative; FLOAT: left
}
.dropDownList SELECT {
	DISPLAY: none
}
.dropDownList .dropdown {
	Z-INDEX: 12; POSITION: relative; WIDTH: 133px; DISPLAY: inline; FLOAT: left
}
.dropDownList SPAN {
	LINE-HEIGHT: 32px; TEXT-INDENT: 12px; WIDTH: 125px; DISPLAY: block; BACKGROUND: url(../../img/tuan/icons.png) no-repeat -130px -120px; HEIGHT: 32px; COLOR: #3d3d3d; CURSOR: pointer
}
.dropDownList SPAN.over {
	BACKGROUND: url(../../img/tuan/icons.png) no-repeat 0px -120px
}
.dropDownList UL {
	Z-INDEX: 200; BORDER-BOTTOM: #b9c0dc 1px solid; POSITION: absolute; BORDER-LEFT: #b9c0dc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 119px; PADDING-RIGHT: 2px; DISPLAY: none; BACKGROUND: #fff; BORDER-TOP: #b9c0dc 1px solid; BORDER-RIGHT: #b9c0dc 1px solid; PADDING-TOP: 2px; TOP: 30px; LEFT: 0px
}
.dropDownList UL LI {
	PADDING-BOTTOM: 3px; TEXT-INDENT: 12px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; HEIGHT: 20px; CURSOR: default; PADDING-TOP: 3px
}
.dropDownList UL LI.over {
	BACKGROUND: #f1f2f7
}
.dropDownList UL.show {
	DISPLAY: block
}
.tcopyright {
	TEXT-ALIGN: center; PADDING-BOTTOM: 8px; LINE-HEIGHT: 28px; MARGIN: 15px auto 0px; PADDING-LEFT: 0px; WIDTH: 1000px; PADDING-RIGHT: 0px; COLOR: #333; CLEAR: both; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 8px
}
.tcopyright .en {
	FONT-FAMILY: Arial
}
.tcopyright A {
	COLOR: #333; TEXT-DECORATION: none
}
.tcopyright A:hover {
	COLOR: #bd0a01; TEXT-DECORATION: underline
}
.layoutBg {
	Z-INDEX: 8888; POSITION: absolute; FILTER: alpha(opacity=20); WIDTH: 100%; DISPLAY: none; BACKGROUND: #000; HEIGHT: 3270px; TOP: 0px; LEFT: 0px; opacity: 0.2
}
.bmResMod {
	Z-INDEX: 9999; BORDER-BOTTOM: #c4c4c4 1px solid; POSITION: fixed; BORDER-LEFT: #c4c4c4 1px solid; PADDING-BOTTOM: 20px; MARGIN: -237px 0px 0px -370px; PADDING-LEFT: 20px; WIDTH: 700px; PADDING-RIGHT: 20px; BACKGROUND: #fff; HEIGHT: 195px; BORDER-TOP: #c4c4c4 1px solid; BORDER-RIGHT: #c4c4c4 1px solid; PADDING-TOP: 20px; TOP: 50%; LEFT: 50%; _position: absolute
}
.bmResMod .resList {
	DISPLAY: block
}
.bmResMod .hd {
	HEIGHT: 220px
}
.bmResMod .hd .btnClose {
	WIDTH: 16px; DISPLAY: inline-block; BACKGROUND-POSITION: -620px -50px; HEIGHT: 17px; CURSOR: pointer
}
.bmResMod .hd H2 {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; FONT: 28px/40px "Î¢ÈíÑÅºÚ","ºÚÌå"; FLOAT: none; COLOR: #ee5f00; PADDING-TOP: 20px
}
.bmResMod .hd H3 {
	DISPLAY: block; FONT: 17px/32px "Î¢ÈíÑÅºÚ","ºÚÌå"; FLOAT: none; COLOR: #222
}
.bmResMod .hd H3 A:hover {
	COLOR: #30499c; TEXT-DECORATION: none
}
.bmResMod .hd H3 EM {
	COLOR: #30499c
}
.bmResMod .hd .btnBox {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 20px
}
.bmResMod .hd .btn {
	BORDER-BOTTOM: #d8d8d8 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #d8d8d8 1px solid; LINE-HEIGHT: 29px; WIDTH: 96px; DISPLAY: inline-block; HEIGHT: 29px; COLOR: #222; BORDER-TOP: #d8d8d8 1px solid; BORDER-RIGHT: #d8d8d8 1px solid
}
.bmResMod .bd {
	WIDTH: 700px; OVERFLOW: hidden
}
.bmResMod .hd .btn:hover {
	TEXT-DECORATION: none
}
.bmResMod .bd {
	BORDER-TOP: #c7c7c7 1px dotted; PADDING-TOP: 10px
}
.bmResMod .bd H3 {
	FONT: 16px/30px "Î¢ÈíÑÅºÚ","ºÚÌå"; COLOR: #222
}
.bmResMod .bd H3 A {
	COLOR: #6e84d0
}
.bmResMod .bd .resList {
	WIDTH: 728px
}
.bmResMod .bd .resList .item {
	MARGIN: 9px 12px 9px 0px
}
.resgInfo {
	Z-INDEX: 9999; BORDER-BOTTOM: #c4c4c4 1px solid; POSITION: relative; BORDER-LEFT: #c4c4c4 1px solid; PADDING-BOTTOM: 20px; MARGIN: -200px 0px 0px -265px; PADDING-LEFT: 25px; WIDTH: 477px; PADDING-RIGHT: 25px; BACKGROUND: #fff; HEIGHT: 355px; BORDER-TOP: #c4c4c4 1px solid; BORDER-RIGHT: #c4c4c4 1px solid; PADDING-TOP: 20px; TOP: 50%; LEFT: 50%; _position: absolute
}
.resgInfo .hd H2 {
	FONT: 22px/30px "Î¢ÈíÑÅºÚ","ºÚÌå"; COLOR: #8d98ba
}
.resgInfo .hd H2 SPAN {
	COLOR: #222; FONT-SIZE: 12px
}
.resgInfo .hd H2 EM {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: #ee5f00; PADDING-TOP: 0px
}
.resgInfo .hd .btnClose {
	WIDTH: 16px; DISPLAY: inline-block; BACKGROUND-POSITION: -620px -50px; HEIGHT: 17px; CURSOR: pointer
}
.resgInfo .bd {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 40px; PADDING-LEFT: 80px; PADDING-RIGHT: 0px; BORDER-TOP: #f0f0f0 1px solid; PADDING-TOP: 18px
}
.resgInfo .bd DIV {
	LINE-HEIGHT: 40px; HEIGHT: 40px
}
.resgInfo .bd A {
	COLOR: #758bd8
}
.resgInfo .bd .name {
	TEXT-ALIGN: right; WIDTH: 70px; DISPLAY: inline-block
}
.resgInfo .bd .name EM {
	PADDING-RIGHT: 4px; COLOR: #ee5f00
}
.resgInfo .bd .txt {
	BORDER-BOTTOM: #adb8c0 1px solid; BORDER-LEFT: #adb8c0 1px solid; LINE-HEIGHT: 27px; WIDTH: 201px; BACKGROUND-POSITION: 0px -210px; HEIGHT: 27px; BORDER-TOP: #adb8c0 1px solid; BORDER-RIGHT: #adb8c0 1px solid
}
.resgInfo .bd .yzmBox {
	PADDING-TOP: 5px
}
.resgInfo .bd .yzmBox .name {
	LINE-HEIGHT: 27px
}
.resgInfo .bd .txtYzm {
	WIDTH: 119px; MARGIN-RIGHT: 6px
}
.resgInfo .bd .picYzm {
	MARGIN-TOP: 0px
}
.resgInfo .bd .submit {
	BORDER-BOTTOM-STYLE: none; TEXT-INDENT: -9999px; BORDER-LEFT-STYLE: none; WIDTH: 107px; BACKGROUND-POSITION: -210px -205px; BORDER-TOP-STYLE: none; HEIGHT: 35px; BORDER-RIGHT-STYLE: none; CURSOR: pointer
}
/**************µ¯³ö²ã*******************/
.Boxheader,.Boxfooter,.Boxbody{ position:relative;}

.headerR,.FooterR,.BodyR{ float:left;width:20px; }
.headerL,.FooterL,.BodyL{ float:left;}

.headerR{background:url(../../img/tuan/lightbox-header.png) no-repeat right 0; height:46px;}
.headerL{background:url(../../img/tuan/lightbox-header.png) no-repeat left 0; height:46px;padding:0 0 0 20px;}

.FooterR{background:url(../../img/tuan/lightbox-footer.png) no-repeat right 0;height:59px;}
.FooterL{background:url(../../img/tuan/lightbox-footer.png) no-repeat left 0;height:39px;padding:10px 0 10px 20px;}



.BodyL{background:url(../../img/tuan/lightbox-body.png) repeat-y left 0;padding:10px 0 10px 20px;}
.BodyR{background:url(../../img/tuan/lightbox-body.png) repeat-y right 0;}

.BoxMask{ height:100%; width:100%;left:0; top:0; background:#000;opacity:0.25;filter:alpha(opacity=25);}

.Boxfooter{height:59px; }
.Boxbody{overflow:hidden;}
.Boxheader{ height:46px;cursor:move; }
.Boxfooter .btn{ display:inline-block; float:right; margin:10px 10px 0 0;}
.boxcover {
position:absolute; left:0; top:0; width:100%; height:100%;
background:#000; opacity:0.7; *filter:alpha(opacity=70);
}